@import "reset";
@import "header";
@import "footer";

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

// container start
#container {
    .cont1 {
        font-family: 'Poppins', sans-serif;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;

        .vidWrap {
            width: 100%;
            height: 100%;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .textWrap {
            position: absolute;
            width: 80%;
            bottom: 140px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            color: #fff;

            h2 {
                font-size: 32px;
                margin-bottom: 20px;
            }

            p {
                font-size: 18px;
                line-height: 30px;
            }
        }

        .scrollWrap {
            position: absolute;
            bottom: 45px;
            left: 50%;
            transform: translateX(-50%);
            transition: all 1s;

            img {
                width: 31px;
            }
        }

        .scrollWrap.move {
            bottom: 30px;
        }
    }

    .cont2 {
        position: relative;
        margin-top: 120vh;
        background-color: #000;
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        padding: 150px 0;

        .center {
            width: 62.5%;

            .topWrap {
                width: 70%;
                margin: 0 auto;
                text-align: center;
                color: #fff;
                margin-bottom: 70px;

                h2 {
                    font-size: 32px;
                    line-height: 50px;
                    margin-bottom: 30px;
                }

                p {
                    font-size: 18px;
                    line-height: 30px;
                }
            }

            .botWrap {
                width: 100%;
                height: 600px;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .cont3 {
        font-family: 'Poppins', sans-serif;
        position: relative;

        .tabWrap {
            background-color: #262626;
            position: static;

            .tabMenu {
                width: 62.5%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;

                li {
                    width: 28%;
                    border-bottom: 2px solid #262626;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 70px;
                    color: #777;
                    font-size: 20px;
                }

                li.on {
                    border-bottom: 2px solid #fff;
                    color: #fff;
                }
            }
        }

        .tabWrap.on {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 20;
        }

        .titleWrap {
            background-color: #262626;
            display: flex;
            justify-content: center;
            padding: 150px 0;

            .center {
                width: 62.5%;
                color: #fff;

                .text {
                    width: 70%;
                    margin: 0 auto;
                    text-align: center;

                    h2 {
                        font-size: 32px;
                        margin-bottom: 30px;
                    }

                    p {
                        font-size: 18px;
                        line-height: 30px;
                    }
                }
            }
        }
    }

    .cont4,
    .cont5,
    .cont6 {
        font-family: 'Poppins', sans-serif;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 100px 0;

        .center {
            width: 62.5%;

            .text {
                color: #fff;
                margin: 50px 0 70px;

                h3 {
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 20px;
                }

                h2 {
                    font-size: 25px;
                    margin-bottom: 20px;
                }

                p {
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 30px;
                }
            }

            .imgs {
                display: flex;
                justify-content: space-between;

                .box {
                    width: 32%;

                    p {
                        color: #fff;
                        margin-bottom: 15px;
                        position: relative;

                        &::after {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 1px;
                            background-color: #555;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                        }

                        >span {
                            font-size: 18px;
                            font-weight: 500;
                            position: relative;
                            background-color: #1c1c1c;
                            z-index: 3;
                            padding-right: 20px;
                        }
                    }

                    >div {
                        position: relative;

                        img {
                            width: 100%;
                        }

                        >span {
                            position: absolute;
                            bottom: 25px;
                            left: 25px;
                            color: #fff;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
    
    .cont4 {
        background-color: #1c1c1c;
    }
    .cont5 {
        background-color: #262626;

            .center {
                .imgs {
                    .box {
                        p {
                            span {
                                background-color: #262626;
                            }
                        }
                    }
                }
            }
    }
    .cont6 {
        background-color: #1c1c1c;
    }

    .cont7 {
        font-family: 'Poppins', sans-serif;
        position: relative;
        background-color: #000;
        padding: 150px 0;

        .titleWrap {
            display: flex;
            justify-content: center;
            margin-bottom: 70px;

            .center {
                width: 62.5%;
                color: #fff;

                .text {
                    width: 60%;
                    margin: 0 auto;
                    text-align: center;

                    h2 {
                        font-size: 32px;
                        margin-bottom: 30px;
                    }

                    p {
                        font-size: 18px;
                        line-height: 30px;
                    }
                }
            }
        }

        .imgWrap {
            display: flex;
            justify-content: center;
            margin-bottom: 200px;

            .center {
                width: 62.5%;

                .topImgs {
                    width: 100%;
                    height: 500px;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        transition: all .5s;
                    }

                    img.on {
                        opacity: 1;
                    }
                }

                .botImgs {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 25px;

                    img {
                        width: 18%;
                        height: 200px;
                        object-fit: cover;
                        opacity: 0.5;
                        transition: all .5s;
                        cursor: pointer;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    img.on {
                        opacity: 1;
                    }
                }

                .memo {
                    margin-top: 20px;
                    text-align: end;
                    color: #fff;
                    font-size: 12px;
                }
            }
        }

        .bannerWrap {
            display: flex;
            justify-content: center;

            .center {
                width: 62.5%;
                height: 350px;
                background-image: url(/img/brand/banner.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;

                a {
                    position: absolute;
                    bottom: 25px;
                    left: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #a50034;
                    color: #fff;
                    width: 250px;
                    height: 50px;
                    font-size: 15px;
                    transition: all .5s;

                    &:hover {
                        background-color: #fff;
                        color: #a50034;
                    }
                }
            }
        }
    }

    .backToTop {
        position: fixed;
        bottom: 50px;
        right: 0px;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #151515;
        color: #fff;
        transition: all .5s;
        z-index: 10;

        &:hover {
            background-color: #a50034;
        }
    }

    .backToTop.show {
        right: 50px;
        opacity: 1;
    }
}
// container end
