@import "reset";
@import "header";
@import "footer";

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

// container start
#container {
    .cont1 {
        font-family: 'Poppins', sans-serif;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;

        .vidWrap {
            width: 100%;
            height: 100%;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .textWrap {
            position: absolute;
            width: 80%;
            bottom: 140px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            color: #fff;

            h2 {
                font-size: 32px;
                margin-bottom: 20px;
            }

            p {
                font-size: 18px;
                line-height: 30px;
            }
        }

        .scrollWrap {
            position: absolute;
            bottom: 45px;
            left: 50%;
            transform: translateX(-50%);
            transition: all 1s;

            img {
                width: 31px;
            }
        }

        .scrollWrap.move {
            bottom: 30px;
        }
    }
    .cont2 {
        position: relative;
        margin-top: 120vh;
        background-color: #000;
        font-family: 'Poppins', sans-serif;
        padding: 150px 0;
        .titleWrap {
            display: flex;
            justify-content: center;
            margin-bottom: 70px;
            .center {
                width: 36%;
                text-align: center;
                h2 {
                    font-size: 32px;
                    margin-bottom: 30px;
                    color: #fff;
                }
                p {
                    font-size: 18px;
                    line-height: 25px;
                    color: #fff;
                }
            }
        }
        .listWrap {
            width: 70%;
            margin: 0 auto;
            position: relative;
            border: 1px solid #4f4f4f;
            .listBar {
                width: 1px;
                height: 100%;
                background-color: #4f4f4f;
                position: absolute;
                top: 0;
            }
            .listBar.one {
                left: 25%;
            }
            .listBar.two {
                left: 50%;
            }
            .listBar.three {
                left: 75%;
            }
            .listInner {
                display: flex;
                flex-wrap: wrap;
                li {
                    width: 25%;
                    border-top: 1px solid #4f4f4f;
                    cursor: pointer;
                    position: relative;
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        border-top: none;
                    }

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #fff;
                        opacity: 0;
                        transition: all .5s;
                    }

                    &:hover {
                        &::after {
                            opacity: 1;
                        }
                    }
                    .wrap {
                        text-align: center;
                        padding: 50px 20px 70px;
                        h3 {
                            color: #fff;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 26px;
                            margin: 20px 0;
                        }
                        h4 {
                            color: rgba(255,255,255,.7);
                            font-weight: 400;
                            line-height: 20px;
                            margin-bottom: 30px;
                        }
                        span {
                            position: absolute;
                            bottom: 50px;
                            left: 50%;
                            transform: translateX(-50%);
                            display: inline-block;
                            color: rgba(255,255,255,.7);
                            padding-bottom: 5px;
                            border-bottom: 2px solid rgba(255,255,255,.7);
                        }
                    }
                }
            }
        }
    }
    .cont3 {
        position: relative;
        background-color: #000;
        font-family: 'Poppins', sans-serif;
        padding: 100px 0;
        .titleWrap {
            display: flex;
            justify-content: center;
            margin-bottom: 70px;
            .center {
                width: 36%;
                text-align: center;
                h2 {
                    font-size: 32px;
                    margin-bottom: 30px;
                    color: #fff;
                }
                p {
                    font-size: 18px;
                    line-height: 25px;
                    color: #fff;
                }
            }
        }
        .listWrap {
            display: flex;
            justify-content: center;
            .listMenu {
                width: 83%;
                display: flex;
                justify-content: space-between;
                li {
                    width: 19%;
                    height: 540px;
                    position: relative;
                    cursor: pointer;
                    &:nth-child(2),
                    &:nth-child(4) {
                        margin-top: 50px;
                    }
                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        top: 0;
                        left: 0;
                        transition: all .5s;
                        &:nth-child(1) {
                            display: block;
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                    }

                    &:hover {
                        img {
                            &:nth-child(2) {
                                opacity: 1;
                            }
                        }
                    }
                    .text {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 30px 30px 0;
                        h4 {
                            font-size: 15px;
                            font-weight: 500;
                            color: rgba(255,255,255,.7);
                        }
                        h3 {
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 26px;
                            margin: 5px 0 20px;
                            color: #fff;
                        }
                        span {
                            display: inline-block;
                            color: rgba(255,255,255,.7);
                            padding-bottom: 3px;
                            border-bottom: 1px solid rgba(255,255,255,.7);
                        }
                    }
                }
            }
        }
    }
    .cont4 {
        position: relative;
        background-color: #000;
        font-family: 'Poppins', sans-serif;
        padding: 100px 0;
        .titleWrap {
            display: flex;
            justify-content: center;
            margin-bottom: 70px;
            .center {
                width: 36%;
                text-align: center;
                h2 {
                    font-size: 32px;
                    margin-bottom: 30px;
                    color: #fff;
                }
                p {
                    font-size: 18px;
                    line-height: 25px;
                    color: #fff;
                }
            }
        }
        .swiper {
            width: 70%;
            .swiper-wrapper {
                .swiper-slide {
                    text-align: center;
                    .imgWrap {
                        cursor: grab;
                        position: relative;
                        &::after {
                            content: "";
                            display: block;
                            width: 95%;
                            height: 95%;
                            border: 1px solid rgba(255,255,255,.5);
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            transition: all .3s;
                        }
                        &:hover {
                            &::after {
                                width: 99%;
                                height: 99%;
                                border: 1px solid #fff;
                            }
                        }
                        img {
                            width: 100%;
                        }
                    }
                    h2 {
                        font-size: 20px;
                        line-height: 25px;
                        font-weight: 500;
                        margin: 20px 0;
                        color: #fff;
                    }
                    span {
                        color: rgba(255,255,255,.7);
                        display: inline-block;
                        padding-bottom: 2px;
                        border-bottom: 1px solid rgba(255,255,255,.7);
                    }
                }
            }
        }
        .swiper-button-prev,
        .swiper-button-next {
            background-color: rgba(255,255,255,.7);
            color: #000;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            top: 55%;
            transition: all .5s;
            &::after {
                font-size: 14px;
            }
            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
        .swiper-button-prev {
            left: 10%;
        }
        .swiper-button-next {
            right: 10%;
        }
    }
    .cont5 {
        position: relative;
        background: linear-gradient(120.62deg, #1E1E1E 19.67%, #131313 75.49%);
        font-family: 'Poppins', sans-serif;
        padding: 150px 0 50px;
        .titleWrap {
            display: flex;
            justify-content: center;
            margin-bottom: 70px;
            .center {
                width: 62.5%;
                text-align: center;
                h2 {
                    font-size: 32px;
                    margin-bottom: 30px;
                    color: #fff;
                }
                p {
                    font-size: 18px;
                    line-height: 25px;
                    color: #fff;
                }
            }
        }
        .listWrap {
            display: flex;
            justify-content: center;
            .center {
                width: 62.5%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .listBox {
                    width: 31%;
                    margin-bottom: 100px;
                    cursor: pointer;
                    .imgWrap {
                        width: 100%;
                        overflow: hidden;
                        img {
                            width: 100%;
                            object-fit: cover;
                            transform: scale(1);
                            transition: all .5s;
                        }
                    }
                    &:hover {
                        .imgWrap {
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }
                    .textWrap {
                        text-align: center;
                        h2 {
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 26px;
                            margin: 20px 0 10px;
                            color: #fff;
                        }
                        h3 {
                            font-size: 15px;
                            line-height: 20px;
                            font-weight: 500;
                            color: #757575;
                            margin-bottom: 15px;
                        }
                        span {
                            display: inline-block;
                            font-size: 15px;
                            color: #b4b4b4;
                            padding-bottom: 3px;
                            border-bottom: 1px solid rgba(255,255,255,.7);
                        }
                    }
                }
            }
        }
    }
    .backToTop {
        position: fixed;
        bottom: 50px;
        right: 0px;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #333;
        color: #fff;
        transition: all .5s;
        z-index: 10;

        &:hover {
            background-color: #a50034;
        }
    }

    .backToTop.show {
        right: 50px;
        opacity: 1;
    }
}
// container end

// 반응형
@media screen and (max-width:1600px) {
    #container {
        .cont2 {
            .titleWrap {
                .center {
                    width: 50%;
                }
            }
            .listWrap {
                width: 95%;
            }
        }
        .cont3 {
            .titleWrap {
                .center {
                    width: 50%;
                }
            }
            .listWrap {
                .listMenu {
                    width: 95%;
                }
            }
        }
        .cont4 {
            .titleWrap {
                .center {
                    width: 50%;
                }
            }
            .swiper {
                width: 90%;
            }
            .swiper-button-prev {
                left: 3%;
            }
            .swiper-button-next {
                right: 3%;
            }
        }
        .cont5 {
            .titleWrap {
                .center {
                    width: 80%;
                }
            }
            .listWrap {
                .center {
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    #container {
        .cont2 {
            .titleWrap {
                .center {
                    width: 80%;
                }
            }
            .listWrap {
                .listBar.one,.listBar.three {
                    display: none;
                }
                .listInner {
                    li {
                        width: 50%;
                        &:nth-child(1),
                        &:nth-child(2){
                            border-bottom: 1px solid #4f4f4f;
                        }
                    }
                }
            }
        }
        .cont3 {
            .titleWrap {
                .center {
                    width: 80%;
                }
            }
            .listWrap {
                .listMenu {
                    flex-wrap: wrap;
                    li {
                        width: 31%;
                        margin-bottom: 30px;
                        &:nth-child(2),
                        &:nth-child(4) {
                            margin-top: 0px;
                        }
                        &:nth-child(4),
                        &:nth-child(5) {
                            width: 48%;
                        }
                    }
                }
            }
        }
        .cont4 {
            .titleWrap {
                .center {
                    width: 75%;
                }
            }
        }
        .cont5 {
            .listWrap {
                .center {
                    .listBox {
                        width: 48%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    #container {
        .cont1 {
            .textWrap {
                top: 50%;
                bottom: auto;
                transform: translate(-50%, -50%);
                h2 {
                    font-size: 22px;
                }
                p {
                    font-size: 15px;
                }
            }
        }
        .cont2 {
            .listWrap {
                .listBar.two {
                    display: none;
                }
                .listInner {
                    li {
                        width: 100%;
                        &:nth-child(3) {
                            border-bottom: 1px solid #4f4f4f;
                        }
                    }
                }
            }
        }
        .cont3 {
            .listWrap {
                .listMenu {
                    li {
                        width: 48%;
                        height: 400px;
                    }
                }
            }
        }
        .cont5 {
            .listWrap {
                .center {
                    .listBox {
                        width: 100%;
                    }
                }
            }
        }
    }
}