@import "reset";
@import "header";
@import "footer";

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

// container start
#container {
    .cont1 {
        font-family: 'Poppins', sans-serif;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;

        .vidWrap {
            width: 100%;
            height: 100%;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .textWrap {
            position: absolute;
            width: 80%;
            bottom: 120px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            color: #fff;

            h2 {
                font-size: 32px;
                margin-bottom: 20px;
            }

            p {
                font-size: 18px;
                line-height: 30px;
            }
        }

        .scrollWrap {
            position: absolute;
            bottom: 45px;
            left: 50%;
            transform: translateX(-50%);
            transition: all 1s;

            img {
                width: 31px;
            }
        }

        .scrollWrap.move {
            bottom: 30px;
        }
    }
    .cont2 {
        position: relative;
        margin-top: 120vh;
        background-color: #000;
        font-family: 'Poppins', sans-serif;
        padding: 150px 0;
        .textWrap {
            display: flex;
            justify-content: center;
            margin-bottom: 80px;
            .center {
                width: 36%;
                color: #fff;
                text-align: center;
                h2 {
                    font-size: 32px;
                    line-height: 42px;
                    margin-bottom: 30px;
                }
                p {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
        .imgWrap {
            width: 62.5%;
            margin: 0 auto;
            img {
                width: 100%;       
            }
        }
    }
    .cont3 {
        position: relative;
        background-color: #000;
        font-family: 'Poppins', sans-serif;
        padding: 150px 0;
        .textWrap {
            display: flex;
            justify-content: center;
            margin-bottom: 80px;
            .center {
                width: 62.5%;
                color: #fff;
                text-align: center;
                h2 {
                    font-size: 32px;
                    line-height: 42px;
                    margin-bottom: 30px;
                }
                p {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
        .swiper {
            width: 80%;
            position: relative;
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                width: 35%;
                height: 100%;
                z-index: 2;
            }
            &::before {
                left: 0%;
                background: linear-gradient(450deg,#000 40%,rgba(0,0,0,0));
            }
            &::after {
                right: 0%;
                background: linear-gradient(270deg,#000 40%,rgba(0,0,0,0));
            }
            .swiper-wrapper {
                .swiper-slide {
                    font-size: 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    opacity: 0;
                    transition: all .5s;
                    .bg {
                        width: 100%;
                        margin-bottom: 20px;
                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .text {
                        opacity: 0;
                        transition: all .5s;
                        h3 {
                            font-size: 20px;
                            font-weight: 500;
                            margin-bottom: 20px;
                            color: #fff;
                        }
                        p {
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 28px;
                            margin-bottom: 20px;
                            color: #fff;
                        }
                        ul {
                            li {
                                font-size: 15px;
                                line-height: 25px;
                                color: #767676;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
                .swiper-slide-active {
                    opacity: 1;
                    .text {
                        opacity: 1;
                    }
                }
                .swiper-slide-prev,
                .swiper-slide-next {
                    opacity: 1;
                    .text {
                        opacity: 0;
                    }
                }
            }
            .swiper-button-prev,
            .swiper-button-next {
                border: 1px solid #fff;
                color: #fff;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                &::after {
                    font-size: 20px;
                }
            }
            .swiper-button-prev {
                left: 5%;
            }
            .swiper-button-next {
                right: 5%;
            }
        }
    }
    .cont4 {
        position: relative;
        font-family: 'Poppins', sans-serif;
        height: 1000px;
        background-image: url(/img/lounge/loungeBg02.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        .center {
            width: 62.5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .textWrap {
                padding-top: 150px;
                text-align: center;
                h2 {
                    font-size: 32px;
                    margin-bottom: 30px;
                    color: #fff;
                }
                p {
                    font-size: 18px;
                    margin-bottom: 25px;
                    color: #fff;
                }
                .links {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    > a {
                        font-size: 15px;
                        line-height: 18px;
                        font-weight: 600;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 10px;
                        width: 240px;
                        height: 60px;
                        background-color: #fff;
                        color: #000;
                        transition: all .5s;
                        &:hover {
                            background-color: #000;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .backToTop {
        position: fixed;
        bottom: 50px;
        right: 0px;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #333;
        color: #fff;
        transition: all .5s;
        z-index: 10;

        &:hover {
            background-color: #a50034;
        }
    }

    .backToTop.show {
        right: 50px;
        opacity: 1;
    }
}
// container end

// 반응형

@media screen and (max-width:1600px) {
    #container {
        .cont2 {
            .textWrap {
                .center {
                    width: 50%;
                }
            }
            .imgWrap {
                width: 90%;
            }
        }
        .cont3 {
            .textWrap {
                .center {
                    width: 80%;
                }
            }
            .swiper {
                width: 90%;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    #container {
        .cont2 {
            .textWrap {
                .center {
                    width: 75%;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    #container {
        .cont1 {
            .textWrap {
                top: 50%;
                bottom: auto;
                transform: translate(-50%, -50%);
                h2 {
                    font-size: 22px;
                }
                p {
                    font-size: 15px;
                }
            }
        }
        .cont3 {
            .swiper {
                &::before {
                    background: linear-gradient(450deg,#000 10%,rgba(0,0,0,0));
                }
                &::after {
                    background: linear-gradient(270deg,#000 10%,rgba(0,0,0,0));
                }
            }
        }
        .cont4 {
            .center {
                width: 90%;
                .textWrap {
                    .links {
                        a {
                            font-size: 12px;
                            width: 160px;
                        }
                    }
                }
            }
        }
        .backToTop.show {
            right: 20px;
        }
    }
}

@media screen and (max-width:640px) {
    #container {
        .cont3 {
            .swiper {
                &::before {
                    background: none;
                }
                &::after {
                    background: none;
                }
            }
        }
    }
}
