@import "reset";
@import "header";
@import "footer";

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

// container start
#container {
    .cont1 {
        font-family: 'Poppins', sans-serif;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;

        .vidWrap {
            width: 100%;
            height: 100%;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .textWrap {
            position: absolute;
            width: 80%;
            bottom: 140px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            color: #fff;

            h2 {
                font-size: 32px;
                margin-bottom: 20px;
            }

            p {
                font-size: 18px;
                line-height: 30px;
            }
        }

        .scrollWrap {
            position: absolute;
            bottom: 45px;
            left: 50%;
            transform: translateX(-50%);
            transition: all 1s;

            img {
                width: 31px;
            }
        }

        .scrollWrap.move {
            bottom: 30px;
        }
    }
    .cont2 {
        position: relative;
        margin-top: 120vh;
        background-color: #000;
        font-family: 'Poppins', sans-serif;
        padding: 150px 0 200px;
        .topWrap {
            display: flex;
            justify-content: center;
            text-align: center;
            margin-bottom: 70px;
            .titleWrap {
                width: 62.5%;
                color: #fff;
                h2 {
                    font-size: 32px;
                    margin-bottom: 30px;
                }
                p {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
        .swiper {
            width: 95%;
            overflow: visible;
            height: 550px;
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 0;
                width: 10%;
                height: 100%;
                z-index: 2;
            }
            &::before {
                left: -70px;
                background: linear-gradient(450deg,#000 40%,rgba(0,0,0,0));
            }
            &::after {
                right: -70px;
                background: linear-gradient(270deg,#000 40%,rgba(0,0,0,0));
            }
            .swiper-wrapper {
                align-items: center;
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    height: 450px;
                    opacity: .3;
                    transition: all .5s;
                    position: relative;
                    cursor: pointer;
                    .text {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        background-color: rgba(0, 0, 0, .4);
                        text-align: start;
                        transition: all .5s;
                        .wrap {
                            padding: 30px;
                            .category {
                                display: none;
                                color: #9c9c9c;
                                margin-bottom: 20px;
                                font-weight: 500;
                                font-size: 15px;
                            }
                            .detail {
                                display: none;
                                margin-top: 20px;
                                font-size: 15px;
                                .date {
                                    &::after {
                                        content: "|";
                                        display: inline-block;
                                        width: 2px;
                                        height: 15px;
                                        color: #000;
                                        padding: 0 12px;
                                    }
                                }
                            }
                            .title {
                                color: #bcbcbc;
                                transition: all .5s;
                                line-height: 28px;
                                font-size: 22px;
                            }
                        }
                    }
                }
                .one{background-image: url(/img/magazine/slide01.jpg);}
                .two{background-image: url(/img/magazine/slide02.jpg);}
                .three{background-image: url(/img/magazine/slide03.jpg);}
                .four{background-image: url(/img/magazine/slide04.jpg);}
                .five{background-image: url(/img/magazine/slide05.jpg);}
                .six{background-image: url(/img/magazine/slide06.jpg);}
                .seven{background-image: url(/img/magazine/slide07.jpg);}
                .eight{background-image: url(/img/magazine/slide08.jpg);}
                .nine{background-image: url(/img/magazine/slide09.jpg);}
                .swiper-slide-active {
                    height: 550px;
                    opacity: 1;
                    .text {
                        background-color: rgba(255,255,255,.85);
                        .wrap {
                            .category,.detail {
                                display: block;
                            }
                            .title {
                                color: #000;
                            }
                        }
                    }
                }
                .swiper-slide-prev,
                .swiper-slide-next {
                    opacity: .6;
                }
            }
            .swiper-pagination {
                color: #777;
                bottom:-70px;
                font-size: 20px;
                .swiper-pagination-current {
                    color: #fff;
                }
            }
            .swiper-button-prev,
            .swiper-button-next {
                background-color: #fff;
                color: #111;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                &::after {
                    font-size: 20px;
                }
            }
            .swiper-button-prev {
                left: 10%;
            }
            .swiper-button-next {
                right: 10%;
            }
        }
    }
    .cont3 {
        position: relative;
        background-color: #262626;
        font-family: 'Poppins', sans-serif;
        padding: 150px 0;
        display: flex;
        justify-content: center;
        .center {
            width: 83%;
            > h2 {
                padding-bottom: 70px;
                font-size: 32px;
                font-weight: 600;
                color: #fff;
            }
            .wrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                
                .boxWrap {
                    width: 31%;
                    margin-bottom: 90px;
                    cursor: pointer;
                    display: none;
                    p {
                        color: #9c9c9c;
                        margin-bottom: 20px;
                    }
                    .imgWrap {
                        margin-bottom: 20px;
                        width: 100%;
                        position: relative;
                        img {
                            width: 100%;
                        }
                        &::after {
                            content: "";
                            display: block;
                            width: 92%;
                            height: 92%;
                            border: 1px solid #fff;
                            transition: all .3s;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                    h2 {
                        color: #fff;
                        font-size: 20px;
                        line-height: 26px;
                        font-weight: 400;
                    }
                    .detail {
                        margin-top: 20px;
                        color: #9c9c9c;
                        .date {
                            &::after {
                                content: "|";
                                display: inline-block;
                                width: 2px;
                                height: 16px;
                                color: #9c9c9c;
                                padding: 0 12px;
                            }
                        }
                    }
                    &:hover {
                        .imgWrap {
                            &::after {
                                width: 99%;
                                height: 99%;
                            }
                        }
                    }

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        display: block;
                    }
                }
                
            }
            .moreBtn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 50px;
                border: 1px solid #fff;
                color: #fff;
                margin: 0 auto;
                transition: all .5s;
                &:hover {
                    background-color: #fff;
                    color: #262626;
                }
            }
        }
    }

    .backToTop {
        position: fixed;
        bottom: 50px;
        right: 0px;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #333;
        color: #fff;
        transition: all .5s;
        z-index: 10;

        &:hover {
            background-color: #a50034;
        }
    }

    .backToTop.show {
        right: 50px;
        opacity: 1;
    }
}
// container end

// 반응형

@media screen and (max-width:1400px) {
    #container {
        .cont2 {
            .swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        height: 350px;
                    }
                    .swiper-slide-active {
                        height: 400px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    #container {
        .cont3 {
            .center {
                .wrapper {
                    .boxWrap {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    #container {
        .cont1 {
            .textWrap {
                top: 50%;
                bottom: auto;
                transform: translate(-50%, -50%);
                h2 {
                    font-size: 22px;
                }
                p {
                    font-size: 15px;
                }
            }
        }
        .cont2 .swiper .swiper-button-prev {
            left: 5%;
        }
        .cont2 .swiper .swiper-button-next {
            right: 5%;
        }
        .cont2 {
            .topWrap {
                .titleWrap {
                    width: 80%;
                }
            }
        }
        
    }
}
