@import "reset";
@import "header";
@import "footer";

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

#container {
    .cont1 {
        font-family: 'Poppins', sans-serif;
        background-color: #141416;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 220px 0 200px;
        .center {
            width: 62.5%;
            display: flex;
            .leftWrap {
                width: 33%;
                background-image: url(/img/index/test.jpg);
                background-position: left;
                background-repeat: no-repeat;
                background-size: cover;
                .coverWrap {
                    width: 100%;
                    height: 100%;
                    background-color: #141416ad;
                    position: relative;
                    img {
                        position: absolute;
                        width: 180px;
                        top: 35px;
                        left: 30px;
                    }
                    .title {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        padding: 30px;
                        h2 {
                            color: #fff;
                            font-size: 45px;
                            line-height: 48px;
                            font-weight: 600;
                            display: flex;
                        }
                        p {
                            font-size: 15px;
                            font-weight: 300;
                            line-height: 20px;
                            color: #fff;
                            margin: 10px 0 50px;
                        }
                        .privacy {
                            display: flex;
                            margin-bottom: 30px;
                            li {
                                margin-right: 20px;
                                font-size: 14px;
                                color: #fff;
                                a {
                                    font-size: 14px;
                                    color: #fff;
                                    transition: all .5s;
                                }
                                &:hover {
                                    a {
                                        color: #a50034;
                                    }
                                }
                            }
                        }
                    }
                }

            }
            .rightWrap {
                width: 67%;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                .mypageWrap {
                    width: 70%;
                    padding: 150px 0;
                    > h2 {
                        font-size: 30px;
                        line-height: 35px;
                        margin-bottom: 20px;
                        color: #141416;
                        span {
                            padding-left: 10px;
                            color: #777;
                            font-weight: 400;
                            font-size: 15px;
                        }
                    }
                    .myInfo {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border: 1px solid #ddd;
                        padding: 12px 10px;
                        h2 {
                            font-weight: 600;
                        }
                        p {
                            color: #777;
                            font-size: 14px;
                        }
                    }
                    .line01 {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 7px;
                        > .myInfo {
                            width: 45.5%;
                            .name {
                                font-family: 'Noto Sans KR', sans-serif;
                            }
                        }
                    }
                    .line02,.line03,.line04 {
                        margin-bottom: 7px;
                    }
                    .line05 {
                        margin-top: 40px;
                        h2 {
                            font-size: 30px;
                            line-height: 35px;
                            margin-bottom: 7px;
                            color: #141416;
                        }
                        p {
                            margin-bottom: 20px;
                            font-size: 15px;
                            line-height: 20px;
                            color: #777;
                        }
                        form {
                            .wrap {
                                margin-bottom: 10px;
                                label {
                                    display: block;
                                    font-weight: 600;
                                    margin-bottom: 7px;
                                }
                                input {
                                    font-family: 'Poppins', sans-serif;
                                    padding: 10px;
                                    width: 96%;
                                    border: 1px solid #ddd;
                                }
                            }
                            .btn {
                                display: flex;
                                justify-content: center;
                                margin-top: 50px;
                                button {
                                    font-family: 'Poppins', sans-serif;
                                    width: 70%;
                                    border: 1px solid #141416;
                                    background-color: #141416;
                                    color: #fff;
                                    padding: 10px;
                                    cursor: pointer;
                                    transition: all .5s;
                                    &:hover {
                                        background-color: #a50034;
                                    }
                                }
                            } 
                        }
                    }
                }
            }
        }
    }
}