@import "reset";
@import "header";
@import "footer";

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

#container {
    .cont1 {
        font-family: 'Poppins', sans-serif;
        .bg {
            height: 151px;
            background-color: #141416;
        }
        .wrap {
            display: flex;
            justify-content: center;
            .center {
                width: 62.5%;
            }
        }
    }
    .cont2 {
        display: flex;
        justify-content: center;
        a {
            display: flex;
            margin: 20px auto;
        }
    }
}
