@import "reset";
@import "header";
@import "footer";

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

#container {
    .cont1 {
        font-family: 'Poppins', sans-serif;
        .bg {
            height: 151px;
            background-color: #141416;
        }
        .tabWrap {
            display: flex;
            justify-content: center;
            .tabMenu {
                width: 62.5%;
                display: flex;
                margin: 50px;
                li {
                    width: 33.333333%;
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 50px;
                        color: #141416;
                        border: 1px solid #eee;
                        border-right: none;
                    }
                    &:last-child {
                        border-right: 1px solid #eee;
                    }
                }
                li.on {
                    a {
                        background-color: #111;
                        color: #fff;
                    }
                }
            }
        }
    }
    .cont2 {
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        .center {
            width: 62.5%;
            h1 {
                margin: 70px 0;
                font-size: 60px;
                line-height: 62px;
                color: #141416;
                text-align: center;
                &::after {
                    content: "";
                    display: block;
                    width: 1px;
                    height: 80px;
                    background-color: #a50034;
                    margin: 60px auto;
                }
            }
            .listWrap {
                .list {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    border: 1px solid #e9e9e9;
                    transition: all .5s;
                    margin-bottom: 40px;
                    &:hover {
                        box-shadow: 7px 10px 10px #e9e9e9;
                    }
                    .imgWrap {
                        width: 28%;
                        height: 200px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .titleWrap {
                        width: 69%;
                        
                        h3 {
                            font-size: 16px;
                            font-weight: 500;
                            color: #a50034;
                            margin-bottom: 10px;
                        }
                        h2 {
                            font-size: 20px;
                            font-weight: 500;
                            color: #141416;
                            margin-bottom: 10px;
                        }
                        p {
                            span {
                                color: #777;
                                font-size: 14px;
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    .cont3 {
        display: flex;
        justify-content: center;
        a {
            display: flex;
            margin: 20px auto;
        }
    }
}