@import "reset";

// header start
#header {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
    transition: all .5s;
    border-bottom: 1px solid transparent;
    .bg {
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
        height: 0px;
        background-color: #eee;
        transition: all .5s;
    }

    .topHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }

    .botHeader {
        display: flex;
        justify-content: center;
        position: relative;
        

        .center {
            width: 62.5%;

            .gnb {
                display: flex;
                width: 100%;

                >li {
                    width: 20%;
                    >a {
                        height: 50px;
                        font-weight: 500;
                        color: #fff;
                        display: block;
                        transition: all .5s;
                        position: relative;
                        >span {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            &::after {
                                content: "";
                                display: block;
                                background-color: #000;
                                width: 100%;
                                height: 2px;
                                margin-top: 3px;
                                transform: scale(0);
                                transition: all .5s;
                            }
                        }
                    }

                    &:hover {
                        > a > span {
                            &::after {
                                transform: scale(1);
                            }
                        }
                    }

                    .depth2 {
                        
                        position: absolute;
                        width: 83%;
                        top: 50px;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 0px;
                        line-height: 50px;
                        text-align: center;
                        overflow: hidden;
                        display: flex;
                        transition: all .5s;

                        >li {
                            width: 16.666666%;
                            transition: all .5s;
                            a {
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                align-items: center;
                                width: 100%;
                                height: 100%;
                                transition: all .5s;
                                color: #000;
                                
                                img {
                                    width: 80%;
                                    height: 200px;
                                    object-fit: cover;
                                    display: block;
                                    transition: all .5s;
                                    transform: scale(1);
                                }
                                p {
                                    position: relative;
                                    &::after {
                                        position: absolute;
                                        bottom: 10px;
                                        content: '';
                                        display: block;
                                        background-color: #fff;
                                        width: 100%;
                                        height: 2px;
                                        transform: scale(0);
                                        transition: all .5s;
                                    }
                                }
                            }

                            &:hover {
                                background-color: #222;
                                a {
                                    color: #fff;
                                    img {
                                        transform: scale(1.2);
                                    }
                                    p {
                                        &::after {
                                            transform: scale(1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .loginWrap {
        position: absolute;
        top: 40px;
        right: 10%;
        display: flex;
        > a {
            margin-left: 20px;
            display: flex;

            &:nth-child(2),
            &:nth-child(3) {
                &::before {
                    content: "|";
                    display: block;
                    color: #fff;
                    font-size: 15px;
                    margin-right: 20px;
                }
            }
            
            span {
                font-size: 15px;
                color: #fff;
                transition: all .5s;
                &::after {
                    content: "";
                    display: block;
                    background-color: #fff;
                    width: 100%;
                    height: 2px;
                    margin-top: 2px;
                    transform: scale(0);
                    transition: all .5s;
                }
            }

            

            &:hover {
                span {
                    &::after {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}
#header.top {
    background: none;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    .botHeader {
        display: flex;
        .center .gnb > li {
            > a {
                color: #fff;
            }
        }
    }
    .loginWrap {
        display: flex;
        > a{
            &::before {
                color: #fff;
            }
            span {
                color: #fff;
                &::after {
                    color: #fff;
                }
            } 
        } 
        
    }
}

#header.up {
    background: none;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    .botHeader {
        display: flex;
        .center .gnb > li {
            > a {
                color: #000;
            }
        }
    }
    .loginWrap {
        display: flex;
        > a {
            &::before {
                color: #000;
            }
            span {
                color: #000;
                &::after {
                    background-color: #000;
                }
            }
        }
        
    }
}

#header.down {
    background: linear-gradient(180deg, #000, #000 10%, rgba(0,0,0,.2) 65%, rgba(0,0,0,.1) 80%,rgba(0,0,0,0));
    border:none;
    .botHeader {
        display: none;
    }
    .loginWrap {
        display: none;
    }
}

#header.white {
    background: #fff;
    border-bottom: 1px solid #eee;
    .botHeader .center .gnb > li {
        > a {
            color: #000;
        }
    }
    .loginWrap {
        > a { 
            &::before {
                color: #000;
            }
            span {
                color: #000;
            }
        }
    }
}
// header end

// container start
#container {
    .cont1 {
        font-family: 'Poppins', sans-serif;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        .vidWrap {
            width: 100%;
            height: 100%;
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .textWrap {
            position: absolute;
            bottom: 120px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            color: #fff;
            h2 {
                font-size: 32px;
                margin-bottom: 20px;
            }
            p {
                font-size: 18px;
                line-height: 30px;
            }
        }
        .scrollWrap {
            position: absolute;
            bottom: 45px;
            left: 50%;
            transform: translateX(-50%);
            transition: all 1s;
            img {
                width: 31px;
            }
        }

        .scrollWrap.move {
            bottom: 30px;
        }
    }
    .cont2 {
        position: relative;
        margin-top: 120vh;
        background-color: #000;
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        padding: 150px 0 100px;
        .center {
            width: 62.5%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .prdBox {
                display: block;
                margin-bottom: 50px;
                width: 354px;
                > div {
                    position: relative;
                    width: 100%;
                    height: 354px;
                    &::after {
                        content: "";
                        display: block;
                        border: 1px solid rgba(255,255,255,.3);
                        width: 95%;
                        height: 95%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        transition: all .3s;
                    }
                    > img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 354px;
                        transition: all .5s;
                    }
                    .prdImg {
                        opacity: 1;
                    }
                    .prdhoverImg {
                        opacity: 0;
                    }
                    p {
                        position: absolute;
                        bottom: 8%;
                        left: 50%;
                        transform: translateX(-50%);
                        color: #fff;
                        opacity: 0;
                        transition: all .5s;
                        &::after {
                            content: "";
                            display: block;
                            background-color: #fff;
                            width: 100%;
                            height: 2px;
                            margin-top: 3px;
                            opacity: 0;
                            transition: all .5s;
                        }
                    }
                }
                &:hover {
                    > div {
                        &::after {
                            width: 100%;
                            height: 100%;
                            border: 1px solid #fff;
                        }
                       .prdImg {
                            opacity: 0;
                       }
                       .prdhoverImg {
                            opacity: 1;
                       }
                       p {
                        opacity: 1;
                        &::after {
                            opacity: 1;
                        }
                       }
                    }
                }
                h2 {
                    color: #fff;
                    margin-top: 25px;
                    font-size: 20px;
                    text-align: center;
                }
            }
        }
    }
    .cont3 {
        font-family: 'Poppins', sans-serif;
        position: relative;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
        .center {
            width: 83%;
            position: relative;
            .textWrap {
                position: absolute;
                padding-left: 3vw;
                top: 45%;
                left: 0;
                width: 100%;
                z-index: 5;
                h4 {
                    font-size: 20px;
                    font-weight: 500;
                    color: #a50034;
                }
                h2 {
                    font-size: 80px;
                    padding: 15px 0 25px;
                }
                h3 {
                    font-size: 28px;
                    font-weight: 500;
                    line-height: 35px;
                    padding-bottom: 40px;
                }
                p {
                    font-size: 14px;
                    padding-bottom: 40px;
                    line-height: 25px;
                }
                a {
                    display: block;
                    width: 280px;
                    height: 45px;
                    border: 1px solid #a50034;
                    .text {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #a50034;
                        width: 100%;
                        height: 100%;
                        color: #fff;
                        transition: all .5s;
                    }

                    &:hover {
                        .text {
                            background-color: #fff;
                            color: #a50034;
                        }
                    }
                }
            }
            .tvWrap {
                position: relative;
                width: 100%;
                img,video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    transition: all .5s;
                }

                
            }
        }
    }
    .cont4 {
        font-family: 'Poppins', sans-serif;
        position: relative;
        background-color: #fff;
        padding: 250px 0 150px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            background-color: #a50034;
            top: 0px;
            left: 50%;
            width: 2px;
            height: 80px;
        }

        .imgWrap {
            display: flex;
            justify-content: center;
            margin-bottom: 100px;
            .center {
                width: 83%;
                height: 843px;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .prdVid {
                    display: none;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .play {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: #fff;
                    color: #000;
                    position: absolute;
                    bottom: 50px;
                    right: 50px;
                    font-size: 20px;
                    transition: all .5s;
                    &:hover {
                        background-color: #a50034;
                        color: #fff;
                    }
                }
                .close {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: rgba(0,0,0,.2);
                    color: #000;
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    color: #fff;
                    font-size: 20px;
                    z-index: 10;
                    transition: all .5s;
                    &:hover {
                        background-color: #a50034;
                    }
                }
            }
        }
        .imgWrap.on {
            .center {
                .prdVid {
                    display: block;
                }
                .play {
                    display: none;
                }
                .close {
                    display: flex;
                }
            }
        }
        .textWrap {
            display: flex;
            justify-content: center;
            .center {
                width: 83%;
                display: flex;
                justify-content: center;
                .text {
                    width: 690px;
                    text-align: center;
                    h2 {
                        font-size: 60px;
                        line-height: 65px;
                        padding-bottom: 80px;
                        position: relative;
                        &::after {
                            content: "";
                            display: block;
                            background-color: #a50034;
                            width: 60px;
                            height: 2px;
                            position: absolute;
                            bottom: 40px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    p {
                        font-size: 22px;
                        line-height: 36px;
                        color: #333;
                    }
                }
            }
        }
    }
    .cont5 {
        font-family: 'Poppins', sans-serif;
        position: relative;
        background-color: #fff;
        padding: 100px 0 300px;
        .imgWrap {
            display: flex;
            justify-content: center;
            margin-bottom: 100px;
            .center {
                width: 83%;
                height: 792px;
                position: relative;
                .imgs {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    >img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: none;
                        &:nth-child(1){
                            display: block;
                        }
                    }
                    
                }
                .area {
                    width: 60px;
                    height: 450px;
                    position: absolute;
                    top: 50%;
                    right: 30px;
                    transform: translateY(-50%);
                    &::after {
                        content: "";
                        display: block;
                        width: 2px;
                        height: 90%;
                        background-color: rgba(255,255,255,.7);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
                .area_box {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 60px;
                    height: 60px;
                    cursor: pointer;
                    background-image: url(/img/index/btn-drag.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    transform: rotate(90deg);
                    filter: drop-shadow(0 0 0 #999);
                    z-index: 10;
                }
                .titleWrap {
                    position: absolute;
                    top: 35%;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    transition: all .5s;
                    opacity: 0;
                    span {
                        font-size: 20px;
                        color: #444;
                    }
                    h2 {
                        font-size: 60px;
                        padding-top: 10px;
                    }
                }
            }
        }
        .textWrap {
            display: flex;
            justify-content: center;
            .center {
                width: 83%;
                display: flex;
                justify-content: center;
                .text {
                    width: 690px;
                    text-align: center;
                    h2 {
                        font-size: 60px;
                        line-height: 65px;
                        padding-bottom: 80px;
                        position: relative;
                        &::after {
                            content: "";
                            display: block;
                            background-color: #a50034;
                            width: 60px;
                            height: 2px;
                            position: absolute;
                            bottom: 40px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    p {
                        font-size: 22px;
                        line-height: 36px;
                        color: #333;
                    }
                }
            }
        }
    }
    .cont6 {
        font-family: 'Poppins', sans-serif;
        position: relative;
        background-color: #fff;
        display: flex;
        justify-content: center;
        padding-bottom: 150px;
        .center {
            width: 77%;
            height: 750px;
            position: relative;
            display: flex;
            align-items: center;
            .textWrap {
                .text {
                    width: 30%;
                    h3 {
                        font-size: 20px;
                        font-weight: 600;
                        color: #444;
                        margin-bottom: 15px;
                    }
                    h2 {
                        font-size: 60px;
                        line-height: 65px;
                        padding-bottom: 80px;
                        position: relative;
                        &::after {
                            content: "";
                            display: block;
                            background-color: #a50034;
                            width: 60px;
                            height: 2px;
                            position: absolute;
                            bottom: 40px;
                            left: 0%;
                        }
                    }
                    p {
                        font-size: 22px;
                        line-height: 36px;
                        color: #333;
                    }
                }
            }
        }
        .swiper {
            position: absolute;
            top: 0;
            right: 0;
            width: 52%;
            height: 750px;
            .swiper-wrapper {
                .swiper-slide{
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                .swiper-slide.one {
                    background-image: url(/img/index/prdSlide01.jpg);
                }
                .swiper-slide.two {
                    background-image: url(/img/index/prdSlide02.jpg);
                }
                .swiper-slide.three {
                    background-image: url(/img/index/prdSlide03.jpg);
                    background-position: right;
                }
                .swiper-slide.four {
                    background-image: url(/img/index/prdSlide04.jpg);
                }
            }
            .swiper-button-prev,
            .swiper-button-next {
                top: auto;
                bottom: 0;
                color: #fff;
                background-color: #000;
                width: 50px;
                height: 100px;
                transition: all .5s;
                &:hover {
                    background-color: #a50034;
                    color: #fff;
                }
            }
            .swiper-button-prev {
                left: 0;
            }
            .swiper-button-next {
                left: 50px;
            }
        }
    }
    .cont7 {
        font-family: 'Poppins', sans-serif;
        position: relative;
        background-color: #fff;
        padding: 150px 0;
        .imgWrap {
            display: flex;
            justify-content: center;
            margin-bottom: 100px;
            .center {
                width: 83%;
                .view {
                    width: 100%;
                    height: 800px;
                    margin-bottom: 20px;
                    position: relative;
                    > img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        transition: all .5s;
                        object-fit: cover;
                    }
                    > img.show {
                        opacity: 1;
                    }
                }
                .imgList {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    > a {
                        display: block;
                        width: 19%;
                        height: 150px;
                        position: relative;
                        border: 4px solid #fff;
                        opacity: .5;
                        transition: all .5s;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    > a.show {
                        border: 4px solid #a50034;
                        opacity: 1;
                    }
                }
            }
        }
        .textWrap {
            display: flex;
            justify-content: center;
            .center {
                width: 83%;
                display: flex;
                justify-content: center;
                .text {
                    width: 690px;
                    text-align: center;
                    h2 {
                        font-size: 60px;
                        line-height: 65px;
                        padding-bottom: 80px;
                        position: relative;
                        &::after {
                            content: "";
                            display: block;
                            background-color: #a50034;
                            width: 60px;
                            height: 2px;
                            position: absolute;
                            bottom: 40px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    p {
                        font-size: 22px;
                        line-height: 36px;
                        color: #333;
                    }
                }
            }
        }
    }
    .cont8 {
        font-family: 'Poppins', sans-serif;
        position: relative;
        background-color: #fff;
        padding: 150px 0;
        .imgWrap {
            display: flex;
            justify-content: center;
            .center {
                width: 83%;
                height: 600px;
                position: relative;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: all .5s;
                    object-fit: cover;
                }
                img.show {
                    opacity: 1;
                }
            }
        }
        .tabMenu {
            display: flex;
            width: 900px;
            margin: 0 auto;
            li {
                width: 33.333333%;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 80px;
                    transition: all .5s;
                    color: #444;
                    border: 1px solid #ddd;
                    font-weight: 600;
                }
                &:nth-child(2){
                    a {
                        border-right: none;
                        border-left: none;
                    }
                }
            }
            li.show {
                a {
                    background-color: #a50034;
                    color: #fff;
                }
            }
        }
        .wrapper {
            .contentWrap {
                display: none;
                transition: all .5s;
                position: relative;
                border-bottom: 1px solid #ddd;
                padding: 100px 0 0;
                .topWrap {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 100px;
                    .center {
                        width: 83%;
                        display: flex;
                        justify-content: center;
                        .text {
                            width: 690px;
                            text-align: center;
                            h2 {
                                font-size: 60px;
                                line-height: 65px;
                                padding-bottom: 80px;
                                position: relative;
                                &::after {
                                    content: "";
                                    display: block;
                                    background-color: #a50034;
                                    width: 60px;
                                    height: 2px;
                                    position: absolute;
                                    bottom: 40px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                            }
                            p {
                                font-size: 22px;
                                line-height: 36px;
                                color: #333;
                            }
                        }
                    }
                }
                .viewMore,.viewClose {
                    display: block;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #000;
                    color: #fff;
                    position: absolute;
                    bottom: -25px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 5;
                    i {
                        font-size: 20px;
                        opacity: 0;
                        transition: all .5s;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                    i.show {
                        opacity: 1;
                    }
                }
                .viewClose {
                    display: none;
                }
                &:nth-child(1){
                    .botWrap {
                        display: flex;
                        justify-content: center;
                        height: 0;
                        overflow: hidden;
                        .center {
                            width: 52%;
                            img {
                                display: block;
                                width: 100%;
                                height: 530px;
                                margin-bottom: 200px;
                                object-fit: cover;
                            }
                        }
                    }
                }
                &:nth-child(2){
                    .botWrap {
                        display: flex;
                        justify-content: center;
                        height: 0;
                        overflow: hidden;
                        .center {
                            width: 52%;
                            .lineImgWrap {
                                width: 100%;
                                height: 550px;
                                position: relative;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    opacity: 0;
                                    transition: all .5s;
                                }
                                img.on {
                                    opacity: 1;
                                }
                            }
                            .lineMenu {
                                display: flex;
                                width: 690px;
                                margin: 70px auto;
                                li {
                                    width: 20%;
                                    border-left: 1px solid #ddd;
                                    a {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: flex-start;
                                        align-items: center;
                                        width: 100%;
                                        height: 90px;
                                        color: #777;
                                        text-align: center;
                                        transition: all .5s;
                                        i {
                                            font-size: 35px;
                                        }
                                        h5 {
                                            padding-top: 20px;
                                            font-size: 18px;
                                            font-weight: 400;
                                            line-height: 20px;
                                        }
                                        &:hover {
                                            color: #a50034;
                                        }
                                    }
                                    &:nth-child(1) {
                                        border-left: none;
                                    }
                                    &:nth-child(4),
                                    &:nth-child(5) {
                                        a {
                                            h5 {
                                                font-size: 15px;
                                            }
                                        }
                                    }
                                }
                                li.on {
                                    a {
                                        color: #a50034;
                                    }
                                }
                            }
                            .lineText {
                                width: 690px;
                                margin: 0 auto;
                                position: relative;
                                .textView {
                                    display: none;
                                    width: 100%;
                                    text-align: center;
                                    margin-bottom: 100px;
                                    h3 {
                                        font-size: 36px;
                                        margin-bottom: 35px;
                                    }
                                    p {
                                        color: #333;
                                        font-size: 22px;
                                        line-height: 36px;
                                        padding-bottom: 30px;
                                    }
                                }
                                .textView.on {
                                    display: block;
                                }
                            }
                        }
                    }
                }
                &:nth-child(3){
                    .botWrap {
                        display: flex;
                        justify-content: center;
                        height: 0;
                        overflow: hidden;
                        .center {
                            width: 52%;
                            .soundImg {
                                width: 100%;
                                img {
                                    display: block;
                                    width: 100%;
                                    height: 680px;
                                    object-fit: cover;
                                }
                            }
                            .soundWrap {
                                width: 690px;
                                margin: 0 auto;
                                text-align: center;
                                padding: 100px 0;
                                h3 {
                                    font-size: 36px;
                                    margin-bottom: 35px;
                                }
                                p {
                                    color: #333;
                                    font-size: 22px;
                                    line-height: 36px;
                                    padding-bottom: 30px;
                                }
                                span {
                                    font-size: 14px;
                                    line-height: 20px;
                                    color: #999;
                                }
                            }
                        }
                    }
                }
                .botWrap {
                    transition: all .8s;
                }
            }

            .contentWrap.show {
                display: block;
            }
        }
    }
}
// container end

#footer {
    position: relative;
    padding: 50px 0;
    background-color: #0c0c0c;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    .center {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        > ul {
            margin-bottom: 30px;
        }
        .sns {
            display: flex;
            li {
                margin: 0 20px;
                a {
                    font-size: 22px;
                    color: #777;
                    transition: all .5s;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
        .footerMenu {
            display: flex;
            width: 100%;
            li {
                width: 16.666666%;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    span {
                        font-size: 17px;
                        &::after {
                            content: "";
                            display: block;
                            background-color: #fff;
                            width: 100%;
                            height: 2px;
                            margin-top: 3px;
                            transition: all .5s;
                            transform: scale(0);
                        }
                    }
                    &:hover {
                        span {
                            &::after {
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
        }
        .textWrap {
            text-align: center;
            color: #a6a6a6;
            p {
                margin-bottom: 20px;
                line-height: 25px;
            }
            span {
                font-size: 12px;
            }
        }
    }
}