<%- include("header",{ title:"BRAND | LG SIGNATURE", cssFiles:["brand.css"], jsFiles:["header.js","scroll.js","brand/cont4.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="vidWrap">
                <video muted autoplay loop>
                    <source src="/img/brand/brand_vid.mp4">
                </video>
            </div>
            <div class="textWrap">
                <h2>OUR COMMITMENT TO EXCELLENCE</h2>
                <p>We pursue the latest innovations while staying true to the core essence of our products.</p>
            </div>
            <div class="scrollWrap">
                <img src="/img/index/scroll_icon.png">
            </div>
        </div>
        <div class="cont2">
            <div class="center">
                <div class="topWrap">
                    <h2>THE ART OF ESSENCE :<br />
                        A Simple yet powerful approach</h2>
                    <p>Every LG SIGNATURE piece is a powerhouse of cutting-edge technology, crafted to be functional yet
                        elegant.
                    </p>
                </div>
                <div class="botWrap">
                    <img src="/img/brand/brandBg01.jpg">
                </div>
            </div>
        </div>
        <div class="cont3">
            <div class="titleWrap">
                <div class="center">
                    <div class="text">
                        <h2>PHILOSOPHY</h2>
                        <p>LG SIGNATURE was founded on three pillars : craftsmanship, innovation, and authenticity.
                            These support the Art of Essence, the harmony of art and technology.</p>
                    </div>
                </div>
            </div>
            <div class="tabWrap">
                <ul class="tabMenu">
                    <li class="on"><a href="#">CRAFTSMANSHIP</a></li>
                    <li><a href="#">INNOVATION</a></li>
                    <li><a href="#">AUTHENTICITY</a></li>
                </ul>
            </div>
            <div class="viewWrap one">
                <div class="center">
                    <div class="text">
                        <h3>CRAFTSMANSHIP</h3>
                        <h2>We are detail-oriented.</h2>
                        <p>LG SIGNATURE always takes a disciplined approach to innovation.<br />
                            Carefully crafted over time with great attention to detail,<br />
                            each LG SIGNATURE product is honed to perfection.</p>
                    </div>
                    <div class="imgs">
                        <div class="box">
                            <p><span>Full Metallic Frame</span></p>
                            <div>
                                <img src="/img/brand/list01.jpg">
                                <span>Rigid Aluminum</span>
                            </div>
                        </div>
                        <div class="box">
                            <p><span>100 Brushstrokes</span></p>
                            <div>
                                <img src="/img/brand/list02.jpg">
                                <span>Stainless Steel 304</span>
                            </div>
                        </div>
                        <div class="box">
                            <p><span>Enamel Coating</span></p>
                            <div>
                                <img src="/img/brand/list03.jpg">
                                <span>Porcelain Enamel</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="viewWrap two">
                <div class="center">
                    <div class="text">
                        <h3>INNOVATION</h3>
                        <h2>We are forward-thinking.</h2>
                        <p>Designed to meet the evolving needs and values of consumers,<br />
                            LG SIGNATURE products elevate lifestyles with intuitive controls<br />
                            and outstanding functionality.</p>
                    </div>
                    <div class="imgs">
                        <div class="box">
                            <p><span>Rollable Form-factor</span></p>
                            <div>
                                <img src="/img/brand/list04.jpg">
                            </div>
                        </div>
                        <div class="box">
                            <p><span>InstaView</span></p>
                            <div>
                                <img src="/img/brand/list05.jpg">
                            </div>
                        </div>
                        <div class="box">
                            <p><span>Auto Open Door / Auto Drawer Lift</span></p>
                            <div>
                                <img src="/img/brand/list06.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="viewWrap three">
                <div class="center">
                    <div class="text">
                        <h3>AUTHENTICITY</h3>
                        <h2>We make the very best products.</h2>
                        <p>Built to last and impress, LG SIGNATURE products are in a class of their own.<br />
                            Genuine performance is our kind of premium.</p>
                    </div>
                    <div class="imgs">
                        <div class="box">
                            <p><span>Self-lit OLED</span></p>
                            <div>
                                <img src="/img/brand/list07.jpg">
                            </div>
                        </div>
                        <div class="box">
                            <p><span>LinearCooling™</span></p>
                            <div>
                                <img src="/img/brand/list08.jpg">
                            </div>
                        </div>
                        <div class="box">
                            <p><span>Centum System</span></p>
                            <div>
                                <img src="/img/brand/list09.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont4">
            <div class="titleWrap">
                <div class="center">
                    <div class="text">
                        <h2>For those with sophisticated taste</h2>
                        <p>LG SIGNATURE products are the perfect mixture of art and technology, and deliver a new sense of life for the most discerning individuals.</p>
                    </div>
                </div>
            </div>
            <div class="imgWrap">
                <div class="center">
                    <div class="topImgs">
                        <img class="on" src="/img/brand/slide01.jpg">
                        <img src="/img/brand/slide02.jpg">
                        <img src="/img/brand/slide03.jpg">
                        <img src="/img/brand/slide04.jpg">
                        <img src="/img/brand/slide05.jpg">
                    </div>
                    <div class="botImgs">
                        <img class="on" src="/img/brand/slide01.jpg">
                        <img src="/img/brand/slide02.jpg">
                        <img src="/img/brand/slide03.jpg">
                        <img src="/img/brand/slide04.jpg">
                        <img src="/img/brand/slide05.jpg">
                    </div>
                    <p class="memo">2D and 3D renders may differ from actual usage environment.</p>
                </div>
            </div>
            <div class="bannerWrap">
                <div class="center">
                    <a href="#">EXPLORE MORE PRODUCTS</a>
                </div>
            </div>
        </div>
        <a href="#" class="backToTop"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <%- include("footer")%>
    