    <div id="footer">
        <div class="center">
            <ul class="sns">
                <li><a href="https://www.facebook.com/LGSIGNATURE" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="https://www.youtube.com/LGSIGNATURE" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com/lg_signature/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/lg_signature" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
            <ul class="footerMenu">
                <li><a href="/"><span>PRODUCTS</span></a></li>
                <li><a href="/brand"><span>BRAND</span></a></li>
                <li><a href="/magazine"><span>MAGAZINE</span></a></li>
                <li><a href="/lounge"><span>LOUNGE</span></a></li>
                <li><a href="/inspiration"><span>INSPIRATION</span></a></li>
                <li><a href="/notice/review/list"><span>NOTICE</span></a></li>
            </ul>
            <div class="textWrap">
                <p>Some products may not be available in each country and<br/>product availability is subject to change.</p>
                <span>Copyright © 2023 LG Electronics. All Rights Reserved</span>
            </div>
        </div>
    </div>
</body>
</html>