<%- include("header",{ title:"LG SIGNATURE Rollable OLED TV", cssFiles:["style.css"],
    jsFiles:["header.js","scroll.js","index/cont4.js","index/cont5.js","index/cont6.js","index/cont7.js","index/cont8.js","index/cont9.js","index/cont10.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="vidWrap">
                <video muted autoplay loop>
                    <source src="/img/index/product_vid.mp4">
                </video>
            </div>
            <div class="textWrap">
                <h2>THE PURSUIT OF LUXURY LIVING</h2>
                <p>The LG SIGNATURE range combines cutting-edge innovation with timeless craftsmanship.</p>
                <p>Browse our full product lineup.</p>
            </div>
            <div class="scrollWrap">
                <img src="/img/index/scroll_icon.png">
            </div>
        </div>
        <div class="cont2">
            <div class="center">
                <%- include("indexPrdbox") %>
            </div>
        </div>
        <div class="cont3">
            <div class="center">
                <div class="textWrap">
                    <h4>Rollable Design</h4>
                    <h2>OLED R</h2>
                    <h3>The world's first and only rollable TV<br />
                        has arrived.</h3>
                    <p>- The actual product may differ from image shown.<br />- Purchase is available only in certain
                        regions/countries and may be expanded.</p>
                    <a href="#">
                        <span class="text">EXPLORE MORE PRODUCTS</span>
                    </a>
                </div>
                <div class="tvWrap">
                    <img src="/img/index/tvBg.jpg">
                    <video muted autoplay loop>
                        <source src="/img/index/tvBg.mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="cont4">
            <div class="imgWrap">
                <div class="center">
                    <img src="/img/index/prdBg.jpg">
                    <video class="prdVid" muted controls>
                        <source src="/img/index/prdVid00.mp4">
                    </video>
                    <a href="#" class="play"><i class="fa-solid fa-play"></i></a>
                    <a href="#" class="close"><i class="fa-solid fa-xmark"></i></a>
                </div>
            </div>
            <div class="textWrap">
                <div class="center">
                    <div class="text">
                        <h2>A revolutionary new experience</h2>
                        <p>This groundbreaking technology not only reimagines what a TV is capable of, it revolutionizes
                            the way you use your space.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont5">
            <div class="imgWrap">
                <div class="center">
                    <div class="imgs">
                    </div>
                    <div class="area">
                        <div class="area_box"></div>
                    </div>
                    <div class="titleWrap">
                        <span>Roll Out The Future</span>
                        <h2>LG SIGNATURE OLED R</h2>
                    </div>
                </div>
            </div>
            <div class="textWrap">
                <div class="center">
                    <div class="text">
                        <h2>A vision of the future</h2>
                        <p>Out-of-this-world picture quality combined with our new extraordinary rollable technology
                            lets you step into the future every time you use your TV.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont6">
            <div class="center">
                <div class="textWrap">
                    <div class="text">
                        <h3>SELF-LIT OLED Technology</h3>
                        <h2>All your dreams rolled into one</h2>
                        <p>An ultra-thin screen rolls into a state-of-the-art sound system. This unbelievable display is
                            only possible with OLED's self-lit pixel technology.</p>
                    </div>
                </div>
            </div>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide one"></div>
                    <div class="swiper-slide two"></div>
                    <div class="swiper-slide three"></div>
                    <div class="swiper-slide four"></div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="cont7">
            <div class="imgWrap">
                <div class="center">
                    <div class="view">
                        <img class="show" src="/img/index/collection01.jpg">
                        <img src="/img/index/collection02.jpg">
                        <img src="/img/index/collection03.jpg">
                        <img src="/img/index/collection04.jpg">
                        <img src="/img/index/collection05.jpg">
                    </div>
                    <div class="imgList">
                        <a class="show" href="#"><img src="/img/index/collection01.jpg"></a>
                        <a href="#"><img src="/img/index/collection02.jpg"></a>
                        <a href="#"><img src="/img/index/collection03.jpg"></a>
                        <a href="#"><img src="/img/index/collection04.jpg"></a>
                        <a href="#"><img src="/img/index/collection05.jpg"></a>
                    </div>
                </div>
            </div>
            <div class="textWrap">
                <div class="center">
                    <div class="text">
                        <h2>The finest piece in your collection</h2>
                        <p>SIGNATURE OLED R is a work of art fit for your luxury lifestyle, with a TV that appears when
                            you need it and disappears when you don't. The display rolls out to three different heights
                            — each with a unique purpose, all with a stylish look that complements your space.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont8">
            <div class="imgWrap">
                <div class="center">
                    <img class="show" src="/img/index/view_tab01.jpg">
                    <img src="/img/index/view_tab02.jpg">
                    <img src="/img/index/view_tab03.jpg">
                </div>
            </div>
            <ul class="tabMenu">
                <li class="show"><a href="#">Full view</a></li>
                <li><a href="#">Line view</a></li>
                <li><a href="#">Zero view</a></li>
            </ul>
            <div class="wrapper">
                <div class="contentWrap show">
                    <div class="topWrap">
                        <div class="center">
                            <div class="text">
                                <h2>Transform your space</h2>
                                <p>Take LG SIGNATURE OLED R from chic speaker to premium TV when you roll out the screen to full view mode. Sharp picture, swift gaming, and smooth sports make your favorite content even more immersive. And LG ThinQ offers simple command of virtual assistants with natural voice recognition for more convenience and control.</p>
                            </div>
                        </div>
                    </div>
                    <div class="botWrap">
                        <div class="center">
                            <img src="/img/index/tab01_01.jpg">
                            <img src="/img/index/tab01_02.jpg">
                            <img src="/img/index/tab01_03.jpg">
                        </div>
                    </div>
                    <a class="viewMore" href="#">
                        <i class="fa-solid fa-plus"></i>
                        <i class="fa-solid fa-arrow-down-long"></i>
                    </a>
                    <a class="viewClose" href="#">
                        <i class="fa-solid fa-minus"></i>
                        <i class="fa-solid fa-arrow-up-long"></i>
                    </a>
                </div>
                <div class="contentWrap">
                    <div class="topWrap">
                        <div class="center">
                            <div class="text">
                                <h2>Simplify your space</h2>
                                <p>When you're not watching TV, roll into a minimal, stylish mode that has just what you need: music, clock, frame, mood lighting & sounds, or home dashboard.</p>
                            </div>
                        </div>
                    </div>
                    <div class="botWrap">
                        <div class="center">
                            <div class="lineImgWrap">
                                <img class="on" src="/img/index/tab02_01.jpg">
                                <img src="/img/index/tab02_02.jpg">
                                <img src="/img/index/tab02_03.jpg">
                                <img src="/img/index/tab02_04.jpg">
                                <img src="/img/index/tab02_05.jpg">
                            </div>
                            <ul class="lineMenu">
                                <li class="on"><a href="#"><i class="fa-solid fa-music"></i><h5>Music</h5></a></li>
                                <li><a href="#"><i class="fa-regular fa-clock"></i><h5>Clock</h5></a></li>
                                <li><a href="#"><i class="fa-solid fa-tv"></i><h5>Frame</h5></a></li>
                                <li><a href="#"><i class="fa-solid fa-martini-glass-citrus"></i><h5>Mood Lighting<br/>& Sounds</h5></a></li>
                                <li><a href="#"><i class="fa-solid fa-house-chimney-window"></i><h5>ThinQ Home Dashboard</h5></a></li>
                            </ul>
                            <div class="lineText">
                                <div class="textView on">
                                    <h3>Music</h3>
                                    <p>Plays music whatever you want and displays detailed track information for you.</p>
                                </div>
                                <div class="textView">
                                    <h3>Clock</h3>
                                    <p>Shows you the information you need for your day, such as the time, date, and weather.</p>
                                </div>
                                <div class="textView">
                                    <h3>Frame</h3>
                                    <p>Converts pictures in your smartphone into black and white slideshows for a personalized touch.</p>
                                </div>
                                <div class="textView">
                                    <h3>Mood Lighting & Sounds</h3>
                                    <p>Plays soothing sounds and images such as campfire, wind, and rain when you need a calm moment.</p>
                                </div>
                                <div class="textView">
                                    <h3>ThinQ Home Dashboard</h3>
                                    <p>Displays an AI Home Dashboard screen that provides an overview and enables control of your home appliances.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="viewMore" href="#">
                        <i class="fa-solid fa-plus show"></i>
                        <i class="fa-solid fa-arrow-down-long"></i>
                    </a>
                    <a class="viewClose" href="#">
                        <i class="fa-solid fa-minus show"></i>
                        <i class="fa-solid fa-arrow-up-long"></i>
                    </a>
                </div>
                <div class="contentWrap">
                    <div class="topWrap">
                        <div class="center">
                            <div class="text">
                                <h2>Maximize your space</h2>
                                <p>The screen disappears without a trace, leaving behind a beautiful piece of art that elevates your space. Enjoy rich, optimized sound from a remarkably transformed speaker.</p>
                            </div>
                        </div>
                    </div>
                    <div class="botWrap">
                        <div class="center">
                            <div class="soundImg">
                                <img src="/img/index/tab03_01.jpg">
                            </div>
                            <div class="soundWrap">
                                <h3>Artistic Sound</h3>
                                <p>When the screen rolls away, the OLED R transforms into an amazing sound system. Hear your favorite tunes in the immersive sound of Dolby Atmos with powerful 100W 4.2ch speakers.</p>
                                <span>- Kevlar diaphragms are made of special materials that are used in high-end stereo systems, allowing you to feel clear, deep vibrations.</span>
                            </div>
                        </div>
                    </div>
                    <a class="viewMore" href="#">
                        <i class="fa-solid fa-plus show"></i>
                        <i class="fa-solid fa-arrow-down-long"></i>
                    </a>
                    <a class="viewClose" href="#">
                        <i class="fa-solid fa-minus show"></i>
                        <i class="fa-solid fa-arrow-up-long"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="cont9">
            <div class="moonWrap">
                <div class="moonBox right">
                    <img src="/img/index/moon_right.jpg">
                </div>
                <div class="moonBox left">
                    <img src="/img/index/moon_left.jpg">
                </div>
                <div class="dragBox"></div>
            </div>
            <div class="textWrap">
                <div class="center">
                    <div class="text">
                        <h2>SELF-LIT PiXELS make OLED unlike anything else</h2>
                        <p>Self-lit pixels allow LG SIGNATURE OLED R to bend the rules of design with an ultra-slim, rollable display. Unlike LED TVs that are restricted by backlights, the self-luminous display technology also makes all the difference to your viewing experience, showcasing sharper pictures with extreme realism.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont10">
            <div class="galleryWrap">
                <div class="imgWrap">
                    <a href="#" class="view">
                        <img src="/img/index/gallery01.jpg">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                    <a href="#" class="view">
                        <img src="/img/index/gallery02.jpg">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                    <a href="#" class="view">
                        <img src="/img/index/gallery03.jpg">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                    <a href="#" class="view">
                        <img src="/img/index/gallery04.jpg">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                    <a href="#" class="view">
                        <img src="/img/index/gallery05.jpg">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                    <a href="#" class="view">
                        <img src="/img/index/gallery06.jpg">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                    <div class="cover">
                        <img src="/img/index/gallery_hover01.png">
                        <a class="coverClose" href="#"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                    <div class="cover">
                        <img src="/img/index/gallery_hover02.png">
                        <a class="coverClose" href="#"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                    <div class="cover">
                        <img src="/img/index/gallery_hover03.jpg">
                        <a class="coverClose" href="#"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                    <div class="cover">
                        <img src="/img/index/gallery_hover04.jpg">
                        <a class="coverClose" href="#"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                    <div class="cover">
                        <img src="/img/index/gallery_hover05.jpg">
                        <a class="coverClose" href="#"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                    <div class="cover">
                        <img src="/img/index/gallery_hover06.jpg">
                        <a class="coverClose" href="#"><i class="fa-solid fa-xmark"></i></a>
                    </div>
                </div>
            </div>
            <div class="textWrap">
                <div class="center">
                    <div class="text">
                        <h2>Everything you want,
                            unlike anything you've seen</h2>
                        <p>A truly unique design and unprecedented functionality make the LG SIGNATURE OLED R a sight to behold, whichever way you use it. Watch your favorite content in Full View mode, discreetly set the mood in Line View, or make the most of your space in Zero View.</p>
                    </div>
                </div>
            </div>
            <div class="bannerWrap">
                <div class="context">
                    <h3>LG SIGNATURE</h3>
                    <h2>Rollable OLED TV</h2>
                    <a href="#">EXPLORE MORE PRODUCTS</a>
                </div>
            </div>
        </div>
        <a href="#" class="backToTop"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <%- include("footer")%>