<%- include("header",{
    title:"LG SIGNATURE Rollable OLED TV",
    cssFiles:["style.css"],
    jsFiles:["header.js","scroll.js"]
}) %>
    <div id="container">
        <div class="cont1">
            <div class="vidWrap">
                <video muted autoplay loop>
                    <source src="/img/index/product_vid.mp4">
                </video>
            </div>
            <div class="textWrap">
                <h2>THE PURSUIT OF LUXURY LIVING</h2>
                <p>The LG SIGNATURE range combines cutting-edge innovation with timeless craftsmanship.</p>
                <p>Browse our full product lineup.</p>
            </div>
            <div class="scrollWrap">
                <img src="/img/index/scroll_icon.png">
            </div>
        </div>
        <div class="cont2">
            cont2
        </div>
        <div class="cont3">
            cont3
        </div>
    </div>
<%- include("footer")%>
    