<%- include("header",{ title:"INSPIRATION | LG SIGNATURE", cssFiles:["inspiration.css"], jsFiles:["header.js","scroll.js","inspiration/cont4.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="vidWrap">
                <video muted autoplay loop>
                    <source src="/img/inspiration/inspiration_vid.mp4">
                </video>
            </div>
            <div class="textWrap">
                <h2>INSPIRING COLLABORATIONS</h2>
                <p>Meet the people and brands that share LG SIGNATURE values.</p>
            </div>
            <div class="scrollWrap">
                <img src="/img/index/scroll_icon.png">
            </div>
        </div>
        <div class="cont2">
            <div class="titleWrap">
                <div class="center">
                    <h2>Global Partnerships</h2>
                    <p>Collaborations with like-minded brands that share a common approach to craftsmanship and innovation.</p>
                </div>
            </div>
            <div class="listWrap">
                <div class="listBar one"></div>
                <div class="listBar two"></div>
                <div class="listBar three"></div>
                <ul class="listInner">
                    <li>
                        <div class="wrap">
                            <img src="/img/inspiration/logo01.png">
                            <h3>Molteni&C</h3>
                            <h4>Timeless Beauty Turned Into Experience</h4>
                            <span>LEARN MORE</span>
                        </div>
                    </li>
                    <li>
                        <div class="wrap">
                            <img src="/img/inspiration/logo02.png">
                            <h3>MONOCLE</h3>
                            <h4>The Art of Technology</h4>
                            <span>LEARN MORE</span>
                        </div>
                    </li>
                    <li>
                        <div class="wrap">
                            <img src="/img/inspiration/logo03.png">
                            <h3>American Ballet Theatre</h3>
                            <h4>TReimagining Aesthetics</h4>
                            <span>LEARN MORE</span>
                        </div>
                    </li>
                    <li>
                        <div class="wrap">
                            <img src="/img/inspiration/logo04.png">
                            <h3>The Pushkin Museum</h3>
                            <h4>Advanced Technology Meets Artistic Mastery</h4>
                            <span>LEARN MORE</span>
                        </div>
                    </li>
                    <li>
                        <div class="wrap">
                            <img src="/img/inspiration/logo05.png">
                            <h3>The Amundi Evian Championship</h3>
                            <h4>Road to Perfection Story</h4>
                            <span>LEARN MORE</span>
                        </div>
                    </li>
                    <li>
                        <div class="wrap">
                            <img src="/img/inspiration/logo06.png">
                            <h3>Royal Philharmonic Orchestra</h3>
                            <h4>Balancing Tradition and Innovation</h4>
                            <span>LEARN MORE</span>
                        </div>
                    </li>
                    <li>
                        <div class="wrap">
                            <img src="/img/inspiration/logo07.png">
                            <h3>Sydney Dance Company</h3>
                            <h4>When Art Meets Technology</h4>
                            <span>LEARN MORE</span>
                        </div>
                    </li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="cont3">
            <div class="titleWrap">
                <div class="center">
                    <h2>Master Stories</h2>
                    <p>Visionaries who embrace art and technology in groundbreaking ways.</p>
                </div>
            </div>
            <div class="listWrap">
                <ul class="listMenu">
                    <li>
                        <img src="/img/inspiration/story01_black.jpg">
                        <img src="/img/inspiration/story01.jpg">
                        <div class="text">
                            <h4>Top Golfers</h4>
                            <h3>Jin Young Ko<br/>Sung Hyun Park</h3>
                            <span>LEARN MORE</span>
                        </div>
                    </li>
                    <li>
                        <img src="/img/inspiration/story02_black.jpg">
                        <img src="/img/inspiration/story02.jpg">
                        <div class="text">
                            <h4>Wine Critic</h4>
                            <h3>James Suckling</h3>
                            <span>LEARN MORE</span>
                        </div>
                    </li>
                    <li>
                        <img src="/img/inspiration/story03_black.jpg">
                        <img src="/img/inspiration/story03.jpg">
                        <div class="text">
                            <h4>Architect</h4>
                            <h3>Studio Fuksas</h3>
                            <span>LEARN MORE</span>
                        </div>
                    </li>
                    <li>
                        <img src="/img/inspiration/story04_black.jpg">
                        <img src="/img/inspiration/story04.jpg">
                        <div class="text">
                            <h4>Watchmaker</h4>
                            <h3>Antoine Preziuso</h3>
                            <span>LEARN MORE</span>
                        </div>
                    </li>
                    <li>
                        <img src="/img/inspiration/story05_black.jpg">
                        <img src="/img/inspiration/story05.jpg">
                        <div class="text">
                            <h4>Visual Artist</h4>
                            <h3>Matt Clark</h3>
                            <span>LEARN MORE</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cont4">
            <div class="titleWrap">
                <div class="center">
                    <h2>LG SIGNATURE Ambassadors</h2>
                    <p>Individuals who share our philosophy and values.</p>
                </div>
            </div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="imgWrap">
                            <img src="/img/inspiration/amb01.jpg">
                        </div>
                        <h2>John Legend</h2>
                        <span>LEARN MORE</span>
                    </div>
                    <div class="swiper-slide">
                        <div class="imgWrap">
                            <img src="/img/inspiration/amb02.jpg">
                        </div>
                        <h2>Khatia Buniatishvili and Bomsori Kim</h2>
                        <span>LEARN MORE</span>
                    </div>
                    <div class="swiper-slide">
                        <div class="imgWrap">
                            <img src="/img/inspiration/amb03.jpg">
                        </div>
                        <h2>Olivia Palermo</h2>
                        <span>LEARN MORE</span>
                    </div>
                    <div class="swiper-slide">
                        <div class="imgWrap">
                            <img src="/img/inspiration/amb04.jpg">
                        </div>
                        <h2>Lewis Hamilton</h2>
                        <span>LEARN MORE</span>
                    </div>
                    <div class="swiper-slide">
                        <div class="imgWrap">
                            <img src="/img/inspiration/amb01.jpg">
                        </div>
                        <h2>John Legend</h2>
                        <span>LEARN MORE</span>
                    </div>
                    <div class="swiper-slide">
                        <div class="imgWrap">
                            <img src="/img/inspiration/amb02.jpg">
                        </div>
                        <h2>Khatia Buniatishvili and Bomsori Kim</h2>
                        <span>LEARN MORE</span>
                    </div>
                    <div class="swiper-slide">
                        <div class="imgWrap">
                            <img src="/img/inspiration/amb03.jpg">
                        </div>
                        <h2>Olivia Palermo</h2>
                        <span>LEARN MORE</span>
                    </div>
                    <div class="swiper-slide">
                        <div class="imgWrap">
                            <img src="/img/inspiration/amb04.jpg">
                        </div>
                        <h2>Lewis Hamilton</h2>
                        <span>LEARN MORE</span>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <a href="#" class="backToTop"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <%- include("footer")%>