<%- include("header",{ title:"INSPIRATION | LG SIGNATURE", cssFiles:["inspiration.css"], jsFiles:["header.js","scroll.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="vidWrap">
                <video muted autoplay loop>
                    <source src="/img/inspiration/inspiration_vid.mp4">
                </video>
            </div>
            <div class="textWrap">
                <h2>INSPIRING COLLABORATIONS</h2>
                <p>Meet the people and brands that share LG SIGNATURE values.</p>
            </div>
            <div class="scrollWrap">
                <img src="/img/index/scroll_icon.png">
            </div>
        </div>
        <div class="cont2">2</div>

        <a href="#" class="backToTop"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <%- include("footer")%>