<%- include("header",{ title:"JOIN | LG SIGNATURE", cssFiles:["join.css"], jsFiles:["header.js","login_join/scroll.js","login_join/joincheck.js"]
    }) %>
    <div id="container">
        <div class="cont1">
            <div class="center">
                <div class="leftWrap">
                    <h2>CREATE ACCOUNT</h2>
                    <form id="join" action="/joindb" method="post">
                        <div class="member_infor">
                            <div class="form_control">
                                <label for="memberid"><i class="fa-solid fa-id-card"></i>ID</label>
                                <input type="text" id="memberid" name="memberid" placeholder="Please enter your ID">
                                <span class="error_msg"></span>
                            </div>
                            <div class="form_control">
                                <label for="memberpass"><i class="fa-solid fa-lock"></i>Password</label>
                                <input type="password" id="memberpass" name="memberpass"
                                    placeholder="Please enter your password">
                                <span class="error_msg"></span>
                            </div>
                            <div class="form_control">
                                <label for="memberpasschk"><i class="fa-solid fa-unlock"></i>Password Check</label>
                                <input type="password" id="memberpasschk" name="memberpasschk"
                                    placeholder="Please check your password">
                                <span class="error_msg"></span>
                            </div>
                            <div class="form_control">
                                <label for="membername"><i class="fa-solid fa-pen-nib"></i>Name</label>
                                <input type="text" id="membername" name="membername" placeholder="Please enter your name">
                                <span class="error_msg"></span>
                            </div>
                            <div class="form_control">
                                <label for="memberbirth"><i class="fa-solid fa-cake-candles"></i>Birth</label>
                                <input type="text" id="memberbirth" name="memberbirth"
                                    placeholder="ex) 2000-01-01">
                                <span class="error_msg"></span>
                            </div>
                            <div class="form_control">
                                <label for="memberemail"><i class="fa-solid fa-envelope-open-text"></i>E-mail</label>
                                <input type="text" id="memberemail" name="memberemail"
                                    placeholder="ex) test1234@google.com">
                                <span class="error_msg"></span>
                            </div>
                            <div class="form_control">
                                <label for="memberphone"><i class="fa-solid fa-mobile-button"></i>Phone</label>
                                <input type="text" id="memberphone" name="memberphone"
                                    placeholder="ex) 010-1234-5678">
                                <span class="error_msg"></span>
                            </div>
                        </div>
                        <div class="btns">
                            <button class="join_ok" type="submit">JOIN</button>
                            <button class="reset_ok" type="reset">RESET</button>
                        </div>
                    </form>
                </div>
                <div class="rightWrap">
                    <img src="/img/index/joinBg.jpg">
                </div>
            </div>
        </div>
    </div>
    <%- include("footer")%>