<%- include("header",{ title:"LOGIN | LG SIGNATURE", cssFiles:["login.css"],
    jsFiles:["header.js","login_join/scroll.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="center">
                <div class="leftWrap">
                    <img src="/img/index/loginBg.jpg">
                </div>
                <div class="rightWrap">
                    <div class="subtext">
                        <p>Don't you have an account?</p>
                        <a href="/join">Create Account</a>
                    </div>
                    <h2>SIGN IN<br/><span>LG SIGNATURE</span></h2>
                    <p>Please log in first to use NOTICE</p>
                    <form id="login_form" action="/logincheck" method="post">
                        <div class="idWrap">
                            <i class="fa-regular fa-id-card"></i>
                            <input type="text" name="memberid" placeholder="Please enter your ID">
                        </div>
                        <div class="passWrap">
                            <i class="fa-solid fa-key"></i>
                            <input type="password" name="memberpass" placeholder="Please enter your Password">
                        </div>
                        <div class="linkWrap">
                            <button type="submit">LOGIN</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const linkWrapBtn = document.querySelector(".linkWrap button");
        const idWrap = document.querySelector(".idWrap input");
        const passWrap = document.querySelector(".passWrap input")

        linkWrapBtn.onclick = function(e){
            
                
              axios.post('/user', {
                memberid: idWrap.value,
                memberpass: passWrap.value
            })
            .then(function (response) {
                e.preventDefault();
                console.log(response);
                alert("로그인 실패");
            })
            .catch(function (error) {
                console.log(error);
            });

        }
    </script>
    <%- include("footer")%>