<%- include("header",{ title:"LOUNGE | LG SIGNATURE", cssFiles:["lounge.css"], jsFiles:["header.js","scroll.js","lounge/cont3.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="vidWrap">
                <video muted autoplay loop>
                    <source src="/img/lounge/lounge_vid.mp4">
                </video>
            </div>
            <div class="textWrap">
                <h2>LIVE BEYOND</h2>
                <p>Experience next-level living.<br />
                    Timeless design, superb craftsmanship, and boundless innovation.</p>
            </div>
            <div class="scrollWrap">
                <img src="/img/index/scroll_icon.png">
            </div>
        </div>
        <div class="cont2">
            <div class="textWrap">
                <div class="center">
                    <h2>Living solutions thoroughly committed to
                        escalating your luxury experience</h2>
                    <p>Your preview of the second-generation LG SIGNATURE appliances lineup being introduced to the
                        world at CES 2023.</p>
                </div>
            </div>
            <div class="imgWrap">
                <img src="/img/lounge/loungeBg01.jpg">
            </div>
        </div>
        <div class="cont3">
            <div class="textWrap">
                <div class="center">
                    <h2>Undistilled refinement. Unabridged minimalism.</h2>
                    <p>All for you, brought by the LG SIGNATURE second-generation lineup.</p>
                </div>
            </div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="bg">
                            <img src="/img/lounge/list01.jpg">
                        </div>
                        <div class="text">
                            <h3>Style Beyond</h3>
                            <p>Minimalism and sturdiness can go hand-in-hand. A widened display unlocks usability that is highly intuitive and convenient.</p>
                            <ul>
                                <li>• Biggest Capacity</li>
                                <li>• Built-in Intelligence</li>
                                <li>• Informative and Intuitive 7” Wide LCD</li>
                                <li>• LG ThinQ app continuously upgrades product</li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg">
                            <img src="/img/lounge/list02.jpg">
                        </div>
                        <div class="text">
                            <h3>Cook Beyond</h3>
                            <p>Keep a watch over your energy usage in real-time while Internal sensors adjust cooking times and temperatures automatically.</p>
                            <ul>
                                <li>• 27” LCD Touchscreen</li>
                                <li>• 3 Built-in cameras and Voice Control</li>
                                <li>• UltraHeat™ and AI Cooking System</li>
                                <li>• ThinQ Recipe 18,000, Scan to Cook</li>
                                <li>• Real-time monitoring, ThinQ UP</li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg">
                            <img src="/img/lounge/list03.jpg">
                        </div>
                        <div class="text">
                            <h3>Taste Beyond</h3>
                            <p>Let positivity double in effect.
                                Doors topped with dual InstaView® present an aesthetic and functional upgrade.</p>
                            <ul>
                                <li>• Dual InstaView™ Door-in-Door®</li>
                                <li>• Knock-on, 7” Wide LCD</li>
                                <li>• Auto Open Door-in-Door</li>
                                <li>• Craft Ice™</li>
                                <li>• Full STS Interior</li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg">
                            <img src="/img/lounge/list01.jpg">
                        </div>
                        <div class="text">
                            <h3>Style Beyond</h3>
                            <p>Minimalism and sturdiness can go hand-in-hand. A widened display unlocks usability that is highly intuitive and convenient.</p>
                            <ul>
                                <li>• Biggest Capacity</li>
                                <li>• Built-in Intelligence</li>
                                <li>• Informative and Intuitive 7” Wide LCD</li>
                                <li>• LG ThinQ app continuously upgrades product</li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg">
                            <img src="/img/lounge/list02.jpg">
                        </div>
                        <div class="text">
                            <h3>Cook Beyond</h3>
                            <p>Keep a watch over your energy usage in real-time while Internal sensors adjust cooking times and temperatures automatically.</p>
                            <ul>
                                <li>• 27” LCD Touchscreen</li>
                                <li>• 3 Built-in cameras and Voice Control</li>
                                <li>• UltraHeat™ and AI Cooking System</li>
                                <li>• ThinQ Recipe 18,000, Scan to Cook</li>
                                <li>• Real-time monitoring, ThinQ UP</li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg">
                            <img src="/img/lounge/list03.jpg">
                        </div>
                        <div class="text">
                            <h3>Taste Beyond</h3>
                            <p>Let positivity double in effect.
                                Doors topped with dual InstaView® present an aesthetic and functional upgrade.</p>
                            <ul>
                                <li>• Dual InstaView™ Door-in-Door®</li>
                                <li>• Knock-on, 7” Wide LCD</li>
                                <li>• Auto Open Door-in-Door</li>
                                <li>• Craft Ice™</li>
                                <li>• Full STS Interior</li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg">
                            <img src="/img/lounge/list01.jpg">
                        </div>
                        <div class="text">
                            <h3>Style Beyond</h3>
                            <p>Minimalism and sturdiness can go hand-in-hand. A widened display unlocks usability that is highly intuitive and convenient.</p>
                            <ul>
                                <li>• Biggest Capacity</li>
                                <li>• Built-in Intelligence</li>
                                <li>• Informative and Intuitive 7” Wide LCD</li>
                                <li>• LG ThinQ app continuously upgrades product</li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg">
                            <img src="/img/lounge/list02.jpg">
                        </div>
                        <div class="text">
                            <h3>Cook Beyond</h3>
                            <p>Keep a watch over your energy usage in real-time while Internal sensors adjust cooking times and temperatures automatically.</p>
                            <ul>
                                <li>• 27” LCD Touchscreen</li>
                                <li>• 3 Built-in cameras and Voice Control</li>
                                <li>• UltraHeat™ and AI Cooking System</li>
                                <li>• ThinQ Recipe 18,000, Scan to Cook</li>
                                <li>• Real-time monitoring, ThinQ UP</li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg">
                            <img src="/img/lounge/list03.jpg">
                        </div>
                        <div class="text">
                            <h3>Taste Beyond</h3>
                            <p>Let positivity double in effect.
                                Doors topped with dual InstaView® present an aesthetic and functional upgrade.</p>
                            <ul>
                                <li>• Dual InstaView™ Door-in-Door®</li>
                                <li>• Knock-on, 7” Wide LCD</li>
                                <li>• Auto Open Door-in-Door</li>
                                <li>• Craft Ice™</li>
                                <li>• Full STS Interior</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="cont4">
            <div class="center">
                <div class="textWrap">
                    <h2>EXPERIENCE THE IDEAL LIFE</h2>
                    <p>Look forward to a new experience that LG SIGNATURE will showcase.</p>
                    <div class="links">
                        <a href="/inspiration">INSPIRATION FOR<br/>1st-GEN PRODUCT LINEUP</a>
                        <a href="https://www.lg.com/global/ces2023" target="_blank">ACCESS LG's OFFICIAL<br/>2023 CES WEBSITE</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="backToTop"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <%- include("footer")%>