<%- include("header",{ title:"LOUNGE | LG SIGNATURE", cssFiles:["lounge.css"], jsFiles:["header.js","scroll.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="vidWrap">
                <video muted autoplay loop>
                    <source src="/img/lounge/lounge_vid.mp4">
                </video>
            </div>
            <div class="textWrap">
                <h2>LIVE BEYOND</h2>
                <p>Experience next-level living.<br/>
                Timeless design, superb craftsmanship, and boundless innovation.</p>
            </div>
            <div class="scrollWrap">
                <img src="/img/index/scroll_icon.png">
            </div>
        </div>
        <div class="cont2">2</div>

        <a href="#" class="backToTop"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <%- include("footer")%>