<%- include("header",{ title:"MAGAZINE | LG SIGNATURE", cssFiles:["magazine.css"],
    jsFiles:["header.js","scroll.js","magazine/cont2.js","magazine/cont3.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="vidWrap">
                <video muted autoplay loop>
                    <source src="/img/magazine/magazine_vid.mp4">
                </video>
            </div>
            <div class="textWrap">
                <h2>A CURATED COLLECTION OF IDEAS</h2>
                <p>Delve into articles that highlight the craftsmanship, innovation, and authenticity of LG SIGNATURE.
                </p>
            </div>
            <div class="scrollWrap">
                <img src="/img/index/scroll_icon.png">
            </div>
        </div>
        <div class="cont2">
            <div class="topWrap">
                <div class="titleWrap">
                    <h2>LG SIGNATURE MAGAZINE</h2>
                    <p>We deliver NEWS about LG SIGNATURE in various cultural fields for you.</p>
                </div>
            </div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide one">
                        <div class="text">
                            <div class="wrap">
                                <h3 class="category">ART & CULTURE</h3>
                                <h2 class="title">A Musical Offering to the Whole World</h2>
                                <div class="detail"><span class="date">Dec.25.2022</span><span>MUSIC</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide two">
                        <div class="text">
                            <div class="wrap">
                                <h3 class="category">ART & CULTURE</h3>
                                <h2 class="title">A Celebration of Contemporary Arts & Values</h2>
                                <div class="detail"><span class="date">Nov.11.2022</span><span>PARTNERSHIP</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide three">
                        <div class="text">
                            <div class="wrap">
                                <h3 class="category">PEOPLE</h3>
                                <h2 class="title">SIGNATURES by LG SIGNATURE: New collaboration with fashion designer Lars Wallin</h2>
                                <div class="detail"><span class="date">Oct.31.2022</span><span>AMBASSADOR</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide four">
                        <div class="text">
                            <div class="wrap">
                                <h3 class="category">PEOPLE</h3>
                                <h2 class="title">Alexandrov Klum collaborates with LG SIGNATURE</h2>
                                <div class="detail"><span class="date">Sep.20.2022</span><span>AMBASSADOR</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide five">
                        <div class="text">
                            <div class="wrap">
                                <h3 class="category">LIFESTYLE</h3>
                                <h2 class="title">The Art of Refined Living: A Day Well Spent With LG SIGNATURE</h2>
                                <div class="detail"><span class="date">Aug.15.2022</span><span>PARTNERSHIP</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide six">
                        <div class="text">
                            <div class="wrap">
                                <h3 class="category">ART & CULTURE</h3>
                                <h2 class="title">LG SIGNATURE & Monocle Partner Up to Present the Art of Technology</h2>
                                <div class="detail"><span class="date">Jun.14.2022</span><span>PARTNERSHIP</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide seven">
                        <div class="text">
                            <div class="wrap">
                                <h3 class="category">ART & CULTURE</h3>
                                <h2 class="title">How Technology Completes Digital Art & Our Lives</h2>
                                <div class="detail"><span class="date">May.25.2022</span><span>NFT</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide eight">
                        <div class="text">
                            <div class="wrap">
                                <h3 class="category">LIFESTYLE</h3>
                                <h2 class="title">Simplify Your Space, Free Your Mind</h2>
                                <div class="detail"><span class="date">Apr.28.2022</span><span>MINIMALISM</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide nine">
                        <div class="text">
                            <div class="wrap">
                                <h3 class="category">ART & CULTURE</h3>
                                <h2 class="title">HIDE & SEEK: TIMELESS BEAUTY TURNS INTO EXPERIENCE</h2>
                                <div class="detail"><span class="date">Jan.11.2022</span><span>PARTNERSHIP</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="cont3">
            <div class="center">
                <h2>ALL ARTICLES</h2>
                <div class="wrapper">
                    <div class="boxWrap">
                        <p>ART & CULTURE</p>
                        <div class="imgWrap">
                            <img src="/img/magazine/list01.jpg">
                        </div>
                        <h2>A Musical Offering to the Whole World</h2>
                        <div class="detail"><span class="date">Dec.25.2022</span><span>MUSIC</span></div>
                    </div>
                    <div class="boxWrap">
                        <p>ART & CULTURE</p>
                        <div class="imgWrap">
                            <img src="/img/magazine/list02.jpg">
                        </div>
                        <h2>A Celebration of Contemporary Arts & Values</h2>
                        <div class="detail"><span class="date">Nov.11.2022</span><span>PARTNERSHIP</span></div>
                    </div>
                    <div class="boxWrap">
                        <p>PEOPLE</p>
                        <div class="imgWrap">
                            <img src="/img/magazine/list03.jpg">
                        </div>
                        <h2>SIGNATURES by LG SIGNATURE: New collaboration with fashion designer Lars Wallin</h2>
                        <div class="detail"><span class="date">Oct.31.2022</span><span>AMBASSADOR</span></div>
                    </div>
                    <div class="boxWrap">
                        <p>PEOPLE</p>
                        <div class="imgWrap">
                            <img src="/img/magazine/list04.jpg">
                        </div>
                        <h2>Alexandrov Klum collaborates with LG SIGNATURE</h2>
                        <div class="detail"><span class="date">Sep.20.2022</span><span>AMBASSADOR</span></div>
                    </div>
                    <div class="boxWrap">
                        <p>LIFESTYLE</p>
                        <div class="imgWrap">
                            <img src="/img/magazine/list05.jpg">
                        </div>
                        <h2>The Art of Refined Living: A Day Well Spent With LG SIGNATURE</h2>
                        <div class="detail"><span class="date">Aug.15.2022</span><span>PARTNERSHIP</span></div>
                    </div>
                    <div class="boxWrap">
                        <p>ART & CULTURE</p>
                        <div class="imgWrap">
                            <img src="/img/magazine/list06.jpg">
                        </div>
                        <h2>LG SIGNATURE & Monocle Partner Up to Present the Art of Technology</h2>
                        <div class="detail"><span class="date">Jun.14.2022</span><span>PARTNERSHIP</span></div>
                    </div>
                    <div class="boxWrap">
                        <p>ART & CULTURE</p>
                        <div class="imgWrap">
                            <img src="/img/magazine/list07.jpg">
                        </div>
                        <h2>How Technology Completes Digital Art & Our Lives</h2>
                        <div class="detail"><span class="date">May.25.2022</span><span>NFT</span></div>
                    </div>
                    <div class="boxWrap">
                        <p>LIFESTYLE</p>
                        <div class="imgWrap">
                            <img src="/img/magazine/list08.jpg">
                        </div>
                        <h2>Simplify Your Space, Free Your Mind</h2>
                        <div class="detail"><span class="date">Apr.28.2022</span><span>MINIMALISM</span></div>
                    </div>
                    <div class="boxWrap">
                        <p>ART & CULTURE</p>
                        <div class="imgWrap">
                            <img src="/img/magazine/list09.jpg">
                        </div>
                        <h2>HIDE & SEEK: TIMELESS BEAUTY TURNS INTO EXPERIENCE</h2>
                        <div class="detail"><span class="date">Jan.11.2022</span><span>PARTNERSHIP</span></div>
                    </div>
                </div>
                <a class="moreBtn" href="#">VIEW MORE</a>
            </div>
        </div>
        <a href="#" class="backToTop"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <%- include("footer")%>