<%- include("header",{ title:"NEWS | LG SIGNATURE", cssFiles:["news_update.css"], jsFiles:["header.js","scroll.js"] }) %>
    <div id="container">
        <div class="cont1">
            뉴스 수정 페이지
        </div>
    </div>
    <%- include("footer")%>