<%- include("header",{ title:"NEWS | LG SIGNATURE", cssFiles:["news_insert.css"], jsFiles:["header.js","scroll.js"] })
    %>
    <div id="container">
        <div class="cont1">
            <form action=""></form>
            <a href="/notice/news/list">back to the list</a>
        </div>
    </div>
    <%- include("footer")%>