<%- include("header",{ title:"NOTICE LEGAL | LG SIGNATURE", cssFiles:["notice_legal.css"],
    jsFiles:["header.js","login_join/scroll.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="bg"></div>
            <div class="tabWrap">
                <ul class="tabMenu">
                    <li><a href="/notice/review/list">Review</a></li>
                    <li class="on"><a href="/notice/legal">Legal</a></li>
                    <li><a href="/notice/privacy">Privacy</a></li>
                </ul>
            </div>
        </div>
        <div class="cont2">
            <div class="center">
                <h6>Legal</h6>
                <h1>Legal Statement</h1>
                <div class="wrap">
                    <div class="content">
                        <h2>Copyright</h2>
                        <p>Users of the site may download or print one copy of any and all materials on the site for personal, non-commercial use, provided that they do not modify or alter the materials in any way, nor delete or change any copyright or trademark notice. All materials on this site are provided for lawful purposes only. None of the information on this site may be copied, distributed or transmitted in any way for commercial use without the express written consent of LG Electronics. LG Electronics reserves full ownership of and intellectual property rights on any material downloaded from this site.</p>
                    </div>
                    <div class="content">
                        <h2>Submissions</h2>
                        <p>The LG Electronics’ SIGNATURE Web site does not want to receive confidential or proprietary information from you through our web site. Please note that any information or material sent to LG Electronics will NOT be deemed confidential. By sending LG Electronics any information or material, you grant LG Electronics an unrestricted, irrevocable license to use, reproduce, display, perform, modify, transmit and distribute those materials or information, and you also agree that LG Electronics is free to use any ideas, concepts, know-how or techniques that you send us for any purpose.</p>
                    </div>
                    <div class="content">
                        <h2>Liability</h2>
                        <p>Information on this web site is provided "As Is" without warranty of any kind, either express or implied, including but not limited to, the implied warranties of merchantability, fitness for a particular purpose, or non-infringement.</p>
                        <p>Information on this web site may contain technical inaccuracies or typographical errors. Information may be changed or updated without notice. LG Electronics may also make improvements and/or changes in the products and/or programs described in this information at any time without notice.</p>
                        <p>The links in this area will let you leave the LG Electronics Web site (www.lg.com).The linked sites are not under the control of LG Electronics. And LG Electronics is not responsible for the contents of any linked site or any link contained in a linked site, or any changes or updates to such sites. LG Electronics is the inclusion of any link does not imply endorsement by LG Electronics of the site.</p>
                    </div>
                    <div class="content">
                        <h2>Disclaimer</h2>
                        <p>The materials on the LG Electronics’ SIGNATURE Web site may contain inaccuracies and typographical errors. LG Electronics does not warrant the accuracy or completeness of the materials or the reliability of any advice, opinion, statement or other information displayed or distributed through the LG Electronics’ SIGNATURE Web site. You acknowledge that any reliance on any such opinion, advice, statement, memorandum, or information shall be at your sole risk. LG Electronics reserves the right, in its sole discretion, to correct any error or omission in any portion of the site. LG Electronics may make any other changes to the site, the materials and the products, programs, services or prices (If any) described in the LG Electronics’ SIGNATURE Web site at any time without notice.</p>
                        <p>The LG Electronics’ SIGNATURE Web site, the information and materials on the LG Electronics’ SIGNATURE Web site, and the software made available on the LG Electronics’ SIGNATURE Web site, are provided "As Is" without any representation or warranty, express or implied, of any kind, including, but not limited to, warranties of merchantability, non-infringement, or fitness for any particular purpose, some jurisdictions do not allow for the exclusion of implied warranties, so the above exclusions may not apply to you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer")%>