<%- include("header",{ title:"NOTICE PRIVACY | LG SIGNATURE", cssFiles:["notice_privacy.css"],
    jsFiles:["header.js","login_join/scroll.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="bg"></div>
            <div class="tabWrap">
                <ul class="tabMenu">
                    <li><a href="/notice/review/list">Review</a></li>
                    <li><a href="/notice/legal">Legal</a></li>
                    <li class="on"><a href="/notice/privacy">Privacy</a></li>
                </ul>
            </div>
        </div>
        <div class="cont2">
            <div class="center">
                <h6>Privacy</h6>
                <h1>Privacy Policy</h1>
                <div class="wrap">
                    <p>We believe that it is important for you to know what we do with your personal information. When it comes to consumer data collected electronically, LG Electronics will provide notice, choice, access and security in ways described below.</p>
                    <p>You can visit this Web site without telling us who you are or revealing any information about yourself. LG Electronics will not collect any personal data about you (e.g., name, country, e-mail address) unless you voluntarily choose to provide us with it. There are portions of this Web site where we may need to collect personal information from you for a specific purpose, such as to provide you with certain information you request.</p>
                    <p>Our web servers collect domain names and not the e-mail addresses. This information may be aggregated on a "no names" basis just to measure the number of visits, average time spent on the site, or pages viewed.</p>
                    <p>Our web servers also seek (as many Web sites do) to place a "cookie" (a small data file) on your computer's hard drive which allows the server to recognize the computer when it visits again. This helps track statistical information about navigation through our site. This cookie is not used to obtain your name or any personal data, and the information that is tracked is used only for internal purposes, such as to improve site navigation. LG Electronics uses these data to measure the usage of, and improve the content of our sites.</p>
                    <p>Domain name information that we collect is only used to measure the number of visits, average time spent on the site, pages viewed, etc. We use this information to measure the use of our site and to improve the content of our site. Information provided from you, such as your name, e-mail address and etc, is used by us only to respond to your inquiry or to process your request. We will not provide your personal data to third parties, but only if necessary to fulfill your request or for related purposes. The collected information will be discarded if the related purpose is completed. If you choose not to have your personal data used, we will respect your choice.</p>
                    <p>In an effort to make your visit both efficient and safe, all transfers of personal information via this site meet LG Electronics' rigorous Internet security standards.</p>
                    <p>Occasionally, our site may contain electronic links to other sites. In case you choose to go to those sites, their own privacy policy and privacy preferences will apply.</p>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer")%>