<%- include("header",{ title:"LG SIGNATURE Washing Machine", cssFiles:["prd_washingmachine.css"], jsFiles:["header.js","scroll.js","product/prd_washingmachine.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="vidWrap">
                <video muted autoplay loop>
                    <source src="/img/product04/washer_vid.mp4">
                </video>
            </div>
            <div class="textWrap">
                <div class="center">
                    <span>WASHING MACHINE</span>
                    <h2>OUTSTANDING MULTITASKING<br/>
                        MAKES THE EVERYDAY A LUXURY</h2>
                    <a href="#">LEARN MORE</a>
                </div>
            </div>
            <div class="scrollWrap">
                <img src="/img/index/scroll_icon.png">
            </div>
        </div>
        <div class="cont2">
            <div class="center">
                <h2>WHAT MAKES LAUNDRY<br/>
                    AN EVERYDAY LUXURY?</h2>
                <ul>
                    <li>
                        <img src="/img/product04/icon01.svg">
                        <p>CENTUM SYSTEM™</p>
                    </li>
                    <li>
                        <img src="/img/product04/icon02.svg">
                        <p>TWINWash™ & DUAL CONTROL</p>
                    </li>
                    <li>
                        <img src="/img/product04/icon03.svg">
                        <p>QUICK CIRCLE DISPLAY</p>
                    </li>
                    <li>
                        <img src="/img/product04/icon04.svg">
                        <p>TIMELESS DESIGN</p>
                    </li>
                </ul>
            </div>   
        </div>
        <div class="cont3">
            <div class="center">
                <div class="textWrap">
                    <span>TIMELESS DESIGN</span>
                    <h2>A LASTING AESTHETIC</h2>
                    <p>The secret to LG SIGNATURE Washing Machine's timeless design is the
                        combination of simple elegance with durability. This is possible thanks to the
                        high-quality enamel and tempered glass from which it is crafted.</p>
                </div>
                <div class="imgWrap">
                    <img src="/img/product04/washBg01.jpg">
                </div>
            </div>
        </div>
        <div class="cont4">
            <div class="center">
                <div class="topWrap">
                    <div class="imgWrap">
                        <img src="/img/product04/washBg02.jpg">
                    </div>
                    <div class="textWrap">
                        <h3>BLACK DOOR WITH TEMPERED GLASS</h3>
                        <h2>STRONG YET BEAUTIFUL</h2>
                        <p>A sleek tempered black glass door complements
                            the LG SIGNATURE Washing Machine's white enamel
                            body. This adds to the timeless aesthetic while also offering long-lasting durability with its scratch-resistant surface.</p>
                    </div>
                </div>
                <div class="botWrap">
                    <div class="textWrap">
                        <h3>WHITE ENAMEL COATED FINISH</h3>
                        <h2>A STUNNING LAUNDRY
                            ROOM CENTERPIECE</h2>
                        <p>The white enamel-coated body stands out, making for an elegant laundry room centerpiece. The material is easy to clean with a corrosion and scratch-proof façade ensuring that it will continue to look stunning for years to come.</p>
                    </div>
                    <div class="imgWrap">
                        <img src="/img/product04/washBg03.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="cont5">
            <div class="center">
                <ul class="tabMenu">
                    <li class="on"><a href="#">QUICK CIRCLE DISPLAY</a></li>
                    <li><a href="#">TITLED DISPLAY</a></li>
                    <li><a href="#">PUSH OPEN</a></li>
                </ul>
                <div class="tabWrap">
                    <div class="contentWrap on">
                        <div class="textWrap">
                            <h3>ALL YOUR FAVORITE CYCLES AT HAND</h3>
                            <p>A circular LCD display with a customizable interface provides intuitive<br/>
                            control with quick access to cycles for various types of clothes and your<br/>
                            most used cycle.</p>
                        </div>
                        <div class="imgWrap">
                            <img src="/img/product04/tabBg01.jpg">
                        </div>
                    </div>
                    <div class="contentWrap">
                        <div class="textWrap">
                            <h3>MADE WITH YOUR COMFORT IN MIND</h3>
                            <p>LG SIGNATURE Washing Machine is ergonomically designed with a<br/>
                            display tilted at 17 degrees making the controls easier to see and use.</p>
                        </div>
                        <div class="imgWrap">
                            <img src="/img/product04/tabBg02.jpg">
                        </div>
                    </div>
                    <div class="contentWrap">
                        <div class="textWrap">
                            <h3>A LITTLE HELP WHEN YOUR HANDS ARE FULL</h3>
                            <p>Forget about fumbling with handles when your hands are full. Simply push<br/>
                            on the door of the LG SIGNATURE Washing Machine and it will pop open<br/>
                            for easy access.</p>
                        </div>
                        <div class="vidWrap">
                            <video muted autoplay loop>
                                <source src="/img/product04/tabBg03.mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont6 craftCont">
            <div class="center">
                <h2>MASTER CRAFTSMANSHIP INSIDE AND OUT</h2>
                <div class="imgWrap">
                    <div class="gallery one">
                        <div><img src="/img/product04/gallery01.jpg"></div>
                        <div><img src="/img/product04/gallery04.jpg"></div>
                    </div>
                    <div class="gallery two">
                        <div><img src="/img/product04/gallery02.jpg"></div>
                    </div>
                    <div class="gallery three">
                        <div><img src="/img/product04/gallery03.jpg"></div>
                        <div><img src="/img/product04/gallery05.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont7 magazineCont">
            <div class="center">
                <div class="titleWrap">
                    <span>MAGAZINE</span>
                    <h2>YOU MAY ENJOY THESE ARTICLES</h2>
                </div>
                <div class="articleWrap">
                    <div class="article">
                        <div class="imgWrap">
                            <img src="/img/product04/article01.jpg">
                        </div>
                        <h3>PERFORMANCE • Oct.14.2019</h3>
                        <h2>Perfection realized - Washing Machine</h2>
                        <p><span>#INFOGRAPHIC</span><span>#FLAWLESS</span></p>
                    </div>
                    <div class="article">
                        <div class="imgWrap">
                            <img src="/img/product04/article02.jpg">
                        </div>
                        <h3>LIFESTYLE • Apr.28.2022</h3>
                        <h2>Simplify Your Space, Free Your Mind</h2>
                        <p><span>#MINIMALISM</span><span>#LIFESTYLE</span></p>
                    </div>
                    <div class="article">
                        <div class="imgWrap">
                            <img src="/img/product04/article03.jpg">
                        </div>
                        <h3>LIFESTYLE • Nov.15.2021</h3>
                        <h2>Fashion and Beyond through Sustainable Style</h2>
                        <p><span>#FASHION</span><span>#SUSTAINABILITY</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont8 detailCont">
            <div class="center">
                <div class="topWrap">
                    <div class="imgWrap">
                        <img src="/img/product04/washingmachineBg.png">
                    </div>
                    <div class="linkWrap">
                        <div class="text">
                            <h2>SEE THE FINER DETAILS</h2>
                            <p>BUY NOW</p>
                            <p>VIEW MORE</p>
                        </div>
                    </div>
                </div>
                <div class="botWrap">
                    <ul class="detailMenu">
                        <li>
                            <a href="#">DIMENSIONS</a>
                            <ul class="depth2">
                                <li>
                                    <h4>Main Washer Dimensions<br/>
                                        (WxHxD)</h4>
                                    <p>23 5/8"" x 33 1/2"" x 26 1/2“<br/>
                                        600 x 850 x 675 mm</p>
                                </li>
                                <li>
                                    <h4>Mini Washer Dimensions<br/>
                                        (WxHxD)</h4>
                                    <p>23 1/2"" x 14 1/2"" x 26“<br/>
                                        600 x 365 x 660 mm</p>
                                </li>
                                <li>
                                    <h4>Main Washer Weight</h4>
                                    <p>208 lbs<br/>
                                        96 kg</p>
                                </li>
                                <li>
                                    <h4>Mini Washer Weight</h4>
                                    <p>95 lbs<br/>
                                        43 kg</p>
                                </li>
                                <li>
                                    <h4>Main Washer Capacity</h4>
                                    <p>2.8 cu. ft.<br/>
                                        12 kg</p>
                                </li>
                                <li>
                                    <h4>Mini Washer Capacity</h4>
                                    <p>0.7 cu. ft.<br/>
                                        2 kg</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">MATERIALS AND FINISHES</a>
                            <ul class="depth2">
                                <li>
                                    <h4>NeveRust™ Stainless Steel Drum</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Cabinet</h4>
                                    <p>Enamel Coating</p>
                                </li>
                                <li>
                                    <h4>Control Panel</h4>
                                    <p>Glass Touch</p>
                                </li>
                                <li>
                                    <h4>Door Rim</h4>
                                    <p>Glass</p>
                                </li>
                                <li>
                                    <h4>Available Colors</h4>
                                    <p>White (W)</p>
                                </li>
                                <li>
                                    <h4>Door Cover</h4>
                                    <p>Dark Black Tinted Round Cover</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">FEATURES</a>
                            <ul class="depth2">
                                <li>
                                    <h4>Inverter Direct Drive™</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Steam™</h4>
                                    <p>Spa Steam</p>
                                </li>
                                <li>
                                    <h4>TurboWash™</h4>
                                    <p>49 Min</p>
                                </li>
                                <li>
                                    <h4>Smart Diagnosis</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Water feed</h4>
                                    <p>Hot / Cold</p>
                                </li>
                                <li>
                                    <h4>Standby Power zero</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Ball balance system</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Door Switch Type</h4>
                                    <p>Auto Door</p>
                                </li>
                                <li>
                                    <h4>Door Openning Angle (º)</h4>
                                    <p>120</p>
                                </li>
                                <li>
                                    <h4>Drum Volume (liters)</h4>
                                    <p>79</p>
                                </li>
                                <li>
                                    <h4>Drum Hole Size</h4>
                                    <p>14.6”<br/>
                                        370(R) mm</p>
                                </li>
                                <li>
                                    <h4>Drum Light</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Inner Drum</h4>
                                    <p>Embossing</p>
                                </li>
                                <li>
                                    <h4>Wi-Fi</h4>
                                    <p>Yes</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="#" class="backToTop"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <%- include("footer")%>