<%- include("header",{ title:"LG SIGNATURE Air Furifier", cssFiles:["prd_airpurifier.css"], jsFiles:["header.js","scroll.js"] }) %>
    <div id="container">
        <div class="cont1">
            
        </div>
        <div class="cont2"></div>
        <a href="#" class="backToTop"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <%- include("footer")%>