<%- include("header",{ title:"LG SIGNATURE Air Furifier", cssFiles:["prd_airpurifier.css"], jsFiles:["header.js","scroll.js","product/prd_airpurifier.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="vidWrap">
                <video muted autoplay loop>
                    <source src="/img/product05/airpurifier_vid.mp4">
                </video>
            </div>
            <div class="textWrap">
                <div class="center">
                    <span>AIR PURIFIER</span>
                    <h2>QUALITY YOU CAN FEEL<br/>
                        WITH EVERY BREATH</h2>
                    <a href="#">LEARN MORE</a>
                </div>
            </div>
            <div class="scrollWrap">
                <img src="/img/index/scroll_icon.png">
            </div>
        </div>
        <div class="cont2">
            <div class="center">
                <h2>WHAT MAKES FOR LUXURIOUSLY FRESH AIR?</h2>
                <ul>
                    <li>
                        <img src="/img/product05/icon01.svg">
                        <p>RAIN VIEW WINDOW</p>
                    </li>
                    <li>
                        <img src="/img/product05/icon02.svg">
                        <p>BLACK FILTER<br/>
                            SYSTEM</p>
                    </li>
                    <li>
                        <img src="/img/product05/icon03.svg">
                        <p>SMART INDICATOR &<br/>
                            SMART LIGHTING</p>
                    </li>
                    <li>
                        <img src="/img/product05/icon04.svg">
                        <p>10-YEAR WARRANTY</p>
                    </li>
                </ul>
            </div>   
        </div>
        <div class="cont3">
            <div class="imgWrap">
                <img src="/img/product05/airBg01.jpg">
            </div>
            <div class="textWrap">
                <span>RAIN VIEW WINDOW</span>
                <h2>A UNIQUE, CLEAR DESIGN ALLOWS
                    YOU TO SEE YOUR LG SIGNATURE</h2>
                <p>TA unique clear design allows you to see your LG SIGNATURE Air Purifier in operation while providing a calming experience reminiscent of raindrops falling against a window. It's an elegant touch that adds to a tranquil home aesthetic.</p>
            </div>
        </div>
        <div class="cont4">
            <div class="center">
                <div class="topWrap">
                    <div class="imgWrap">
                        <img src="/img/product05/airBg02.jpg">
                    </div>
                    <div class="textWrap">
                        <h3>WATERING SYSTEM</h3>
                        <h2>MOIST & FRESH AIR,
                            ESPECIALLY FOR YOU</h2>
                        <p>LG SIGNATURE Air Purifier's unique double
                            purification system thoroughly cleans the
                            air firstly through a filter and secondly
                            through water, ensuring fresh, pure air with
                            a comfortable moisture level.</p>
                    </div>
                </div>
                <div class="botWrap">
                    <div class="textWrap">
                        <h3>Smart Indicator & Smart Lighting</h3>
                        <h2>YOUR DAY'S AIR AT A GLANCE</h2>
                        <p>Easily check on various air quality indicators with accessible and accurate readings. The device detects the amount of particle matter in the air and displays the air quality, dust density, and humidity levels in a simple and intuitive display.</p>
                    </div>
                    <div class="vidWrap">
                        <video muted autoplay loop>
                            <source src="/img/product05/airBg03.mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont5">
            <div class="center">
                <ul class="tabMenu">
                    <li class="on"><a href="#">TRICKLE WATERING</a></li>
                    <li><a href="#">EASY BUCKET</a></li>
                    <li><a href="#">10-YEAR WARRANTY</a></li>
                </ul>
                <div class="tabWrap">
                    <div class="contentWrap on">
                        <div class="textWrap">
                            <h3>REFILL WITH EASE</h3>
                            <p>Just pour water through the opening in the top of the Air Purifier to<br/>
                            refill the device without the hassle of carrying heavy water containers<br/>
                            back and forth.</p>
                        </div>
                        <div class="imgWrap">
                            <img src="/img/product05/tabBg01.jpg">
                        </div>
                    </div>
                    <div class="contentWrap">
                        <div class="textWrap">
                            <h3>TAKE THE HASSLE OUT OF CLEANING</h3>
                            <p>The LG SIGNATURE Air Purifier has a detachable water bucket,<br/>
                            making it easier to dissemble and remove for thorough cleaning.</p>
                        </div>
                        <div class="vidWrap">
                            <video muted autoplay loop>
                                <source src="/img/product05/tabBg02.mp4">
                            </video>
                        </div>
                    </div>
                    <div class="contentWrap">
                        <div class="textWrap">
                            <h3>QUALITY YOU CAN TRUST</h3>
                            <p>The LG SIGNATURE Air Purifier's Inverter Motor comes with a<br/>
                            standard 10-year warranty, giving you peace of mind for<br/>
                            years to come.</p>
                        </div>
                        <div class="imgWrap">
                            <img src="/img/product05/tabBg03.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont6 craftCont">
            <div class="center">
                <h2>MASTER CRAFTSMANSHIP INSIDE AND OUT</h2>
                <div class="imgWrap">
                    <div class="gallery one">
                        <div><img src="/img/product05/gallery01.jpg"></div>
                        <div><img src="/img/product05/gallery04.jpg"></div>
                    </div>
                    <div class="gallery two">
                        <div><img src="/img/product05/gallery02.jpg"></div>
                    </div>
                    <div class="gallery three">
                        <div><img src="/img/product05/gallery03.jpg"></div>
                        <div><img src="/img/product05/gallery05.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont7 magazineCont">
            <div class="center">
                <div class="titleWrap">
                    <span>MAGAZINE</span>
                    <h2>YOU MAY ENJOY THESE ARTICLES</h2>
                </div>
                <div class="articleWrap">
                    <div class="article">
                        <div class="imgWrap">
                            <img src="/img/product05/article01.jpg">
                        </div>
                        <h3>LIFESTYLE • Apr.28.2022</h3>
                        <h2>Simplify Your Space, Free Your Mind</h2>
                        <p><span>#MINIMALISM</span><span>#LIFESTYLE</span></p>
                    </div>
                    <div class="article">
                        <div class="imgWrap">
                            <img src="/img/product05/article02.jpg">
                        </div>
                        <h3>LIFESTYLE • Sep.20.2020</h3>
                        <h2>City trip: Explore Berlin’s interior style</h2>
                        <p><span>#TRAVEL</span><span>#MINIMALISM DESIGNS</span></p>
                    </div>
                    <div class="article">
                        <div class="imgWrap">
                            <img src="/img/product05/article03.jpg">
                        </div>
                        <h3>LIFESTYLE • Jun.28.2020</h3>
                        <h2>The Art of Hosting - Lifestyle with LG SIGNATURE</h2>
                        <p><span>#LIVING</span><span>#PARTNERSHIP</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont8 detailCont">
            <div class="center">
                <div class="topWrap">
                    <div class="imgWrap">
                        <img src="/img/product05/airpurifierBg.png">
                    </div>
                    <div class="linkWrap">
                        <div class="text">
                            <h2>SEE THE FINER DETAILS</h2>
                            <p>BUY NOW</p>
                            <p>VIEW MORE</p>
                        </div>
                    </div>
                </div>
                <div class="botWrap">
                    <ul class="detailMenu">
                        <li>
                            <a href="#">DIMENSIONS</a>
                            <ul class="depth2">
                                <li>
                                    <h4>Product (WxHxD)</h4>
                                    <p>16.06" x 28.54" x 16.06“<br/>
                                        408x725x408mm</p>
                                </li>
                                <li>
                                    <h4>Bucket Size</h4>
                                    <p>483 lbs<br/>
                                        3.2L</p>
                                </li>
                                <li>
                                    <h4>Net Weight</h4>
                                    <p>36.38 lbs<br/>
                                        17 kg</p>
                                </li>
                                <li>
                                    <h4>Recommended room area</h4>
                                    <p>12.00 cu. Ft.<br/>
                                        46 m²</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">PERFORMANCE</a>
                            <ul class="depth2">
                                <li>
                                    <h4>Power consumption (W)</h4>
                                    <p>85 (Turbo) / 15 (L) /<br/> 23 (M) / 55 (H)</p>
                                </li>
                                <li>
                                    <h4>Pre Filter / Black 1.0 PM Filter</h4>
                                    <p>Yes (Permanent)</p>
                                </li>
                                <li>
                                    <h4>Air Flow (m3/h)</h4>
                                    <p>443.4(Turbo) / 374.4(High)</p>
                                </li>
                                <li>
                                    <h4>Black Deodorizing Filter</h4>
                                    <p>Yes (Replaceable)</p>
                                </li>
                                <li>
                                    <h4>Humidifying Filter</h4>
                                    <p>2</p>
                                </li>
                                <li>
                                    <h4>Filter Cleaning Reminder</h4>
                                    <p>2 Step (Order/Replace)</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">FEATURES</a>
                            <ul class="depth2">
                                <li>
                                    <h4>Fan Modes</h4>
                                    <p>Low / Mid / High / Auto</p>
                                </li>
                                <li>
                                    <h4>Control</h4>
                                    <p>Air Purifying / Humidifying / Quiet Mode</p>
                                </li>
                                <li>
                                    <h4>Noise (dB)</h4>
                                    <p>23/53</p>
                                </li>
                                <li>
                                    <h4>Smart Indicator<br/>(Air Quality Indicator)</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Dust Sensor</h4>
                                    <p>PM 1.0 Sensor</p>
                                </li>
                                <li>
                                    <h4>Child Lock</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Sleep Mode</h4>
                                    <p>Yes (2/4/8/12hrs)</p>
                                </li>
                                <li>
                                    <h4>wi-fi Enabled</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>UV LED</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>SmartThinQ®</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Filter Check Light</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Max. Water Level Indicator</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Remote</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Smart Drying</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Humidifying Capacity (cc/h)</h4>
                                    <p>700</p>
                                </li>
                                <li>
                                    <h4>AAFA Certified</h4>
                                    <p>Yes</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="#" class="backToTop"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <%- include("footer")%>