<%- include("header",{ title:"LG SIGNATURE Refrigerator", cssFiles:["prd_refrigerator.css"], jsFiles:["header.js","scroll.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="vidWrap">
                <video muted autoplay loop>
                    <source src="/img/product02/refrigerator_vid.mp4">
                </video>
            </div>
            <div class="textWrap">
                <div class="center">
                    <span>REFRIGERATOR</span>
                    <h2>CRAFTED FOR REFINED<br/>
                        TASTES</h2>
                    <a href="#">LEARN MORE</a>
                </div>
            </div>
            <div class="scrollWrap">
                <img src="/img/index/scroll_icon.png">
            </div>
        </div>
        <div class="cont2">
            <div class="center">
                <h2>WHAT MAKES FOR A REFINED KITCHEN EXPERIENCE?</h2>
                <ul>
                    <li>
                        <img src="/img/product02/icon01.svg">
                        <p>CENTUM SYSTEM</p>
                    </li>
                    <li>
                        <img src="/img/product02/icon02.svg">
                        <p>FRESHShield™</p>
                    </li>
                    <li>
                        <img src="/img/product02/icon03.svg">
                        <p>InstaView<br/>
                            DOOR-IN-DOOR</p>
                    </li>
                    <li>
                        <img src="/img/product02/icon04.svg">
                        <p>AUTO OPEN DOOR</p>
                    </li>
                </ul>
            </div>   
        </div>
        <div class="cont3">
            <div class="center">
                <div class="topWrap">
                    <div class="textWrap">
                        <h3>CENTUM SYSTEM</h3>
                        <h2>DISCOVER THE ART OF EFFICIENCY</h2>
                        <p>The Centum System™ is the heart of the
                            LG SIGNATURE Refrigerator. With a low-noise,
                            highly energy-efficient Inverter Linear Compressor, it's the secret to market-leading efficiency that you can enjoy day after day.</p>
                        <span>*20-year warranty available in select European countries.</span>
                    </div>
                    <div class="vidWrap">
                        <video muted autoplay loop>
                            <source src="/img/product02/videoBg01.mp4">
                        </video>
                    </div>
                </div>
                <div class="botWrap">
                    <div class="vidWrap">
                        <video muted autoplay loop>
                            <source src="/img/product02/videoBg02.mp4">
                        </video>
                    </div>
                    <div class="textWrap">
                        <h3>LINEAR COOLING</h3>
                        <h2>THE SECRET TO LONGER-
                            LASTING FRESHNESS</h2>
                        <p>Thanks to the Inverter Linear Compressor,
                            LG SIGNATURE Refrigerators reduce temperature
                            fluctuations to within 1 degree, even when the
                            door is open, increasing energy efficiency and
                            keeping your food at its best for longer.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont4">
            <div class="center">
                <div class="titleWrap">
                    <h3>CUSTOM CHILL™ PANTRY</h3>
                    <h2>CUSTOMIZE TO MATCH YOUR TASTES</h2>
                    <p>Proper storage begins with the proper temperature. With quick,
                        customizable settings, you can store a range of different ingredients,
                        including meats and fresh produce, at just the right temperature.</p>
                </div>
                <div class="vidWrap">
                    <video muted autoplay loop>
                        <source src="/img/product02/videoBg03.mp4">
                    </video>
                </div>
            </div>
        </div>
        <a href="#" class="backToTop"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <%- include("footer")%>