<%- include("header",{ title:"LG SIGNATURE Refrigerator", cssFiles:["prd_refrigerator.css"], jsFiles:["header.js","scroll.js","product/prd_refrigerator.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="vidWrap">
                <video muted autoplay loop>
                    <source src="/img/product02/refrigerator_vid.mp4">
                </video>
            </div>
            <div class="textWrap">
                <div class="center">
                    <span>REFRIGERATOR</span>
                    <h2>CRAFTED FOR REFINED<br/>
                        TASTES</h2>
                    <a href="#">LEARN MORE</a>
                </div>
            </div>
            <div class="scrollWrap">
                <img src="/img/index/scroll_icon.png">
            </div>
        </div>
        <div class="cont2">
            <div class="center">
                <h2>WHAT MAKES FOR A REFINED KITCHEN EXPERIENCE?</h2>
                <ul>
                    <li>
                        <img src="/img/product02/icon01.svg">
                        <p>CENTUM SYSTEM</p>
                    </li>
                    <li>
                        <img src="/img/product02/icon02.svg">
                        <p>FRESHShield™</p>
                    </li>
                    <li>
                        <img src="/img/product02/icon03.svg">
                        <p>InstaView<br/>
                            DOOR-IN-DOOR</p>
                    </li>
                    <li>
                        <img src="/img/product02/icon04.svg">
                        <p>AUTO OPEN DOOR</p>
                    </li>
                </ul>
            </div>   
        </div>
        <div class="cont3">
            <div class="center">
                <div class="topWrap">
                    <div class="textWrap">
                        <h3>CENTUM SYSTEM</h3>
                        <h2>DISCOVER THE ART OF EFFICIENCY</h2>
                        <p>The Centum System™ is the heart of the
                            LG SIGNATURE Refrigerator. With a low-noise,
                            highly energy-efficient Inverter Linear Compressor, it's the secret to market-leading efficiency that you can enjoy day after day.</p>
                        <span>*20-year warranty available in select European countries.</span>
                    </div>
                    <div class="vidWrap">
                        <video muted autoplay loop>
                            <source src="/img/product02/videoBg01.mp4">
                        </video>
                    </div>
                </div>
                <div class="botWrap">
                    <div class="vidWrap">
                        <video muted autoplay loop>
                            <source src="/img/product02/videoBg02.mp4">
                        </video>
                    </div>
                    <div class="textWrap">
                        <h3>LINEAR COOLING</h3>
                        <h2>THE SECRET TO LONGER-
                            LASTING FRESHNESS</h2>
                        <p>Thanks to the Inverter Linear Compressor,
                            LG SIGNATURE Refrigerators reduce temperature
                            fluctuations to within 1 degree, even when the
                            door is open, increasing energy efficiency and
                            keeping your food at its best for longer.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont4">
            <div class="center">
                <div class="titleWrap">
                    <h3>CUSTOM CHILL™ PANTRY</h3>
                    <h2>CUSTOMIZE TO MATCH YOUR TASTES</h2>
                    <p>Proper storage begins with the proper temperature. With quick,
                        customizable settings, you can store a range of different ingredients,
                        including meats and fresh produce, at just the right temperature.</p>
                </div>
                <div class="vidWrap">
                    <video muted autoplay loop>
                        <source src="/img/product02/videoBg03.mp4">
                    </video>
                </div>
            </div>
        </div>
        <div class="cont5">
            <div class="center">
                <ul class="tabMenu">
                    <li class="on"><a href="#">TEXTURED STEEL™ FINISH</a></li>
                    <li><a href="#">BLACK DIAMOND GLASS</a></li>
                </ul>
                <div class="tabWrap">
                    <div class="contentWrap on">
                        <div class="textWrap">
                            <h3>A SIGNATURE LOOK</h3>
                            <p>Premium textured steel gives the LG SIGNATURE Refrigerator its luxurious and durable finish.<br/>
                            It's what makes this a kitchen centerpiece that will stand the test of time.</p>
                        </div>
                        <div class="imgWrap">
                            <img src="/img/product02/tabBg01.jpg">
                        </div>
                    </div>
                    <div class="contentWrap">
                        <div class="textWrap">
                            <h3>A TIMELESS FINISH</h3>
                            <p>A sleek black diamond glass window provides a unique and classy<br/>
                            finishing touch to your kitchen.</p>
                        </div>
                        <div class="imgWrap">
                            <img src="/img/product02/tabBg02.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont6">
            <div class="center">
                <h2>MASTER CRAFTSMANSHIP INSIDE AND OUT</h2>
                <div class="imgWrap">
                    <div class="gallery one">
                        <div><img src="/img/product02/gallery01.jpg"></div>
                        <div><img src="/img/product02/gallery04.jpg"></div>
                    </div>
                    <div class="gallery two">
                        <div><img src="/img/product02/gallery02.jpg"></div>
                    </div>
                    <div class="gallery three">
                        <div><img src="/img/product02/gallery03.jpg"></div>
                        <div><img src="/img/product02/gallery05.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont7">
            <div class="center">
                <div class="titleWrap">
                    <span>MAGAZINE</span>
                    <h2>YOU MAY ENJOY THESE ARTICLES</h2>
                </div>
                <div class="articleWrap">
                    <div class="article">
                        <div class="imgWrap">
                            <img src="/img/product02/article01.jpg">
                        </div>
                        <h3>PERFORMANCE • Oct.01.2019</h3>
                        <h2>Perfection realized - Refrigerator</h2>
                        <p><span>#INFOGRAPHIC</span><span>#ESSENCE OF TASTE</span></p>
                    </div>
                    <div class="article">
                        <div class="imgWrap">
                            <img src="/img/product02/article02.jpg">
                        </div>
                        <h3>LIFESTYLE • Dec.23.2021</h3>
                        <h2>We Are What We Eat</h2>
                        <p><span>#FOOD</span><span>#SUSTAINABILITY </span></p>
                    </div>
                    <div class="article">
                        <div class="imgWrap">
                            <img src="/img/product02/article03.jpg">
                        </div>
                        <h3>PEOPLE • Nov.23.2021</h3>
                        <h2>The Legendary Pairing:John Legend Collaborates with LG SIGNATURE</h2>
                        <p><span>#AMBASSADOR</span><span>#MUSIC</span><span>#GLOBAL</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont8">
            <div class="center">
                <div class="topWrap">
                    <div class="imgWrap">
                        <img src="/img/product02/refrigeratorBg.png">
                    </div>
                    <div class="linkWrap">
                        <div class="text">
                            <h2>SEE THE FINER DETAILS</h2>
                            <p>BUY NOW</p>
                            <p>VIEW MORE</p>
                        </div>
                    </div>
                </div>
                <div class="botWrap">
                    <ul class="detailMenu">
                        <li>
                            <a href="#">DIMENSIONS</a>
                            <ul class="depth2">
                                <li>
                                    <h4>Dimensions(WxHxD)</h4>
                                    <p>35 7/8"X 70 1/4" X 36 1/2"<br/>
                                        912 X 1,784 X 929mm</p>
                                </li>
                                <li>
                                    <h4>Weight</h4>
                                    <p>483 lbs<br/>
                                        219 KG</p>
                                </li>
                                <li>
                                    <h4>Refrigerator Capacity</h4>
                                    <p>18.80 cu. ft.<br/>
                                        532.4 L</p>
                                </li>
                                <li>
                                    <h4>Freezer Capacity</h4>
                                    <p>12.00 cu. Ft.<br/>
                                        340L</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">REFRIGERATOR</a>
                            <ul class="depth2">
                                <li>
                                    <h4>No. of Shelves</h4>
                                    <p>4 Split (2 slide out + 2 fixed)</p>
                                </li>
                                <li>
                                    <h4>Cantilevered Shelves</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Shelf Construction</h4>
                                    <p>Tempered Glass with LED Light</p>
                                </li>
                                <li>
                                    <h4>Crisper Bins</h4>
                                    <p>2 (Soft close)</p>
                                </li>
                                <li>
                                    <h4>Glide N'Serve Drawer</h4>
                                    <p>Yes (Soft close)</p>
                                </li>
                                <li>
                                    <h4>Temperature Control Pantry</h4>
                                    <p>Digital Control</p>
                                </li>
                                <li>
                                    <h4>Easy Reach Bins</h4>
                                    <p>Yes (Full width)</p>
                                </li>
                                <li>
                                    <h4>Refrigerator Light</h4>
                                    <p>LED (Ceiling and shelves)</p>
                                </li>
                                <li>
                                    <h4>Auto Open Door</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>LUMIShelf™</h4>
                                    <p>Yes</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">FREEZER</a>
                            <ul class="depth2">
                                <li>
                                    <h4>Door Type</h4>
                                    <p>Side Swing</p>
                                </li>
                                <li>
                                    <h4>Drawers</h4>
                                    <p>6</p>
                                </li>
                                <li>
                                    <h4>Auto Open Door<br/>
                                        (Freezer)</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Freezer Light</h4>
                                    <p>LED</p>
                                </li>
                                <li>
                                    <h4>No. of Door Bins/<br/>
                                        Construction</h4>
                                    <p>6-2 Piece (Clear)</p>
                                </li>
                                <li>
                                    <h4>Freezer Handle</h4>
                                    <p>Pocket Handle</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">FEATURES</a>
                            <ul class="depth2">
                                <li>
                                    <h4>Door Alarm</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Multi-Air Flow™ System</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Shelf Linear Compressor</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>SmartDiagnosis™</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Deodorizer</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Noise Emission</h4>
                                    <p>41 dB</p>
                                </li>
                                <li>
                                    <h4>Multi-Air Flow</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Lamp</h4>
                                    <p>LED</p>
                                </li>
                                <li>
                                    <h4>Ice Dispenser(Cube Ice)</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Refrigerant</h4>
                                    <p>600a</p>
                                </li>
                                <li>
                                    <h4>Freezing Capacity (kg/24hr)</h4>
                                    <p>7.5kg/24Hr</p>
                                </li>
                                <li>
                                    <h4>InstaView</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Temperature Controls</h4>
                                    <p>Electronic/Digital</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="#" class="backToTop"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <%- include("footer")%>