<%- include("header",{ title:"LG SIGNATURE Washing Machine", cssFiles:["prd_washingmachine.css"], jsFiles:["header.js","scroll.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="vidWrap">
                <video muted autoplay loop>
                    <source src="/img/product04/washer_vid.mp4">
                </video>
            </div>
            <div class="textWrap">
                <div class="center">
                    <span>WASHING MACHINE</span>
                    <h2>OUTSTANDING MULTITASKING<br/>
                        MAKES THE EVERYDAY A LUXURY</h2>
                    <a href="#">LEARN MORE</a>
                </div>
            </div>
            <div class="scrollWrap">
                <img src="/img/index/scroll_icon.png">
            </div>
        </div>
        <div class="cont2">
            <div class="center">
                <h2>WHAT MAKES LAUNDRY<br/>
                    AN EVERYDAY LUXURY?</h2>
                <ul>
                    <li>
                        <img src="/img/product04/icon01.svg">
                        <p>CENTUM SYSTEM™</p>
                    </li>
                    <li>
                        <img src="/img/product04/icon02.svg">
                        <p>TWINWash™ & DUAL CONTROL</p>
                    </li>
                    <li>
                        <img src="/img/product04/icon03.svg">
                        <p>QUICK CIRCLE DISPLAY</p>
                    </li>
                    <li>
                        <img src="/img/product04/icon04.svg">
                        <p>TIMELESS DESIGN</p>
                    </li>
                </ul>
            </div>   
        </div>
        <a href="#" class="backToTop"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <%- include("footer")%>