<%- include("header",{ title:"LG SIGNATURE OLED 8K TV", cssFiles:["prd_oled8k.css"], jsFiles:["header.js","scroll.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="vidWrap">
                <video muted autoplay loop>
                    <source src="/img/product01/oled8k_vid.mp4">
                </video>
            </div>
            <div class="textWrap">
                <div class="center">
                    <span>OLED 8K</span>
                    <h2>INDULGE IN A SIGNATURE<br/>
                        VIEWING EXPERIENCE</h2>
                    <a href="#">LEARN MORE</a>
                </div>
            </div>
            <div class="scrollWrap">
                <img src="/img/index/scroll_icon.png">
            </div>
        </div>
        <div class="cont2"></div>
        <a href="#" class="backToTop"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <%- include("footer")%>