<%- include("header",{ title:"LG SIGNATURE Refrigerator", cssFiles:["prd_refrigerator.css"], jsFiles:["header.js","scroll.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="vidWrap">
                <video muted autoplay loop>
                    <source src="/img/product02/refrigerator_vid.mp4">
                </video>
            </div>
            <div class="textWrap">
                <div class="center">
                    <span>REFRIGERATOR</span>
                    <h2>CRAFTED FOR REFINED<br/>
                        TASTES</h2>
                    <a href="#">LEARN MORE</a>
                </div>
            </div>
            <div class="scrollWrap">
                <img src="/img/index/scroll_icon.png">
            </div>
        </div>
        <div class="cont2">
            <div class="center">
                <h2>WHAT MAKES FOR A REFINED KITCHEN EXPERIENCE?</h2>
                <ul>
                    <li>
                        <img src="/img/product02/icon01.svg">
                        <p>CENTUM SYSTEM</p>
                    </li>
                    <li>
                        <img src="/img/product02/icon02.svg">
                        <p>FRESHShield™</p>
                    </li>
                    <li>
                        <img src="/img/product02/icon03.svg">
                        <p>InstaView<br/>
                            DOOR-IN-DOOR</p>
                    </li>
                    <li>
                        <img src="/img/product02/icon04.svg">
                        <p>AUTO OPEN DOOR</p>
                    </li>
                </ul>
            </div>   
        </div>
        <a href="#" class="backToTop"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <%- include("footer")%>