<%- include("header",{ title:"LG SIGNATURE OLED 8K TV", cssFiles:["prd_oled8k.css"], jsFiles:["header.js","scroll.js","product/prd_oled8k.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="vidWrap">
                <video muted autoplay loop>
                    <source src="/img/product01/oled8k_vid.mp4">
                </video>
            </div>
            <div class="textWrap">
                <div class="center">
                    <span>OLED 8K</span>
                    <h2>INDULGE IN A SIGNATURE<br/>
                        VIEWING EXPERIENCE</h2>
                    <a href="#">LEARN MORE</a>
                </div>
            </div>
            <div class="scrollWrap">
                <img src="/img/index/scroll_icon.png">
            </div>
        </div>
        <div class="cont2">
            <div class="center">
                <h2>WHAT MAKES A FIRST-CLASS<br/>
                    OLED EXPERIENCE?</h2>
                <ul>
                    <li>
                        <img src="/img/product01/icon01.svg">
                        <p>Real 8K</p>
                    </li>
                    <li>
                        <img src="/img/product01/icon02.svg">
                        <p>SELF-LIT Pixels</p>
                    </li>
                    <li>
                        <img src="/img/product01/icon03.svg">
                        <p>ThinQ AI</p>
                    </li>
                    <li>
                        <img src="/img/product01/icon04.svg">
                        <p>Slim Panel</p>
                    </li>
                </ul>
            </div>   
        </div>
        <div class="cont3">
            <div class="center">
                <div class="textWrap">
                    <span>REAL 8K</span>
                    <h2>PICTURE SO REAL, IT'S ALMOST UNREAL</h2>
                    <p>LG SIGNATURE OLED 8K is designed to make unreal picture quality a reality.<br/>
                        With over 33 million self-lit pixels the TV delivers everything you watch with<br/>
                        an unprecedented level of depth and detail, thanks to perfect blacks, intense<br/>
                        color, and stunning picture quality.</p>
                </div>
                <div class="imgWrap">
                    <img src="/img/product01/oled8k_Bg01.jpg">
                </div>
            </div>
        </div>
        <div class="cont4">
            <div class="center">
                <div class="section01">
                    <div class="textWrap">
                        <h3>INFINITE CONTRAST</h3>
                        <h2>SEE EVERY HIDDEN DETAIL</h2>
                        <p>LG SIGNATURE OLED 8K takes contrast to new heights with the deepest blacks and brighter highlights. This reveals subtle details in your favorite content that may otherwise be hidden from view.</p>
                    </div>
                    <div class="imgWrap">
                        <video muted autoplay loop>
                            <source src="/img/product01/videoBg01.mp4">
                        </video>
                    </div>
                    <span>*Screen images simulated</span>
                </div>
                <div class="section02">
                    <div class="imgWrap">
                        <video muted autoplay loop>
                            <source src="/img/product01/videoBg02.mp4">
                        </video>
                    </div>
                    <div class="textWrap">
                        <div class="wrap">
                            <h3>Α9 GEN 5 AI 8K PROCESSO</h3>
                            <h2>POWERING PREMIUM<br/>
                                PERFORMANCE</h2>
                            <p>The α9 Gen 5 AI 8K Processor is the brain behind the TV—using deep-learning algorithms it analyzes and optimizes your content for the best audio-visual experience. What's more, it even upscales lower resolution content into stunningly realistic 8K.</p>
                            <span>*Screen images simulated</span>
                        </div>
                    </div>
                </div>
                <div class="section03">
                    <div class="textWrap">
                        <div class="wrap">
                            <h3>88-INCH OLED</h3>
                            <h2>EXCELLENCE ON A<br/>
                                WHOLE NEW SCALE</h2>
                            <p>With a breathtaking 88-inch, ultra-slim profile LG SIGNATURE OLED 8K redefines large-screen TVs. And, thanks to Real 8K, your content remains crystal clear even on this ultra-large screen. It's less like a TV and more like a window into another world.</p>
                        </div>
                    </div>
                    <div class="imgWrap">
                        <img src="/img/product01/oled8k_Bg02.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="cont5">
            <div class="center">
                <ul class="tabMenu">
                    <li class="on"><a href="#">SIGNATURE CINEMA</a></li>
                    <li><a href="#">SIGNATURE GAMING</a></li>
                </ul>
                <div class="tabWrap">
                    <div class="contentWrap on">
                        <div class="textWrap">
                            <h3>BRING THE HOLLYWOOD EXPERIENCE HOME</h3>
                            <p>LG SIGNATURE OLED 8K is the new gold standard for home cinema.<br/> With crystal clear picture quality, infinite contrast, and optimized picture and<br/>sound you'll be immersed in movies like never before.</p>
                        </div>
                        <div class="imgWrap">
                            <img src="/img/product01/tabBg01.jpg">
                        </div>
                        <p>*Dolby Vision's Precision Detail will become available as part of the Dolby Vision IQ update due for release starting in June 2022; specific timing will vary by country.</p>
                    </div>
                    <div class="contentWrap">
                        <div class="textWrap">
                            <h3>FEEL LIKE YOU'RE IN THE MIDDLE OF THE ACTION</h3>
                            <p>From stunning 8K picture and sound complete with Dolby Vision and Dolby Atmos<br/>
                            to 0.1ms response times and gaming software that meets the latest HDMI 2.1 specifications,<br/>
                            LG SIGNATURE OLED 8K has everything you need for the ultimate gaming experience.</p>
                        </div>
                        <div class="imgWrap">
                            <img src="/img/product01/tabBg02.jpg">
                        </div>
                        <p>*Response time tested and certified by Intertek.</p>
                        <p>**VRR is a certified specification of HDMI 2.1.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont6">
            <div class="center">
                <h2>MASTER CRAFTSMANSHIP INSIDE AND OUT</h2>
                <div class="imgWrap">
                    <div class="gallery one">
                        <div><img src="/img/product01/gallery01.jpg"></div>
                        <div><img src="/img/product01/gallery04.jpg"></div>
                    </div>
                    <div class="gallery two">
                        <div><img src="/img/product01/gallery02.jpg"></div>
                    </div>
                    <div class="gallery three">
                        <div><img src="/img/product01/gallery03.jpg"></div>
                        <div><img src="/img/product01/gallery05.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont7">
            <div class="center">
                <div class="titleWrap">
                    <span>MAGAZINE</span>
                    <h2>YOU MAY ENJOY THESE ARTICLES</h2>
                </div>
                <div class="articleWrap">
                    <div class="article">
                        <div class="imgWrap">
                            <img src="/img/product01/article01.jpg">
                        </div>
                        <h3>PERFORMANCE • 3 YEARS AGO</h3>
                        <h2>Perfection realized - 8K OLED TV</h2>
                        <p><span>#INFOGRAPHIC</span><span>#ARTISTIC TECH</span></p>
                    </div>
                    <div class="article">
                        <div class="imgWrap">
                            <img src="/img/product01/article02.jpg">
                        </div>
                        <h3>LIFESTYLE • Nov.8.2021</h3>
                        <h2>A never-Ending Journey: Timeless Places</h2>
                        <p><span>#TRAVEL</span><span>#SUSTAINABILITY </span></p>
                    </div>
                    <div class="article">
                        <div class="imgWrap">
                            <img src="/img/product01/article03.jpg">
                        </div>
                        <h3>AMBASSADOR • Feb.20.2022</h3>
                        <h2>Alexandorv Klum collaborates with LG SIGNATURE</h2>
                        <p><span>#AMBASSADOR</span><span>#ART</span><span>#SWEDEN</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont8">
            <div class="center">
                <div class="topWrap">
                    <div class="imgWrap">
                        <img src="/img/product01/tvBg.png">
                    </div>
                    <div class="linkWrap">
                        <div class="text">
                            <h2>SEE THE FINER DETAILS</h2>
                            <p>BUY NOW</p>
                            <p>VIEW MORE</p>
                        </div>
                    </div>
                </div>
                <div class="botWrap">
                    <ul class="detailMenu">
                        <li>
                            <a href="#">DIMENSIONS</a>
                            <ul class="depth2">
                                <li>
                                    <h4>Dimensions with Stand<br/>
                                        (WxHxD)</h4>
                                    <p>77.2” x 57.3” x 11.1”<br/>
                                       1,961 x 1,456 x 281 mm</p>
                                </li>
                                <li>
                                    <h4>Dimensions without Stand<br/>
                                        (WxHxD)</h4>
                                    <p>77.2” x 44.1” x 2”<br/>
                                        1,961 x 1,120 x 49.9 mm</p>
                                </li>
                                <li>
                                    <h4>Packaging Dimensions<br/>
                                        (WxHxD)</h4>
                                    <p>83.7” x 54.6” x 28”<br/>
                                        2,126 x 1,386 x 710 mm</p>
                                </li>
                                <li>
                                    <h4>Stand Width</h4>
                                    <p>77.2”<br/>
                                        1961 mm</p>
                                </li>
                                <li>
                                    <h4>Weight with Stand<br/>
                                        (WxHxD)</h4>
                                    <p>229.3 Ibs<br/>
                                        104 kg</p>
                                </li>
                                <li>
                                    <h4>Weight without Stand<br/>
                                        (WxHxD)</h4>
                                    <p>92.6 Ibs<br/>
                                        42 kg</p>
                                </li>
                                <li>
                                    <h4>Packaging Weight</h4>
                                    <p>332.9 Ibs<br/>
                                        151 kg</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">PICTURE(PANEL)</a>
                            <ul class="depth2">
                                <li>
                                    <h4>Display Type</h4>
                                    <p>Self-Lighting OLED Display</p>
                                </li>
                                <li>
                                    <h4>Display Resolution</h4>
                                    <p>8K Ultra HD<br/>
                                        (7,680 x 4,320)</p>
                                </li>
                                <li>
                                    <h4>Wide Viewing Angle</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Dimming Technology</h4>
                                    <p>Pixel Level Dimming  </p>
                                </li>
                                <li>
                                    <h4>Perfect Black</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Intense Color (Wide Color Gamut)</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Billion Rich Colors</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>100% Color Fidelity</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>100% Color Volume</h4>
                                    <p>Yes</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">PICTURE(PROCESSING)</a>
                            <ul class="depth2">
                                <li>
                                    <h4>Picture Processor</h4>
                                    <p>α9 Gen 5 AI Processor 8K</p>
                                </li>
                                <li>
                                    <h4>AI Picture</h4>
                                    <p>AI Picture Pro</p>
                                </li>
                                <li>
                                    <h4>Upscaling</h4>
                                    <p>AI 8K Upscaling</p>
                                </li>
                                <li>
                                    <h4>Refresh Rate</h4>
                                    <p>120Hz Native</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">SOUND(PROCESSING)</a>
                            <ul class="depth2">
                                <li>
                                    <h4>AI Sound</h4>
                                    <p>AI Sound Pro</p>
                                </li>
                                <li>
                                    <h4>TV Sound Mode Share</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Bluetooth Surround Ready</h4>
                                    <p>Yes</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="#" class="backToTop"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <%- include("footer")%>