<%- include("header",{ title:"LG SIGNATURE Wine Cellar", cssFiles:["prd_winecellar.css"], jsFiles:["header.js","scroll.js","product/prd_winecellar.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="vidWrap">
                <video muted autoplay loop>
                    <source src="/img/product03/winecellar_vid.mp4">
                </video>
            </div>
            <div class="textWrap">
                <div class="center">
                    <span>WINE CELLAR</span>
                    <h2>DISCOVER THE ESSENCE OF<br/>
                        THE IDEAL GLASS</h2>
                    <a href="#">LEARN MORE</a>
                </div>
            </div>
            <div class="scrollWrap">
                <img src="/img/index/scroll_icon.png">
            </div>
        </div>
        <div class="cont2">
            <div class="center">
                <h2>ELEGANT. INTELLIGENT. CONVENIENT.</h2>
                <ul>
                    <li>
                        <img src="/img/product03/icon01.svg">
                        <p>TEMPERATURE CONTROL</p>
                    </li>
                    <li>
                        <img src="/img/product03/icon02.svg">
                        <p>VIBRATION CONTROL</p>
                    </li>
                    <li>
                        <img src="/img/product03/icon03.svg">
                        <p>InstaView™</p>
                    </li>
                    <li>
                        <img src="/img/product03/icon04.svg">
                        <p>AUTO OPEN DOOR™</p>
                    </li>
                </ul>
            </div>   
        </div>
        <div class="cont3">
            <div class="center">
                <div class="topWrap">
                    <div class="vidWrap">
                        <video muted autoplay loop>
                            <source src="/img/product03/videoBg01.mp4">
                        </video>
                    </div>
                    <div class="textWrap">
                        <h3>UV-RESISTANCE</h3>
                        <h2>BLOCK OUT LIGHT, LOCK IN FLAVOR</h2>
                        <p>A sleek 3-layered black mirrored glass door blocks heat and UV rays that could harm the delicate flavor profile of wines, replicating the time-honored underground storage environment of traditional wine cellars.</p>
                        <span>*Based on KCL test results of measuring UVT on the 3-layered glass.</span>
                        <span>**Screen images simulated.</span>
                    </div>
                </div>
                <div class="botWrap">
                    <div class="textWrap">
                        <h3>VIBRATION CONTROL</h3>
                        <h2>MINIMUM VIBRATION,
                            MAXIMUM FLAVOR</h2>
                        <p>Vibration during storage can dull the delicate flavors in wine by causing chemical reactions within the bottle. Preserve your vintage wines in optimal condition with Inverter Linear Compressor, our low-noise, vibration control technology.</p>
                        <span>*Based on UL test results using LG’s internal testing method of measuring average vibration in the wine storage compartment. Applies to LGE model LSR200W. Wine bottles are loaded on the shelves and middle temperature setting. The result may vary in actual usage.</span>
                    </div>
                    <div class="vidWrap">
                        <video muted autoplay loop>
                            <source src="/img/product03/videoBg02.mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont4">
            <div class="center">
                <ul class="tabMenu">
                    <li class="on"><a href="#">GLASS TOUCH DISPLAY</a></li>
                    <li><a href="#">CONVERTIBLE DRAWER</a></li>
                    <li><a href="#">LUMIShelf™</a></li>
                    <li><a href="#">CONVERTIBLE PANTRY</a></li>
                </ul>
                <div class="tabWrap">
                    <div class="contentWrap on">
                        <div class="textWrap">
                            <h3>CONVENIENCE AT YOUR FINGERTIPS</h3>
                            <p>Cutting-edge glass touch LED display technology lights up with<br/>
                            a tap for convenient control.</p>
                        </div>
                        <div class="imgWrap">
                            <img src="/img/product03/tabBg01.jpg">
                        </div>
                    </div>
                    <div class="contentWrap">
                        <div class="textWrap">
                            <h3>A CREATE THE PERFECT WINE PAIRING</h3>
                            <p>Enjoy the perfect wine pairings with a drawer that can be<br/>
                            converted from fridge to freezer and back again as you need.</p>
                        </div>
                        <div class="imgWrap">
                            <img src="/img/product03/tabBg02.jpg">
                        </div>
                    </div>
                    <div class="contentWrap">
                        <div class="textWrap">
                            <h3>SHINE A SPOTLIGHT ON YOUR FINEST VINTAGES</h3>
                            <p>Easily see what wines you have in store and select the perfect bottle<br/>
                            for the occasion with premium under-shelf LED lighting.</p>
                        </div>
                        <div class="imgWrap">
                            <img src="/img/product03/tabBg03.jpg">
                        </div>
                    </div>
                    <div class="contentWrap">
                        <div class="textWrap">
                            <h3>FROM WINING TO DINING AT THE TOUCH OF A BUTTON</h3>
                            <p>From champagne to canapés, store a range of food and drink at their<br/>
                            ideal temperature with customizable temperature presets.</p>
                        </div>
                        <div class="imgWrap">
                            <img src="/img/product03/tabBg04.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont5 craftCont">
            <div class="center">
                <h2>MASTER CRAFTSMANSHIP INSIDE AND OUT</h2>
                <div class="imgWrap">
                    <div class="gallery one">
                        <div><img src="/img/product03/gallery01.jpg"></div>
                        <div><img src="/img/product03/gallery04.jpg"></div>
                    </div>
                    <div class="gallery two">
                        <div><img src="/img/product03/gallery02.jpg"></div>
                    </div>
                    <div class="gallery three">
                        <div><img src="/img/product03/gallery03.jpg"></div>
                        <div><img src="/img/product03/gallery05.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont6 magazineCont">
            <div class="center">
                <div class="titleWrap">
                    <span>MAGAZINE</span>
                    <h2>YOU MAY ENJOY THESE ARTICLES</h2>
                </div>
                <div class="articleWrap">
                    <div class="article">
                        <div class="imgWrap">
                            <img src="/img/product03/article01.jpg">
                        </div>
                        <h3>PERFORMANCE • Oct.29.2020</h3>
                        <h2>Excellent refrigeration for flawless wine - Wine Cellar</h2>
                        <p><span>#INFOGRAPHIC</span><span>#TIMELESS DESIGN</span></p>
                    </div>
                    <div class="article">
                        <div class="imgWrap">
                            <img src="/img/product03/article02.jpg">
                        </div>
                        <h3>LIFESTYLE • Aug.10.2020</h3>
                        <h2>LG SIGNATURE premieres 'Notes From The Cellar' series</h2>
                        <p><span>#FOOD</span><span>#ACCLAIMED CHEFS READ</span></p>
                    </div>
                    <div class="article">
                        <div class="imgWrap">
                            <img src="/img/product03/article03.jpg">
                        </div>
                        <h3>LIFESTYLE • Jun.22.2020</h3>
                        <h2>Wine critic James Sucking #4 - The new classic collection</h2>
                        <p><span>#FOOD</span><span>#ACCLAIMED CHEFS READ</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont7 detailCont">
            <div class="center">
                <div class="topWrap">
                    <div class="imgWrap">
                        <img src="/img/product03/winecellarBg.png">
                    </div>
                    <div class="linkWrap">
                        <div class="text">
                            <h2>SEE THE FINER DETAILS</h2>
                            <p>BUY NOW</p>
                            <p>VIEW MORE</p>
                        </div>
                    </div>
                </div>
                <div class="botWrap">
                    <ul class="detailMenu">
                        <li>
                            <a href="#">DIMENSIONS</a>
                            <ul class="depth2">
                                <li>
                                    <h4>Dimensions (WxHxD)</h4>
                                    <p>27" x 70" x 28"<br/>
                                        700 x 1793 x 735 mm</p>
                                </li>
                                <li>
                                    <h4>Weight</h4>
                                    <p>386 lbs<br/>
                                        175 kg</p>
                                </li>
                                <li>
                                    <h4>Packaging Dimensions (WxHxD)</h4>
                                    <p>30" x 73" x 32"<br/>
                                        747 x 1860 x 794 mm</p>
                                </li>
                                <li>
                                    <h4>Packaging Weight</h4>
                                    <p>408 lbs<br/>
                                        185 kg</p>
                                </li>
                                <li>
                                    <h4>Refrigerator Capacity</h4>
                                    <p>10.30 cu.ft.<br/>
                                        291.7 L</p>
                                </li>
                                <li>
                                    <h4>Freezer Capacity</h4>
                                    <p>5.00 cu.ft.<br/>
                                        141.6 L</p>
                                </li>
                                <li>
                                    <h4>Total Capacity</h4>
                                    <p>15.30 cu.ft.<br/>
                                        433.3 L</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">GENERAL</a>
                            <ul class="depth2">
                                <li>
                                    <h4>Energy Efficiency Class</h4>
                                    <p>420</p>
                                </li>
                                <li>
                                    <h4>Cooling System</h4>
                                    <p>• Type: No Frost<br/>
                                        • Mid / Lower drawer: Freeze / Fridge<br/>
                                        • Top Cooling: Yes<br/>
                                        • Fixed Temperature: Yes</p>
                                </li>
                                <li>
                                    <h4>Noise Emission</h4>
                                    <p>37 dB</p>
                                </li>
                                <li>
                                    <h4>Noise Emission Class</h4>
                                    <p>C</p>
                                </li>
                                <li>
                                    <h4>Cycle</h4>
                                    <p>• Type: 1Comp 2Eva<br/>
                                        • Refrigerant type: R600a</p>
                                </li>
                                <li>
                                    <h4>Smart</h4>
                                    <p>• Refrigerator control: Yes<br/>
                                        • Smart detection: Yes<br/>
                                        • Voice control: Yes (only in English)</p>
                                </li>
                                <li>
                                    <h4>Door Type</h4>
                                    <p>• R: Instaview (auto)<br/>
                                        • FU: Drawer (Passive)<br/>
                                        • FL: Drawer (Auto Lift)<br/>
                                        • Knock-on: Yes<br/>
                                        • Auto door open: Yes<br/>
                                        • Auto lift: Yes</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">OTHERS</a>
                            <ul class="depth2">
                                <li>
                                    <h4>Case Foam</h4>
                                    <p>• Type: Pet<br/>
                                        • Auto Open Door: Yes<br/>
                                        • Color: Finishing</p>
                                </li>
                                <li>
                                    <h4>Display Type</h4>
                                    <p>LCD (inside)</p>
                                </li>
                                <li>
                                    <h4>Interior Clad</h4>
                                    <p>Yes</p>
                                </li>
                                <li>
                                    <h4>Door Basket</h4>
                                    <p>Door type: Glass Door</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="#" class="backToTop"><i class="fa-solid fa-chevron-up"></i></a>
    </div>
    <%- include("footer")%>