<%- include("header",{ title:"NOTICE REVIEW | LG SIGNATURE", cssFiles:["review_update.css"], jsFiles:["header.js","login_join/scroll.js"] }) %>
    <div id="container">
        <div class="cont1">
            리뷰 수정 페이지
        </div>
    </div>
    <%- include("footer")%>