<%- include("header",{ title:"NOTICE REVIEW | LG SIGNATURE", cssFiles:["review_detail.css"], jsFiles:["header.js","scroll.js"] }) %>
    <div id="container">
        <div class="cont1">
            리뷰글 상세 페이지
        </div>
    </div>
    <%- include("footer")%>