* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
}

img, video {
  vertical-align: top;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

input, button {
  outline: none;
}

#header {
  font-family: "Poppins", sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  transition: all 0.5s;
  border-bottom: 1px solid transparent;
}
#header .bg {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: #eee;
  transition: all 0.5s;
}
#header .topHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
#header .botHeader {
  display: flex;
  justify-content: center;
  position: relative;
}
#header .botHeader .center {
  width: 62.5%;
}
#header .botHeader .center .gnb {
  display: flex;
  width: 100%;
}
#header .botHeader .center .gnb > li {
  width: 20%;
}
#header .botHeader .center .gnb > li > a {
  height: 50px;
  font-weight: 500;
  color: #fff;
  display: block;
  transition: all 0.5s;
  position: relative;
}
#header .botHeader .center .gnb > li > a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#header .botHeader .center .gnb > li > a > span::after {
  content: "";
  display: block;
  background-color: #000;
  width: 100%;
  height: 2px;
  margin-top: 3px;
  transform: scale(0);
  transition: all 0.5s;
}
#header .botHeader .center .gnb > li:hover > a > span::after {
  transform: scale(1);
}
#header .botHeader .center .gnb > li .depth2 {
  position: absolute;
  width: 83%;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 0px;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  display: flex;
  transition: all 0.5s;
}
#header .botHeader .center .gnb > li .depth2 > li {
  width: 16.666666%;
  transition: all 0.5s;
}
#header .botHeader .center .gnb > li .depth2 > li a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  color: #000;
}
#header .botHeader .center .gnb > li .depth2 > li a img {
  width: 80%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: all 0.5s;
  transform: scale(1);
}
#header .botHeader .center .gnb > li .depth2 > li a p {
  position: relative;
}
#header .botHeader .center .gnb > li .depth2 > li a p::after {
  position: absolute;
  bottom: 10px;
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 2px;
  transform: scale(0);
  transition: all 0.5s;
}
#header .botHeader .center .gnb > li .depth2 > li:hover {
  background-color: #222;
}
#header .botHeader .center .gnb > li .depth2 > li:hover a {
  color: #fff;
}
#header .botHeader .center .gnb > li .depth2 > li:hover a img {
  transform: scale(1.2);
}
#header .botHeader .center .gnb > li .depth2 > li:hover a p::after {
  transform: scale(1);
}

#header.top {
  background: none;
  background-color: transparent;
  border-bottom: 1px solid transparent;
}
#header.top .botHeader {
  display: flex;
}
#header.top .botHeader .center .gnb > li > a {
  color: #fff;
}

#header.up {
  background: none;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
#header.up .botHeader {
  display: flex;
}
#header.up .botHeader .center .gnb > li > a {
  color: #000;
}

#header.down {
  background: linear-gradient(180deg, #000, #000 10%, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0));
  border: none;
}
#header.down .botHeader {
  display: none;
}

#header.white {
  background: #fff;
  border-bottom: 1px solid #eee;
}
#header.white .botHeader .center .gnb > li > a {
  color: #000;
}

#container .cont1 {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
#container .cont1 .vidWrap {
  width: 100%;
  height: 100%;
}
#container .cont1 .vidWrap video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#container .cont1 .textWrap {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}
#container .cont1 .textWrap h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
#container .cont1 .textWrap p {
  font-size: 18px;
  line-height: 30px;
}
#container .cont1 .scrollWrap {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s;
}
#container .cont1 .scrollWrap img {
  width: 31px;
}
#container .cont1 .scrollWrap.move {
  bottom: 30px;
}
#container .cont2 {
  position: relative;
  margin-top: 120vh;
  background-color: #000;
  height: 1000px;
}
#container .cont3 {
  position: relative;
  background-color: #fff;
  height: 1000px;
}

#footer {
  position: relative;
  height: 100px;
  background-color: #222;
  color: #fff;
}