* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
}

img, video {
  vertical-align: top;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

input, button {
  outline: none;
}

#header {
  font-family: "Poppins", sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 20;
  transition: all 0.5s;
  border-bottom: 1px solid transparent;
}
#header .bg {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: #eee;
  transition: all 0.5s;
}
#header .topHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
#header .botHeader {
  display: flex;
  justify-content: center;
  position: relative;
}
#header .botHeader .center {
  width: 62.5%;
}
#header .botHeader .center .gnb {
  display: flex;
  width: 100%;
}
#header .botHeader .center .gnb > li {
  width: 20%;
}
#header .botHeader .center .gnb > li > a {
  height: 50px;
  font-weight: 500;
  color: #fff;
  display: block;
  transition: all 0.5s;
  position: relative;
}
#header .botHeader .center .gnb > li > a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#header .botHeader .center .gnb > li > a > span::after {
  content: "";
  display: block;
  background-color: #000;
  width: 100%;
  height: 2px;
  margin-top: 3px;
  transform: scale(0);
  transition: all 0.5s;
}
#header .botHeader .center .gnb > li:hover > a > span::after {
  transform: scale(1);
}
#header .botHeader .center .gnb > li .depth2 {
  position: absolute;
  width: 83%;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 0px;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  display: flex;
  transition: all 0.5s;
}
#header .botHeader .center .gnb > li .depth2 > li {
  width: 16.666666%;
  transition: all 0.5s;
}
#header .botHeader .center .gnb > li .depth2 > li a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  color: #000;
}
#header .botHeader .center .gnb > li .depth2 > li a img {
  width: 80%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: all 0.5s;
  transform: scale(1);
}
#header .botHeader .center .gnb > li .depth2 > li a p {
  position: relative;
}
#header .botHeader .center .gnb > li .depth2 > li a p::after {
  position: absolute;
  bottom: 10px;
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 2px;
  transform: scale(0);
  transition: all 0.5s;
}
#header .botHeader .center .gnb > li .depth2 > li:hover {
  background-color: #222;
}
#header .botHeader .center .gnb > li .depth2 > li:hover a {
  color: #fff;
}
#header .botHeader .center .gnb > li .depth2 > li:hover a img {
  transform: scale(1.2);
}
#header .botHeader .center .gnb > li .depth2 > li:hover a p::after {
  transform: scale(1);
}
#header .loginWrap {
  position: absolute;
  top: 40px;
  right: 10%;
  display: flex;
}
#header .loginWrap > a {
  margin-left: 20px;
  display: flex;
}
#header .loginWrap > a:nth-child(2)::before, #header .loginWrap > a:nth-child(3)::before {
  content: "|";
  display: block;
  color: #fff;
  font-size: 15px;
  margin-right: 20px;
}
#header .loginWrap > a span {
  font-size: 15px;
  color: #fff;
  transition: all 0.5s;
}
#header .loginWrap > a span::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin-top: 2px;
  transform: scale(0);
  transition: all 0.5s;
}
#header .loginWrap > a:hover span::after {
  transform: scale(1);
}
#header .hamMenu {
  position: absolute;
  top: 40px;
  right: 10%;
  color: #fff;
  font-size: 30px;
  display: none;
}
#header .mobileMenu {
  position: fixed;
  top: 0;
  right: -351px;
  width: 350px;
  height: 100vh;
  background-color: #fff;
  transition: all 0.5s;
  border-left: 1px solid #ddd;
}
#header .mobileMenu .gnbMenu {
  padding: 80px 50px;
}
#header .mobileMenu .gnbMenu > li {
  margin-top: 40px;
  overflow: hidden;
}
#header .mobileMenu .gnbMenu > li > a {
  color: #111;
  font-size: 22px;
  font-weight: 500;
  display: block;
  width: 100%;
}
#header .mobileMenu .gnbMenu > li:nth-child(1) {
  position: relative;
}
#header .mobileMenu .gnbMenu > li:nth-child(1) i {
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s;
}
#header .mobileMenu .gnbMenu > li .prdMenu {
  height: 0;
  transition: all 0.5s;
}
#header .mobileMenu .gnbMenu > li .prdMenu > li {
  padding: 15px;
}
#header .mobileMenu .gnbMenu > li .prdMenu > li:nth-child(1) {
  padding-top: 40px;
}
#header .mobileMenu .gnbMenu > li .prdMenu > li > a {
  font-size: 15px;
  font-weight: 400;
  color: #757575;
  transition: all 0.5s;
}
#header .mobileMenu .gnbMenu > li .prdMenu > li:hover a {
  color: #000;
}
#header .mobileMenu .gnbMenu > li:nth-child(6) {
  display: flex;
  justify-content: space-between;
}
#header .mobileMenu .gnbMenu > li:nth-child(6) a {
  width: auto;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
#header .mobileMenu .gnbMenu > li:nth-child(6) a:nth-child(2)::before, #header .mobileMenu .gnbMenu > li:nth-child(6) a:nth-child(3)::before {
  content: "|";
  display: block;
  color: #000;
  font-size: 16px;
  margin-right: 20px;
}
#header .mobileMenu .gnbMenu > li:nth-child(6) .before {
  font-size: 16px;
}
#header .mobileMenu .gnbMenu > li:nth-child(6) .after {
  font-size: 13px;
}
#header .mobileMenu .gnbMenu > li:nth-child(6) .after:nth-child(2)::before, #header .mobileMenu .gnbMenu > li:nth-child(6) .after:nth-child(3)::before {
  font-size: 13px;
}
#header .mobileMenu .gnbMenu > li.on i {
  transform: rotate(180deg);
}
#header .mobileMenu .gnbMenu > li.on .prdMenu {
  height: 301px;
}
#header .mobileMenu .closeBtn {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 30px;
  color: #000;
}

#header.top {
  background: none;
  background-color: transparent;
  border-bottom: 1px solid transparent;
}
#header.top .botHeader .center .gnb > li > a {
  color: #fff;
}
#header.top .loginWrap > a::before {
  color: #fff;
}
#header.top .loginWrap > a span {
  color: #fff;
}
#header.top .loginWrap > a span::after {
  color: #fff;
}

#header.mtop {
  background: none;
  background-color: transparent;
  border-bottom: 1px solid transparent;
}
#header.mtop .hamMenu {
  color: #fff;
}

#header.up {
  background: none;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
#header.up .botHeader .center .gnb > li > a {
  color: #000;
}
#header.up .loginWrap > a::before {
  color: #000;
}
#header.up .loginWrap > a span {
  color: #000;
}
#header.up .loginWrap > a span::after {
  background-color: #000;
}

#header.mup {
  background: none;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
#header.mup .hamMenu {
  color: #000;
}

#header.down {
  background: linear-gradient(180deg, #000, #000 10%, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0));
  border: none;
}

#header.mdown {
  background: linear-gradient(180deg, #000, #000 10%, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0));
  border: none;
}

#header.white {
  background: #fff;
  border-bottom: 1px solid #eee;
}
#header.white .botHeader .center .gnb > li > a {
  color: #000;
}
#header.white .loginWrap > a::before {
  color: #000;
}
#header.white .loginWrap > a span {
  color: #000;
}
#header.white .hamMenu {
  color: #000;
}

@media screen and (max-width: 1600px) {
  #header .botHeader .center .gnb > li .depth2 {
    width: 100%;
  }
}
#footer {
  position: relative;
  padding: 50px 0;
  background-color: #0c0c0c;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
#footer .center {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer .center > ul {
  margin-bottom: 30px;
}
#footer .center .sns {
  display: flex;
}
#footer .center .sns li {
  margin: 0 20px;
}
#footer .center .sns li a {
  font-size: 22px;
  color: #777;
  transition: all 0.5s;
}
#footer .center .sns li a:hover {
  color: #fff;
}
#footer .center .footerMenu {
  display: flex;
  width: 100%;
}
#footer .center .footerMenu li {
  width: 16.666666%;
}
#footer .center .footerMenu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#footer .center .footerMenu li a span {
  font-size: 17px;
}
#footer .center .footerMenu li a span::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin-top: 3px;
  transition: all 0.5s;
  transform: scale(0);
}
#footer .center .footerMenu li a:hover span::after {
  transform: scale(1);
}
#footer .center .textWrap {
  text-align: center;
  color: #a6a6a6;
}
#footer .center .textWrap p {
  margin-bottom: 20px;
  line-height: 25px;
}
#footer .center .textWrap span {
  font-size: 12px;
}

@media screen and (max-width: 1200px) {
  #footer .center {
    width: 75%;
  }
}
@media screen and (max-width: 950px) {
  #footer .center {
    width: 85%;
  }
}
@media screen and (max-width: 768px) {
  #footer .center {
    width: 90%;
  }
  #footer .center .footerMenu {
    flex-direction: column;
    align-items: center;
  }
  #footer .center .footerMenu li {
    margin: 15px 0;
  }
  #footer .center .textWrap p {
    font-size: 14px;
  }
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

#container .cont1 {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
#container .cont1 .vidWrap {
  width: 100%;
  height: 100%;
}
#container .cont1 .vidWrap video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#container .cont1 .textWrap {
  position: absolute;
  width: 80%;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}
#container .cont1 .textWrap h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
#container .cont1 .textWrap p {
  font-size: 18px;
  line-height: 30px;
}
#container .cont1 .scrollWrap {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s;
}
#container .cont1 .scrollWrap img {
  width: 31px;
}
#container .cont1 .scrollWrap.move {
  bottom: 30px;
}
#container .cont2 {
  position: relative;
  margin-top: 120vh;
  background-color: #000;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  padding: 150px 0 100px;
}
#container .cont2 .center {
  width: 62.5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#container .cont2 .center .prdBox {
  display: block;
  margin-bottom: 50px;
  width: 29.5%;
}
#container .cont2 .center .prdBox > div {
  position: relative;
  width: 100%;
  height: 354px;
}
#container .cont2 .center .prdBox > div::after {
  content: "";
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 95%;
  height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
#container .cont2 .center .prdBox > div > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s;
}
#container .cont2 .center .prdBox > div .prdImg {
  opacity: 1;
}
#container .cont2 .center .prdBox > div .prdhoverImg {
  opacity: 0;
}
#container .cont2 .center .prdBox > div p {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  opacity: 0;
  transition: all 0.5s;
}
#container .cont2 .center .prdBox > div p::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin-top: 3px;
  opacity: 0;
  transition: all 0.5s;
}
#container .cont2 .center .prdBox:hover > div::after {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
}
#container .cont2 .center .prdBox:hover > div .prdImg {
  opacity: 0;
}
#container .cont2 .center .prdBox:hover > div .prdhoverImg {
  opacity: 1;
}
#container .cont2 .center .prdBox:hover > div p {
  opacity: 1;
}
#container .cont2 .center .prdBox:hover > div p::after {
  opacity: 1;
}
#container .cont2 .center .prdBox h2 {
  color: #fff;
  margin-top: 25px;
  font-size: 20px;
  text-align: center;
}
#container .cont3 {
  font-family: "Poppins", sans-serif;
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
#container .cont3 .center {
  width: 83%;
  position: relative;
}
#container .cont3 .center .textWrap {
  position: absolute;
  padding-left: 3vw;
  top: 45%;
  left: 0;
  width: 100%;
  z-index: 5;
}
#container .cont3 .center .textWrap h4 {
  font-size: 20px;
  font-weight: 500;
  color: #a50034;
}
#container .cont3 .center .textWrap h2 {
  font-size: 80px;
  padding: 15px 0 25px;
}
#container .cont3 .center .textWrap h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 35px;
  padding-bottom: 40px;
}
#container .cont3 .center .textWrap p {
  font-size: 14px;
  padding-bottom: 40px;
  line-height: 25px;
}
#container .cont3 .center .textWrap a {
  display: block;
  width: 280px;
  height: 45px;
  border: 1px solid #a50034;
}
#container .cont3 .center .textWrap a .text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a50034;
  width: 100%;
  height: 100%;
  color: #fff;
  transition: all 0.5s;
}
#container .cont3 .center .textWrap a:hover .text {
  background-color: #fff;
  color: #a50034;
}
#container .cont3 .center .tvWrap {
  position: relative;
  width: 100%;
}
#container .cont3 .center .tvWrap video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s;
  display: block;
}
#container .cont3 .center .tvWrap img {
  display: none;
}
#container .cont4 {
  font-family: "Poppins", sans-serif;
  position: relative;
  background-color: #fff;
  padding: 250px 0 150px;
}
#container .cont4::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #a50034;
  top: 0px;
  left: 50%;
  width: 2px;
  height: 80px;
}
#container .cont4 .imgWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
#container .cont4 .imgWrap .center {
  width: 83%;
  height: 843px;
  position: relative;
}
#container .cont4 .imgWrap .center img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
#container .cont4 .imgWrap .center .prdVid {
  display: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
#container .cont4 .imgWrap .center .play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-size: 20px;
  transition: all 0.5s;
}
#container .cont4 .imgWrap .center .play:hover {
  background-color: #a50034;
  color: #fff;
}
#container .cont4 .imgWrap .center .close {
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #000;
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  font-size: 20px;
  z-index: 10;
  transition: all 0.5s;
}
#container .cont4 .imgWrap .center .close:hover {
  background-color: #a50034;
}
#container .cont4 .imgWrap.on .center .prdVid {
  display: block;
}
#container .cont4 .imgWrap.on .center .play {
  display: none;
}
#container .cont4 .imgWrap.on .center .close {
  display: flex;
}
#container .cont4 .textWrap {
  display: flex;
  justify-content: center;
}
#container .cont4 .textWrap .center {
  width: 100%;
  display: flex;
  justify-content: center;
}
#container .cont4 .textWrap .center .text {
  width: 650px;
  text-align: center;
}
#container .cont4 .textWrap .center .text h2 {
  font-size: 60px;
  line-height: 65px;
  padding-bottom: 80px;
  position: relative;
}
#container .cont4 .textWrap .center .text h2::after {
  content: "";
  display: block;
  background-color: #a50034;
  width: 60px;
  height: 2px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
#container .cont4 .textWrap .center .text p {
  font-size: 22px;
  line-height: 36px;
  color: #333;
}
#container .cont5 {
  font-family: "Poppins", sans-serif;
  position: relative;
  background-color: #fff;
  padding: 100px 0 300px;
}
#container .cont5 .imgWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
#container .cont5 .imgWrap .center {
  width: 83%;
  height: 792px;
  position: relative;
}
#container .cont5 .imgWrap .center .imgs {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#container .cont5 .imgWrap .center .imgs > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#container .cont5 .imgWrap .center .imgs > img:nth-child(1) {
  display: block;
}
#container .cont5 .imgWrap .center .area {
  width: 60px;
  height: 400px;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 10;
}
#container .cont5 .imgWrap .center .area::after {
  content: "";
  display: block;
  width: 2px;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#container .cont5 .imgWrap .center .area_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-image: url(/img/index/btn-drag.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: rotate(90deg);
  filter: drop-shadow(0 0 0 #999);
  z-index: 10;
}
#container .cont5 .imgWrap .center .titleWrap {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transition: all 0.5s;
  opacity: 0;
}
#container .cont5 .imgWrap .center .titleWrap span {
  font-size: 20px;
  color: #444;
}
#container .cont5 .imgWrap .center .titleWrap h2 {
  font-size: 60px;
  padding-top: 10px;
}
#container .cont5 .textWrap {
  display: flex;
  justify-content: center;
}
#container .cont5 .textWrap .center {
  width: 100%;
  display: flex;
  justify-content: center;
}
#container .cont5 .textWrap .center .text {
  width: 650px;
  text-align: center;
}
#container .cont5 .textWrap .center .text h2 {
  font-size: 60px;
  line-height: 65px;
  padding-bottom: 80px;
  position: relative;
}
#container .cont5 .textWrap .center .text h2::after {
  content: "";
  display: block;
  background-color: #a50034;
  width: 60px;
  height: 2px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
#container .cont5 .textWrap .center .text p {
  font-size: 22px;
  line-height: 36px;
  color: #333;
}
#container .cont6 {
  font-family: "Poppins", sans-serif;
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}
#container .cont6 .center {
  width: 77%;
  height: 750px;
  position: relative;
  display: flex;
  align-items: center;
}
#container .cont6 .center .textWrap .text {
  width: 30%;
}
#container .cont6 .center .textWrap .text h3 {
  font-size: 20px;
  font-weight: 600;
  color: #444;
  margin-bottom: 15px;
}
#container .cont6 .center .textWrap .text h2 {
  font-size: 60px;
  line-height: 65px;
  padding-bottom: 80px;
  position: relative;
}
#container .cont6 .center .textWrap .text h2::after {
  content: "";
  display: block;
  background-color: #a50034;
  width: 60px;
  height: 2px;
  position: absolute;
  bottom: 40px;
  left: 0%;
}
#container .cont6 .center .textWrap .text p {
  font-size: 22px;
  line-height: 36px;
  color: #333;
}
#container .cont6 .swiper {
  position: absolute;
  top: 0;
  right: 0;
  width: 52%;
  height: 750px;
}
#container .cont6 .swiper .swiper-wrapper .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#container .cont6 .swiper .swiper-wrapper .swiper-slide.one {
  background-image: url(/img/index/prdSlide01.jpg);
}
#container .cont6 .swiper .swiper-wrapper .swiper-slide.two {
  background-image: url(/img/index/prdSlide02.jpg);
}
#container .cont6 .swiper .swiper-wrapper .swiper-slide.three {
  background-image: url(/img/index/prdSlide03.jpg);
  background-position: right;
}
#container .cont6 .swiper .swiper-wrapper .swiper-slide.four {
  background-image: url(/img/index/prdSlide04.jpg);
}
#container .cont6 .swiper .swiper-button-prev,
#container .cont6 .swiper .swiper-button-next {
  top: auto;
  bottom: 0;
  color: #fff;
  background-color: #000;
  width: 50px;
  height: 100px;
  transition: all 0.5s;
}
#container .cont6 .swiper .swiper-button-prev:hover,
#container .cont6 .swiper .swiper-button-next:hover {
  background-color: #a50034;
  color: #fff;
}
#container .cont6 .swiper .swiper-button-prev {
  left: 0;
}
#container .cont6 .swiper .swiper-button-next {
  left: 50px;
}
#container .cont7 {
  font-family: "Poppins", sans-serif;
  position: relative;
  background-color: #fff;
  padding: 150px 0;
}
#container .cont7 .imgWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
#container .cont7 .imgWrap .center {
  width: 83%;
}
#container .cont7 .imgWrap .center .view {
  width: 100%;
  height: 800px;
  margin-bottom: 20px;
  position: relative;
}
#container .cont7 .imgWrap .center .view > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}
#container .cont7 .imgWrap .center .view > img.show {
  opacity: 1;
}
#container .cont7 .imgWrap .center .imgList {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#container .cont7 .imgWrap .center .imgList > a {
  display: block;
  width: 19%;
  height: 150px;
  position: relative;
  border: 4px solid #fff;
  opacity: 0.5;
  transition: all 0.5s;
}
#container .cont7 .imgWrap .center .imgList > a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#container .cont7 .imgWrap .center .imgList > a.show {
  border: 4px solid #a50034;
  opacity: 1;
}
#container .cont7 .textWrap {
  display: flex;
  justify-content: center;
}
#container .cont7 .textWrap .center {
  width: 100%;
  display: flex;
  justify-content: center;
}
#container .cont7 .textWrap .center .text {
  width: 650px;
  text-align: center;
}
#container .cont7 .textWrap .center .text h2 {
  font-size: 60px;
  line-height: 65px;
  padding-bottom: 80px;
  position: relative;
}
#container .cont7 .textWrap .center .text h2::after {
  content: "";
  display: block;
  background-color: #a50034;
  width: 60px;
  height: 2px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
#container .cont7 .textWrap .center .text p {
  font-size: 22px;
  line-height: 36px;
  color: #333;
}
#container .cont8 {
  font-family: "Poppins", sans-serif;
  position: relative;
  background-color: #fff;
  padding: 150px 0;
}
#container .cont8 .imgWrap {
  display: flex;
  justify-content: center;
}
#container .cont8 .imgWrap .center {
  width: 83%;
  height: 600px;
  position: relative;
}
#container .cont8 .imgWrap .center img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}
#container .cont8 .imgWrap .center img.show {
  opacity: 1;
}
#container .cont8 .tabMenu {
  display: flex;
  width: 900px;
  margin: 0 auto;
}
#container .cont8 .tabMenu li {
  width: 33.333333%;
}
#container .cont8 .tabMenu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  color: #444;
  border: 1px solid #ddd;
  font-weight: 600;
}
#container .cont8 .tabMenu li:nth-child(2) a {
  border-right: none;
  border-left: none;
}
#container .cont8 .tabMenu li.show a {
  background-color: #a50034;
  color: #fff;
}
#container .cont8 .wrapper .contentWrap {
  display: none;
  transition: all 0.5s;
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 100px 0 0;
}
#container .cont8 .wrapper .contentWrap .topWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
#container .cont8 .wrapper .contentWrap .topWrap .center {
  width: 100%;
  display: flex;
  justify-content: center;
}
#container .cont8 .wrapper .contentWrap .topWrap .center .text {
  width: 690px;
  text-align: center;
}
#container .cont8 .wrapper .contentWrap .topWrap .center .text h2 {
  font-size: 60px;
  line-height: 65px;
  padding-bottom: 80px;
  position: relative;
}
#container .cont8 .wrapper .contentWrap .topWrap .center .text h2::after {
  content: "";
  display: block;
  background-color: #a50034;
  width: 60px;
  height: 2px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
#container .cont8 .wrapper .contentWrap .topWrap .center .text p {
  font-size: 22px;
  line-height: 36px;
  color: #333;
}
#container .cont8 .wrapper .contentWrap .viewMore, #container .cont8 .wrapper .contentWrap .viewClose {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
#container .cont8 .wrapper .contentWrap .viewMore i, #container .cont8 .wrapper .contentWrap .viewClose i {
  font-size: 20px;
  opacity: 1;
  transition: all 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
#container .cont8 .wrapper .contentWrap .viewMore .fa-plus, #container .cont8 .wrapper .contentWrap .viewMore .fa-minus, #container .cont8 .wrapper .contentWrap .viewClose .fa-plus, #container .cont8 .wrapper .contentWrap .viewClose .fa-minus {
  opacity: 1;
}
#container .cont8 .wrapper .contentWrap .viewMore .fa-arrow-down-long, #container .cont8 .wrapper .contentWrap .viewMore .fa-arrow-up-long, #container .cont8 .wrapper .contentWrap .viewClose .fa-arrow-down-long, #container .cont8 .wrapper .contentWrap .viewClose .fa-arrow-up-long {
  opacity: 0;
}
#container .cont8 .wrapper .contentWrap .viewMore:hover .fa-plus, #container .cont8 .wrapper .contentWrap .viewMore:hover .fa-minus, #container .cont8 .wrapper .contentWrap .viewClose:hover .fa-plus, #container .cont8 .wrapper .contentWrap .viewClose:hover .fa-minus {
  opacity: 0;
}
#container .cont8 .wrapper .contentWrap .viewMore:hover .fa-arrow-down-long, #container .cont8 .wrapper .contentWrap .viewMore:hover .fa-arrow-up-long, #container .cont8 .wrapper .contentWrap .viewClose:hover .fa-arrow-down-long, #container .cont8 .wrapper .contentWrap .viewClose:hover .fa-arrow-up-long {
  opacity: 1;
}
#container .cont8 .wrapper .contentWrap .viewClose {
  display: none;
}
#container .cont8 .wrapper .contentWrap:nth-child(1) .botWrap {
  display: flex;
  justify-content: center;
  height: 0;
  overflow: hidden;
}
#container .cont8 .wrapper .contentWrap:nth-child(1) .botWrap .center {
  width: 990px;
}
#container .cont8 .wrapper .contentWrap:nth-child(1) .botWrap .center img {
  display: block;
  width: 100%;
  height: 530px;
  margin-bottom: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap {
  display: flex;
  justify-content: center;
  height: 0;
  overflow: hidden;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center {
  width: 990px;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineImgWrap {
  width: 100%;
  height: 550px;
  position: relative;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineImgWrap img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineImgWrap img.on {
  opacity: 1;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineMenu {
  display: flex;
  width: 650px;
  margin: 70px auto;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineMenu li {
  width: 20%;
  border-left: 1px solid #ddd;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineMenu li a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 90px;
  color: #777;
  text-align: center;
  transition: all 0.5s;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineMenu li a i {
  font-size: 35px;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineMenu li a h5 {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineMenu li a:hover {
  color: #a50034;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineMenu li:nth-child(1) {
  border-left: none;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineMenu li:nth-child(4) a h5, #container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineMenu li:nth-child(5) a h5 {
  font-size: 15px;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineMenu li.on a {
  color: #a50034;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineText {
  width: 650px;
  margin: 0 auto;
  position: relative;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineText .textView {
  display: none;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineText .textView h3 {
  font-size: 36px;
  margin-bottom: 35px;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineText .textView p {
  color: #333;
  font-size: 22px;
  line-height: 36px;
  padding-bottom: 30px;
}
#container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineText .textView.on {
  display: block;
}
#container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap {
  display: flex;
  justify-content: center;
  height: 0;
  overflow: hidden;
}
#container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap .center {
  width: 990px;
}
#container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap .center .soundImg {
  width: 100%;
}
#container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap .center .soundImg img {
  display: block;
  width: 100%;
  height: 680px;
  -o-object-fit: cover;
     object-fit: cover;
}
#container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap .center .soundWrap {
  width: 650px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}
#container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap .center .soundWrap h3 {
  font-size: 36px;
  margin-bottom: 35px;
}
#container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap .center .soundWrap p {
  color: #333;
  font-size: 22px;
  line-height: 36px;
  padding-bottom: 30px;
}
#container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap .center .soundWrap span {
  font-size: 14px;
  line-height: 20px;
  color: #999;
}
#container .cont8 .wrapper .contentWrap .botWrap {
  transition: all 0.8s;
}
#container .cont8 .wrapper .contentWrap.show {
  display: block;
}
#container .cont9 {
  font-family: "Poppins", sans-serif;
  position: relative;
  background-color: #fff;
  padding: 150px 0;
}
#container .cont9 .moonWrap {
  width: 1600px;
  height: 800px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
#container .cont9 .moonWrap .moonBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#container .cont9 .moonWrap .moonBox img {
  width: 1600px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
#container .cont9 .moonWrap .moonBox.left {
  width: 50%;
  overflow: hidden;
}
#container .cont9 .moonWrap .dragBox {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 10px;
  height: 100%;
  background-image: url(/img/index/bg-drag-line.png);
  background-repeat: repeat-y;
  background-position: center;
}
#container .cont9 .moonWrap .dragBox::after {
  content: "< >";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
  font-size: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
#container .cont9 .moonWrap .dragBox:hover::after {
  background-color: #fff;
  color: #000;
}
#container .cont9 .textWrap {
  display: flex;
  justify-content: center;
  margin-top: 800px;
}
#container .cont9 .textWrap .center {
  width: 100%;
  display: flex;
  justify-content: center;
}
#container .cont9 .textWrap .center .text {
  width: 650px;
  text-align: center;
}
#container .cont9 .textWrap .center .text h2 {
  font-size: 60px;
  line-height: 65px;
  padding-bottom: 80px;
  position: relative;
}
#container .cont9 .textWrap .center .text h2::after {
  content: "";
  display: block;
  background-color: #a50034;
  width: 60px;
  height: 2px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
#container .cont9 .textWrap .center .text p {
  font-size: 22px;
  line-height: 36px;
  color: #333;
}
#container .cont10 {
  font-family: "Poppins", sans-serif;
  position: relative;
  background-color: #fff;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#container .cont10 .galleryWrap {
  width: 83%;
  height: 1110px;
  background-color: #000;
  display: flex;
  justify-content: center;
}
#container .cont10 .galleryWrap .imgWrap {
  width: 88%;
  position: relative;
}
#container .cont10 .galleryWrap .imgWrap .view {
  width: 32%;
  background-color: transparent;
  position: absolute;
  overflow: hidden;
  z-index: 5;
  transition: all 0.7s;
  background-color: #151515;
}
#container .cont10 .galleryWrap .imgWrap .view:nth-child(1) {
  height: 360px;
  top: 240px;
  left: 0;
}
#container .cont10 .galleryWrap .imgWrap .view:nth-child(2) {
  height: 600px;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
#container .cont10 .galleryWrap .imgWrap .view:nth-child(3) {
  height: 280px;
  top: 240px;
  right: 0;
}
#container .cont10 .galleryWrap .imgWrap .view:nth-child(4) {
  height: 280px;
  bottom: 210px;
  left: 0;
}
#container .cont10 .galleryWrap .imgWrap .view:nth-child(5) {
  height: 280px;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
#container .cont10 .galleryWrap .imgWrap .view:nth-child(6) {
  height: 360px;
  bottom: 210px;
  right: 0;
}
#container .cont10 .galleryWrap .imgWrap .view img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
}
#container .cont10 .galleryWrap .imgWrap .view i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s;
}
#container .cont10 .galleryWrap .imgWrap .view:hover img {
  transform: scale(1.2);
}
#container .cont10 .galleryWrap .imgWrap .view:hover i {
  opacity: 1;
}
#container .cont10 .galleryWrap .imgWrap .view.on {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 910px;
  z-index: 6;
}
#container .cont10 .galleryWrap .imgWrap .view.on img {
  opacity: 0;
}
#container .cont10 .galleryWrap .imgWrap .cover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 910px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.7s;
}
#container .cont10 .galleryWrap .imgWrap .cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#container .cont10 .galleryWrap .imgWrap .cover .coverClose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 40px;
  right: 40px;
  transition: all 0.5s;
}
#container .cont10 .galleryWrap .imgWrap .cover .coverClose:hover {
  background-color: #fff;
  color: #000;
}
#container .cont10 .galleryWrap .imgWrap .cover.on {
  opacity: 1;
  z-index: 10;
  transition-delay: 0.5s;
}
#container .cont10 .textWrap {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
#container .cont10 .textWrap .center {
  width: 100%;
  display: flex;
  justify-content: center;
}
#container .cont10 .textWrap .center .text {
  width: 650px;
  text-align: center;
}
#container .cont10 .textWrap .center .text h2 {
  font-size: 60px;
  line-height: 70px;
  padding-bottom: 80px;
  position: relative;
}
#container .cont10 .textWrap .center .text h2::after {
  content: "";
  display: block;
  background-color: #a50034;
  width: 60px;
  height: 2px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
#container .cont10 .textWrap .center .text p {
  font-size: 22px;
  line-height: 36px;
  color: #333;
}
#container .cont10 .bannerWrap {
  width: 83%;
  height: 380px;
  margin-top: 100px;
  background-image: url(/img/index/bannerBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#container .cont10 .bannerWrap .context {
  padding: 70px;
}
#container .cont10 .bannerWrap .context h3 {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 10px;
  color: #fff;
}
#container .cont10 .bannerWrap .context h2 {
  font-size: 36px;
  color: #fff;
  padding-bottom: 120px;
}
#container .cont10 .bannerWrap .context a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  background-color: #a50034;
  color: #fff;
  font-size: 15px;
  transition: all 0.5s;
}
#container .cont10 .bannerWrap .context a:hover {
  background-color: #fff;
  color: #a50034;
}
#container .backToTop {
  position: fixed;
  bottom: 50px;
  right: 0px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  transition: all 0.5s;
  z-index: 10;
}
#container .backToTop:hover {
  background-color: #a50034;
}
#container .backToTop.show {
  right: 50px;
  opacity: 1;
}

@media screen and (max-width: 1600px) {
  #container .cont2 .center .prdBox > div {
    height: 250px;
  }
  #container .cont3 {
    padding-bottom: 0;
  }
  #container .cont3 .center .textWrap {
    top: 30%;
  }
  #container .cont3 .center .textWrap h3 {
    font-size: 22px;
    line-height: 30px;
  }
  #container .cont3 .center .textWrap p {
    font-size: 12px;
    line-height: 22px;
  }
  #container .cont4 .imgWrap .center {
    height: 600px;
  }
  #container .cont5 .imgWrap .center {
    height: 600px;
  }
  #container .cont5 .imgWrap .center .titleWrap {
    width: 550px;
  }
  #container .cont5 .imgWrap .center .titleWrap h2 {
    font-size: 50px;
  }
  #container .cont6 .center {
    height: 600px;
  }
  #container .cont6 .swiper {
    height: 600px;
  }
  #container .cont7 .imgWrap .center .view {
    height: 600px;
  }
  #container .cont7 .imgWrap .center .imgList a {
    height: 100px;
  }
  #container .cont9 .moonWrap {
    width: 1150px;
    height: 600px;
  }
  #container .cont9 .moonWrap .moonBox img {
    width: 1150px;
  }
  #container .cont9 .textWrap {
    margin-top: 550px;
  }
  #container .cont10 .galleryWrap {
    height: 900px;
  }
  #container .cont10 .galleryWrap .imgWrap .view:nth-child(1) {
    height: 260px;
  }
  #container .cont10 .galleryWrap .imgWrap .view:nth-child(2) {
    height: 500px;
  }
  #container .cont10 .galleryWrap .imgWrap .view:nth-child(3) {
    height: 180px;
  }
  #container .cont10 .galleryWrap .imgWrap .view:nth-child(4) {
    height: 180px;
  }
  #container .cont10 .galleryWrap .imgWrap .view:nth-child(5) {
    height: 180px;
  }
  #container .cont10 .galleryWrap .imgWrap .view:nth-child(6) {
    height: 260px;
  }
  #container .cont10 .galleryWrap .imgWrap .view.on {
    height: 700px;
  }
  #container .cont10 .galleryWrap .imgWrap .cover {
    height: 700px;
  }
}
@media screen and (max-width: 1200px) {
  #header .botHeader {
    display: none;
  }
  #header .loginWrap {
    display: none;
  }
  #header .hamMenu {
    display: block;
  }
  #container .cont2 .center {
    width: 80%;
  }
  #container .cont2 .center .prdBox {
    width: 48%;
  }
  #container .cont2 .center .prdBox > div {
    height: 300px;
  }
  #container .cont3 {
    height: auto;
    padding: 150px 0 100px;
  }
  #container .cont3 .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #container .cont3 .center .textWrap {
    position: static;
    padding-left: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #container .cont3 .center .textWrap h4 {
    font-size: 24px;
  }
  #container .cont3 .center .textWrap h2 {
    font-size: 100px;
  }
  #container .cont3 .center .textWrap h3 {
    font-size: 30px;
    line-height: 40px;
  }
  #container .cont3 .center .textWrap p {
    font-size: 14px;
  }
  #container .cont3 .center .textWrap a {
    width: 550px;
    height: 55px;
  }
  #container .cont3 .center .tvWrap {
    position: static;
    width: 100%;
    height: 800px;
  }
  #container .cont3 .center .tvWrap video {
    display: none;
  }
  #container .cont3 .center .tvWrap img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #container .cont4 .imgWrap .center {
    width: 90%;
    height: 400px;
  }
  #container .cont5 .imgWrap .center {
    width: 90%;
    height: 450px;
  }
  #container .cont5 .imgWrap .center .titleWrap {
    width: 480px;
    top: 25%;
  }
  #container .cont5 .imgWrap .center .area {
    right: 15px;
  }
  #container .cont6 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  #container .cont6 .center {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #container .cont6 .center .textWrap .text {
    width: 650px;
    text-align: center;
    margin: 0 auto;
  }
  #container .cont6 .center .textWrap .text h2::after {
    left: 50%;
    transform: translateX(-50%);
  }
  #container .cont6 .swiper {
    position: relative;
    width: 90%;
    height: 450px;
    margin-bottom: 100px;
  }
  #container .cont7 .imgWrap .center {
    width: 90%;
  }
  #container .cont7 .imgWrap .center .view {
    height: 400px;
  }
  #container .cont8 .imgWrap .center {
    width: 90%;
    height: 400px;
  }
  #container .cont8 .tabMenu {
    width: 80%;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(1) .botWrap .center {
    width: 90%;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(1) .botWrap .center img {
    height: 400px;
    margin-top: 200px;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center {
    width: 90%;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineImgWrap {
    height: 400px;
    margin-top: 100px;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap .center {
    width: 90%;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap .center .soundImg {
    margin-top: 100px;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap .center .soundImg img {
    height: 500px;
  }
  #container .cont9 .moonWrap {
    width: 900px;
    height: 500px;
  }
  #container .cont9 .moonWrap .moonBox img {
    width: 900px;
  }
  #container .cont9 .textWrap {
    margin-top: 450px;
  }
  #container .cont10 .galleryWrap {
    width: 90%;
  }
  #container .cont10 .bannerWrap {
    width: 90%;
    height: 300px;
  }
  #container .cont10 .bannerWrap .context {
    padding: 35px;
  }
  #footer .center {
    width: 75%;
  }
}
@media screen and (max-width: 950px) {
  #container .cont9 .moonWrap {
    width: 700px;
    height: 400px;
  }
  #container .cont9 .moonWrap .moonBox img {
    width: 700px;
  }
  #container .cont9 .textWrap {
    margin-top: 350px;
  }
  #footer .center {
    width: 85%;
  }
}
@media screen and (max-width: 768px) {
  #container .cont1 .textWrap {
    top: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
  }
  #container .cont1 .textWrap h2 {
    font-size: 22px;
  }
  #container .cont1 .textWrap p {
    font-size: 15px;
  }
  #container .cont2 {
    margin-top: 100vh;
  }
  #container .cont2 .center .prdBox {
    width: 100%;
  }
  #container .cont3 .center {
    width: 90%;
  }
  #container .cont3 .center .textWrap h4 {
    font-size: 20px;
  }
  #container .cont3 .center .textWrap h3 {
    font-size: 22px;
    line-height: 30px;
  }
  #container .cont3 .center .textWrap p {
    font-size: 12px;
    line-height: 22px;
  }
  #container .cont3 .center .textWrap a {
    width: 90%;
  }
  #container .cont3 .center .tvWrap {
    display: none;
  }
  #container .cont4 .imgWrap .center {
    width: 95%;
    height: 280px;
  }
  #container .cont4 .imgWrap .center .play {
    bottom: 20px;
    right: 20px;
  }
  #container .cont4 .textWrap .center {
    width: 90%;
  }
  #container .cont4 .textWrap .center .text {
    width: 100%;
  }
  #container .cont4 .textWrap .center .text h2 {
    font-size: 40px;
    line-height: 45px;
  }
  #container .cont4 .textWrap .center .text p {
    font-size: 18px;
    line-height: 30px;
  }
  #container .cont5 .imgWrap .center {
    width: 95%;
  }
  #container .cont5 .imgWrap .center .area {
    right: 0px;
  }
  #container .cont5 .textWrap .center {
    width: 90%;
  }
  #container .cont5 .textWrap .center .text {
    width: 100%;
  }
  #container .cont5 .textWrap .center .text h2 {
    font-size: 40px;
    line-height: 45px;
  }
  #container .cont5 .textWrap .center .text p {
    font-size: 18px;
    line-height: 30px;
  }
  #container .cont6 .swiper {
    width: 95%;
    height: 350px;
  }
  #container .cont6 .center .textWrap {
    width: 90%;
  }
  #container .cont6 .center .textWrap .text {
    width: 100%;
  }
  #container .cont6 .center .textWrap .text h3 {
    font-size: 16px;
  }
  #container .cont6 .center .textWrap .text h2 {
    font-size: 40px;
    line-height: 45px;
  }
  #container .cont6 .center .textWrap .text p {
    font-size: 18px;
    line-height: 30px;
  }
  #container .cont7 .imgWrap .center {
    width: 95%;
  }
  #container .cont7 .imgWrap .center .view {
    height: 280px;
  }
  #container .cont7 .imgWrap .center .imgList {
    flex-wrap: wrap;
  }
  #container .cont7 .imgWrap .center .imgList a {
    width: 31%;
  }
  #container .cont7 .imgWrap .center .imgList a:nth-child(4), #container .cont7 .imgWrap .center .imgList a:nth-child(5) {
    width: 47%;
    margin-top: 10px;
  }
  #container .cont7 .textWrap .center {
    width: 90%;
  }
  #container .cont7 .textWrap .center .text {
    width: 100%;
  }
  #container .cont7 .textWrap .center .text h2 {
    font-size: 40px;
    line-height: 45px;
  }
  #container .cont7 .textWrap .center .text p {
    font-size: 18px;
    line-height: 30px;
  }
  #container .cont8 .imgWrap .center {
    width: 95%;
    height: 280px;
  }
  #container .cont8 .wrapper .contentWrap .topWrap .center .text {
    width: 90%;
  }
  #container .cont8 .wrapper .contentWrap .topWrap .center .text h2 {
    font-size: 40px;
    line-height: 45px;
  }
  #container .cont8 .wrapper .contentWrap .topWrap .center .text p {
    font-size: 18px;
    line-height: 30px;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(1) .botWrap .center {
    width: 95%;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(1) .botWrap .center img {
    height: 300px;
    margin-top: 300px;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center {
    width: 95%;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineImgWrap {
    height: 300px;
    margin-top: 200px;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineMenu {
    width: 100%;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineMenu li a i {
    font-size: 25px;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineMenu li a h5 {
    font-size: 15px;
    line-height: 18px;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineMenu li:nth-child(4) a h5, #container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineMenu li:nth-child(5) a h5 {
    font-size: 12px;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineText {
    width: 90%;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineText .textView h3 {
    font-size: 30px;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(2) .botWrap .center .lineText .textView p {
    font-size: 18px;
    line-height: 30px;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap .center {
    width: 95%;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap .center .soundImg {
    margin-top: 250px;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap .center .soundImg img {
    height: 300px;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap .center .soundWrap {
    width: 95%;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap .center .soundWrap h3 {
    font-size: 30px;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap .center .soundWrap p {
    font-size: 18px;
    line-height: 30px;
  }
  #container .cont8 .wrapper .contentWrap:nth-child(3) .botWrap .center .soundWrap span {
    font-size: 12px;
    line-height: 18px;
  }
  #container .cont9 .moonWrap {
    width: 490px;
    height: 300px;
  }
  #container .cont9 .moonWrap .moonBox img {
    width: 490px;
  }
  #container .cont9 .textWrap {
    margin-top: 250px;
  }
  #container .cont9 .textWrap .center {
    width: 90%;
  }
  #container .cont9 .textWrap .center .text {
    width: 100%;
  }
  #container .cont9 .textWrap .center .text h2 {
    font-size: 40px;
    line-height: 45px;
  }
  #container .cont9 .textWrap .center .text p {
    font-size: 18px;
    line-height: 30px;
  }
  #container .cont10 .galleryWrap {
    width: 95%;
    height: 700px;
  }
  #container .cont10 .galleryWrap .imgWrap .view:nth-child(1) {
    height: 160px;
  }
  #container .cont10 .galleryWrap .imgWrap .view:nth-child(2) {
    height: 250px;
  }
  #container .cont10 .galleryWrap .imgWrap .view:nth-child(3) {
    height: 160px;
  }
  #container .cont10 .galleryWrap .imgWrap .view:nth-child(4) {
    height: 190px;
    bottom: 100px;
  }
  #container .cont10 .galleryWrap .imgWrap .view:nth-child(5) {
    height: 190px;
    bottom: 150px;
  }
  #container .cont10 .galleryWrap .imgWrap .view:nth-child(6) {
    height: 190px;
    bottom: 100px;
  }
  #container .cont10 .galleryWrap .imgWrap .view.on {
    height: 500px;
  }
  #container .cont10 .galleryWrap .imgWrap .cover {
    height: 500px;
  }
  #container .cont10 .textWrap .center .text {
    width: 90%;
  }
  #container .cont10 .textWrap .center .text h2 {
    font-size: 40px;
    line-height: 45px;
  }
  #container .cont10 .textWrap .center .text p {
    font-size: 18px;
    line-height: 30px;
  }
  #container .cont10 .bannerWrap {
    background-position: right;
    height: 200px;
    position: relative;
  }
  #container .cont10 .bannerWrap .context h3, #container .cont10 .bannerWrap .context h2 {
    display: none;
  }
  #container .cont10 .bannerWrap .context a {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 180px;
    font-size: 12px;
  }
  #container .backToTop.show {
    right: 20px;
  }
  #footer .center {
    width: 90%;
  }
  #footer .center .footerMenu {
    flex-direction: column;
    align-items: center;
  }
  #footer .center .footerMenu li {
    margin: 15px 0;
  }
  #footer .center .textWrap p {
    font-size: 14px;
  }
}
@media screen and (max-width: 550px) {
  #header .topHeader .logo a img {
    width: 200px;
  }
  #container .cont3 .center .textWrap h2 {
    font-size: 70px;
  }
  #container .cont7 .imgWrap .center .imgList a:nth-child(1), #container .cont7 .imgWrap .center .imgList a:nth-child(2), #container .cont7 .imgWrap .center .imgList a:nth-child(3) {
    width: 28%;
  }
  #container .cont7 .imgWrap .center .imgList a:nth-child(4), #container .cont7 .imgWrap .center .imgList a:nth-child(5) {
    width: 44%;
  }
  #container .cont9 .moonWrap {
    width: 440px;
    height: 280px;
  }
  #container .cont9 .moonWrap .moonBox img {
    width: 440px;
  }
  #container .cont9 .textWrap {
    margin-top: 200px;
  }
}
@media screen and (max-width: 450px) {
  .cont9 .moonWrap {
    width: 350px;
    height: 250px;
  }
  .cont9 .moonWrap .moonBox img {
    width: 350px;
  }
  .cont9 .textWrap {
    margin-top: 150px;
  }
}